*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	font-family: 'Poppins', sans-serif;
	font-size: 100%;
}
.outer-wrapper, .row{
	width:100%;
	float:left;
}
.container .form{
	float:left;
	padding-bottom: 40px;
}
.controls{
	width:96%;
	max-width: 560px;
	margin:0 auto;
	padding-bottom: 40px;
	font-size: 18px;
}
.controls a.next{
	float:right;
}
.container{
	padding-top:80px;
	width:95%;
	max-width: 991px;
	margin:0 auto;
}
h1.headline{
	font-size: 22px;
	color:#1b1b1b;
	text-align: center;
	margin:20px 0;
}

span.count{
	width: 60px;
    display: block;
    float: left;
}
span.count + p, .eight{
	    width: calc(100% - 60px);
    float: left;
}
.list, .sub-menu{
	padding-left:60px;
}
.sub-menu ul{
	padding-left:40px;
}
.mb-20{
	margin-bottom:20px;
}
.mt-20{
	margin-top:20px;
}
p,span{
	font-weight: 500;
}

.counting-lines .field{
	width:100%;
	margin:10px 0;
}

.one-half{
	width:50%;
	text-align: left;
	float:left;
}
.second-half{
	width:45%;
	text-align: left;
	float: right;
}

input.dotted{
	width:50px;
	background: transparent;
	border:none;
	border-bottom: 1px dotted #222;
}
input.dotted:focus{
	outline: none;
}

.counting-lines .field::before{
	width:100%;
	display: block;
	clear: both;
	content:'';
}
.outer-wrapper{
	padding-bottom: 40px !important;
}
.ml-30{
	margin-left: 30px;
}
.min-sub-menu{
	width:calc(50% - 60px);
}
.ml-60{
	margin-left:60px;
}
span .checkbox{
	width:17px;
	height: 17px;
	float:right;
	margin-right: 10px;
}

@media screen and (max-width: 767px){

.one-half{
	width:100%;
	float:left;
}
.min-sub-menu{
	width:calc(100% - 60px) !important;
}
.second-half{
	width:100%;
	float:left;
	margin-bottom: 10px;
}
}

@media screen and (max-width: 480px){
.sub-menu ul{
	padding-left:20px;
}
	.list, .sub-menu{
	padding-left:35px;
}
span.count{
	width: 30px;
    display: block;
    float: left;
}
span.count + p{
	    width: calc(100% - 30px);
    float: left;
}

}
