@model SetReferralTrackingListModel
<div id="popover-status" class="hidden">
    <div>
        <form class="form-inline editableform" style="">

            <div class="control-group form-group">
                <div>
                    <div class="editable-input">
                        @Html.DropDownListFor(p => p.SearchReferralTrackingListModel.ReferralStatusID, Model.ReferralStatuses.ToSelectList(Model.SearchReferralTrackingListModel.ReferralStatusID.ToString() ?? "", "Status", "ReferralStatusID", Resource.SelectStatus, ""),
                                              new
                                                  {
                                                      convert_to_number = "",
                                                      id = "ReferralStatusID",
                                                      data_ng_model = "ngValue",
                                                      data_ng_init = "ngValue=ngValue==''?null:ngValue",
                                                      @class = "form-control input-sm"
                                                  })
                        @Html.ValidationMessageFor(m => m.SearchReferralTrackingListModel.ReferralStatusID)
                    </div>
                    <div class="editable-buttons">
                        <button type="submit" class="btn btn-primary btn-sm" data-ng-click="Save()"><i class="glyphicon glyphicon-ok"></i></button>
                        <button type="button" class="btn btn-default btn-sm" data-ng-click="Cancel()"><i class="glyphicon glyphicon-remove"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



<div id="popover-comment" class="hidden">
    <div>
        <form class="form-inline editableform" style="">

            <div class="control-group form-group">
                <div>
                    <div class="editable-input">
                         @Html.TextAreaFor(p => p.SearchReferralTrackingListModel.ReferralTrackingComment,
                                              new
                                                  {
                                                      id = "ReferralStatusID",
                                                      @class = "form-control input-sm",
                                                      data_ng_model = "ngValue",
                                                      data_ng_init = "ngValue=ngValue==''?null:ngValue",
                                                      maxlength=500
                                                  })
                        
                    </div>
                    <div class="editable-buttons">
                        <button type="submit" class="btn btn-primary btn-sm" data-ng-click="Save()"><i class="glyphicon glyphicon-ok"></i></button>
                        <button type="button" class="btn btn-default btn-sm" data-ng-click="Cancel()"><i class="glyphicon glyphicon-remove"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>