.claim_pdf input:focus {
    background-color: #fff !important;
}
body {line-height:normal;}
@font-face {
    font-family: 'CourierNewPSMT';
    src: url('../../fonts/couriernewpsmt/courierNewPSMT.eot?#iefix') format('embedded-opentype'), 
        url('../../fonts/couriernewpsmt/courierNewPSMT.woff') format('woff'), 
        url('../../fonts/couriernewpsmt/courierNewPSMT.ttf') format('truetype'), 
        url('../../fonts/couriernewpsmt/courierNewPSMT.svg#CourierNewPSMT') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Calibri';
    src: url('../../fonts/calibri/calibri.eot?#iefix') format('embedded-opentype'), 
        url('../../fonts/calibri/calibri.woff') format('woff'), 
        url('../../fonts/calibri/calibri.ttf') format('truetype'), 
        url('../../fonts/calibri/calibri.svg#Calibri') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tahoma';
    src: url('../../fonts/tahoma/tahoma.eot?#iefix') format('embedded-opentype'), 
        url('../../fonts/tahoma/tahoma.woff') format('woff'), 
        url('../../fonts/tahoma/tahoma.ttf') format('truetype'), 
        url('../../fonts/tahoma/tahoma.svg#Tahoma') format('svg');
    font-weight: normal;
    font-style: normal;
}



/*.claim_pdf {
    padding: 35px;
}*/

.claim_pdf {
    line-height:1.42857143;
}
.claim_pdf input {
    font-family: 'CourierNewPSMT';
    line-height: normal;
    font-size: 14px;
}

    .claim_pdf .container {
        margin: 0 auto;
        max-width: 1024px;
        background-color: #fff;
        padding: 25px;
        font-size: 15px;
        font-weight: 500;
    }

    .claim_pdf .header {
        letter-spacing: 1px;
        float: left;
        width: 100%;
        font-family: 'CourierNewPSMT';
    }

        .claim_pdf .header img.logo {
            max-width: 55px;
        }

        .claim_pdf .header h4 {
            text-transform: uppercase;
            font-family: 'Tahoma';
            font-weight: bold;
            margin: 5px 0;
            color: #585858;
        }

        .claim_pdf .header .col-lg-5,
        .claim_pdf .header .col-lg-4,
        .claim_pdf .header .col-lg-3 {
            padding: 0;
        }

    .claim_pdf .hed_sub span:nth-child(1) {
        padding: 0;
        float: none;
        letter-spacing: 0;
        font-size: 11px;
        text-transform: uppercase;
        font-family: inherit;
    }

    .claim_pdf .hed_sub span:nth-child(2n) {
        float: none;
        display: inline-block;
        margin-left: 34px;
        vertical-align: top;
        font-family: 'CourierNewPSMT';
    }

    .claim_pdf .hed_sub span:nth-child(3n) {
        float: none;
        display: inline-block;
        margin-left: 80px;
        vertical-align: top;
        font-family: 'CourierNewPSMT';
    }

    .claim_pdf .hed_lst_lft ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        .claim_pdf .hed_lst_lft ul li {
            float: none;
            display: inline-block;
            font-size: 12px;
            vertical-align: -webkit-baseline-middle;
        }

            .claim_pdf .hed_lst_lft ul li input {
                float: left;
                width: 20px;
                height: 20px;
                outline: 0;
                text-align: center;
                 border: 1px solid #999;
            }

    .claim_pdf .hed_lst_lft {
        float: left;
    }

    .claim_pdf .hed_lst_rgt {
        float: right;
    }

        .claim_pdf .hed_lst_rgt ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

            .claim_pdf .hed_lst_rgt ul li {
                float: none;
                display: inline-block;
                font-size: 12px;
                vertical-align: -webkit-baseline-middle;
            }

                .claim_pdf .hed_lst_rgt ul li input {
                    float: left;
                    width: 20px;
                    height: 20px;
                    outline: 0;
                    text-align: center;
                     border: 1px solid #999;
                }

                .claim_pdf .hed_lst_rgt ul li span {
                    float: left;
                }

    .claim_pdf .med_table {
        float: left;
        width: 100%;
        border-top: 4px solid #595959;
        border-left: 2px solid #b5b5b5;
        border-right: 2px solid #b5b5b5;
    }

        .claim_pdf .med_table .col-lg-8 {
            padding: 0;
            border-right: 2px solid #595959;
        }

        .claim_pdf .med_table .col-lg-4 {
            padding: 0;
        }

    .claim_pdf .med_lst ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .claim_pdf .med_lst .med_lst_lft {
        float: left;
    }

    .claim_pdf .med_lst .med_lst_rgt {
        float: left;
        font-size: 11.50px;
        letter-spacing: 0;
        font-weight: normal;
        line-height: normal;
    }

    .claim_pdf .med_lst .med_lst_lft p {
        margin: 0;
    }


    .claim_pdf .med_lst {
        color: #585858;
    }

        .claim_pdf .med_lst .cont {
            display: block;
            position: relative;
            padding-left: 21px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            float: right;
            line-height:normal;
        }


            .claim_pdf .med_lst .cont input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
            }


        .claim_pdf .med_lst .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 17px;
            width: 17px;
            background-color: #fff;
            border: 1px solid #585858;
        }


        .claim_pdf .med_lst .cont:hover input ~ .checkmark {
            background-color: #fff;
        }

        /* When the checkbox is checked, add a blue background */
        .claim_pdf .med_lst .cont input:checked ~ .checkmark {
            background-color: #fff;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .claim_pdf .med_lst .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Show the checkmark when checked */
        .claim_pdf .med_lst .cont input:checked ~ .checkmark:after {
            display: block;
        }

        /* Style the checkmark/indicator */
        .claim_pdf .med_lst .cont .checkmark:after {
            left: 6px;
            top: 1px;
            width: 5px;
            height: 10px;
            border: solid #000;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

    .claim_pdf .med_lst_rgt span {
        font-style: italic;
        padding: 10px 0;
        display: inline-block;
        vertical-align: middle;
    }

    .claim_pdf .med_lst ul li {
        display: inline-block;
        vertical-align: top;
    }


    .claim_pdf .med_lft_lef {
        float: left;
        font-size: 11px;
    }

        .claim_pdf .med_lft_lef span {
            padding-left: 10px;
            font-family: 'CourierNewPSMT';
            letter-spacing: 1px;
            font-size: 14px;
            line-height: normal;
        }

    .claim_pdf .med_lft_rgt {
        float: right;
        font-size: 12px;
        padding-right: 20px;
    }

/*30-07-2018*/
.med_tab {
    float: left;
    width: 100%;
    color: #585858;
}

.dob {
    padding-left: 15px;
    float: left;
}

    .dob .num {
        font-family: 'CourierNewPSMT';
        font-size: 16px;
    }

.med_lst .dob ul li {
    border-right: 1px dashed #a1a1a1;
    padding: 0 5px;
}

    .med_lst .dob ul li:last-child {
        border: none;
    }

.med_lft_lef input {
    border: 0;
    outline: 0;
    width: 100%;
    margin-top: 0;
}

.frm_gen {
    margin: 0;
    padding: 0;
    text-align: center;
}

    .frm_gen li {
        float: none;
        display: inline-block;
    }

ul.frm_gen.med_lst li {
    margin-left: 20px;
}

    ul.frm_gen.med_lst li:first-child {
        margin-left: 0;
    }

ul.frm_gen.med_lst.lst li {
    margin-left: 0;
}


ul.med_yes {
    margin: 0;
    padding: 0;
    text-align: center;
}

    ul.med_yes li {
        float: none;
        display: inline-block;
        margin-left: 18px;
        vertical-align: -webkit-baseline-middle;
    }

.npi_tab input {
    border: 0;
    outline: 0;
    background-color: transparent;
}

    .npi_tab input:focus {
        background-color: transparent;
    }

ul.med_yes.med_lst {
    text-align: left;
}

ul.int_lst {
    margin: 0;
    padding: 0;
    list-style: none;
}

    ul.int_lst li {
        display: inline-block;
        width: 49%;
        border-left: 1px solid #a1a1a1;
    }

        ul.int_lst li:first-child {
            border: none;
        }

        ul.int_lst li input {
            padding: 5px;
            width: 100%;
        }

.dia_lst ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .dia_lst ul li {
        margin: 0 0 5px 0;
        float: left;
        width: 100%;
    }

        .dia_lst ul li input {
            border-bottom: 1px solid #a1a1a1;
            outline: 0;
            border-top: none;
            border-right: none;
            font-family: 'CourierNewPSMT';
            height: 17px;
            margin-left: 10px;
        }

.dia_lst span {
    width: 14px;
}

ul.pre_lst li:first-child {
    width: 30%;
}

ul.pre_lst li:nth-child(2) {
    width: 50%;
    border-left: 1px solid #a1a1a1;
}

ul.mo_lst {
    margin: 0;
    padding: 0;
    list-style: none;
}

    ul.mo_lst li {
        float: left;
        width: 32%;
        border: none;
        height: 25px;
    }

    ul.mo_lst.no_bg li {
        border-left: 1px dashed #a1a1a1;
    }

    ul.mo_lst li:first-child {
        border-left: none;
    }

    ul.mo_lst li input {
        width: 100%;
        float: left;
        outline: 0;
        border: none;
        background-color: #ececec;
        height: 25px;
    }

        ul.mo_lst li input:focus {
            background-color: #ececec !important;
        }

    ul.mo_lst.no_bg li input {
        background-color: transparent;
    }

    ul.mo_lst li input:focus {
        background-color: #fff !important;
    }

.med_lft_lef input:focus {
    background-color: #ececec !important;
}

.ftr_list ul {
    margin: 0;
    padding: 0;
}

    .ftr_list ul li {
        float: none;
        display: inline-block;
        vertical-align: top;
    }

.page_num input {
    border: 0;
    outline: 0;
    width: 35px;
    text-align: center;
    font-family: 'CourierNewPSMT';
}

.pdf_arrow {
    position: absolute;
    top: 470px;
    right:-66px;
    transform: rotate(-90deg);
    font-weight: bold;
}

.pdf_arrow1 {
    position: absolute;
    top: 132px;
    right:44px;
    transform: rotate(-90deg);
    font-weight: bold;
}


.pdf_arrow2 {
    position: absolute;
    right: -65px;
    transform: rotate(-90deg);
    font-weight: bold;
    top: 74%;
}

.pdf_num {
    font-weight: bold;
    position: absolute;
    left: 97px;
    top: 66%;
    font-size: 22px;
}

.pdf_num1 {
    font-weight: bold;
    position: absolute;
    left: 97px;
    top: 69%;
    font-size: 22px;
}

.pdf_num2 {
    font-weight: bold;
    position: absolute;
    left: 97px;
    top: 72%;
    font-size: 22px;
}

.pdf_num3 {
    font-weight: bold;
    position: absolute;
    left: 97px;
    top: 75%;
    font-size: 22px;
}

.pdf_num4 {
    font-weight: bold;
    position: absolute;
    left:97px;
    top:78%;
    font-size: 22px;
}

.pdf_num5 {
    font-weight: bold;
    position: absolute;
    left: 97px;
    top: 81%;
    font-size: 22px;
}

.pdf_num6 {
    font-weight: bold;
    position: absolute;
    left:97px;
    top: 81%;
    font-size: 22px;
}

.med_lft_lef input:focus {
    background-color: #fff !important;
}
