body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1280px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.oops-main .header .logo img {
    max-width: 165px;
}

.oops-main {
    background-color: #fcfcfc;
    height: 100vh;
}

    .oops-main .header {
        background-color: #fff;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        padding: 10px 0px;
    }

    .oops-main .oops-content-section {
        background-color: #fcfcfc;
        height: calc(100vh - 100px);
    }

        .oops-main .oops-content-section .container {
            height: 100%;
        }

.oops-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.oops-content-inner {
    padding: 85px 30px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #d6d6d6;
    background-color: #fff;
    text-align: center;
}

    .oops-content-inner h3 {
        font-size: 26px;
        color: #6d6c6c;
        margin: 0px;
        padding-bottom: 10px;
    }

    .oops-content-inner p {
        font-size: 22px;
        color: #9d9d9d;
        line-height: 28px;
        margin: 0px;
        max-width: 70%;
    }

    .oops-content-inner button.btn.btn-primary {
        background-color: #3597e5;
        border: none;
        color: #fff;
        padding: 10px 15px;
        margin-bottom: 10px;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        cursor: pointer;
        outline: none;
    }

        .oops-content-inner button.btn.btn-primary:hover {
            background-color: #252525;
        }

    .oops-content-inner h4 {
        font-size: 20px;
        color: #252525;
        font-weight: 400;
    }

    .oops-content-inner a {
        font-size: 15px;
        color: #9d9d9d;
    }

        .oops-content-inner a:hover {
            color: #252525;
        }

@media (max-width:767px) {
    .oops-content-inner {
        padding: 35px 30px;
    }

        .oops-content-inner h3 {
            font-size: 22px;
        }

        .oops-content-inner p {
            font-size: 16px;
            line-height: 22px;
            max-width: 90%;
        }

        .oops-content-inner button.btn.btn-primary {
            font-size: 16px;
        }

        .oops-content-inner h4 {
            font-size: 14px;
        }

}
