body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.bar {
    display: none;
}

.page-content {
    margin-left: 0px !important;
}

.page-container {
    margin-top: 0px !important;
}

/*.active {
    color: #151fe2;
}*/

#org_formLibrary {
    display: none;
}

.wizardForm {
    background-color: #efefef;
    min-height: 100vh;
    color: #333 !important;
}

    .wizardForm .logo {
        padding: 15px 0;
    }

.wizardContainer {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08) !important;
    border-top: solid 1px #eaeaea !important;
    background-color: #fff !important;
    padding: 15px;
    position: relative;
    min-height: 600px;
}

    .wizardContainer:after {
        content: "";
        position: absolute;
        top: 1%;
        left: 25%;
        width: 1px;
        height: 98%;
        background: #eee;
    }

.wizardWrap ul {
    margin: 0;
    padding-left: 0;
}

.wizardWrap > ul {
    position: relative;
}

    .wizardWrap > ul:after {
        content: "";
        width: 2px;
        height: calc(100% - 14px);
        top: 44px;
        left: 21px;
        position: absolute;
        background: #eaeaea;
    }
.completed {
    text-decoration: none !important;
}
.wizardWrap > ul.completed:after {
    background: #44bd32 !important;
}

    .wizardWrap > ul.ongoing:after {
        background: #ff3838 !important;
    }

.wizardWrap ul li {
    list-style: none;
}

    .wizardWrap ul li ul li {
        margin: 15px auto;
    }

.wizardWrap ul ul {
    padding-left: 58px;
}

    .wizardWrap ul ul li {
        color: #AAA !important;
    }

.wizardWrap > ul .title {
    padding: 7px 15px;
    position: relative;
    height: 44px;
    line-height: 35px;
    margin-right: 25px;
    padding-left: 60px;
    color: rgba(0,0,0,0.3);
    font-weight: bold;
    white-space: nowrap;
}

    .wizardWrap > ul .title span {
        position: absolute;
        top: 0;
        left: 0;
        background: #fff !important;
        color: rgba(0,0,0,0.2);
        font-size: 18px !important;
        width: 44px;
        height: 44px;
        text-align: center;
        line-height: 42px;
        font-weight: bold;
        overflow: hidden;
        border: solid 2px #eaeaea !important;
        border-radius: 50% !important;
        z-index: 9 !important;
        /*padding-top:10px;*/
    }

.wizardWrap ul li a {
    color: #aaa !important;
}

.wizardWrap ul.completed span {
    border-color: #44bd32 !important;
}

.wizardWrap ul li.completed a {
    color: #44bd32 !important;
}

.wizardWrap > ul.completed .title:before {
    border-left-color: #44bd32 !important;
}

.wizardWrap ul.ongoing span {
    border-color: #ff3838 !important;
    transform: scale(1.2,1.2);
}

.wizardWrap > ul.ongoing .title:before {
    border-left-color: #ff3838 !important;
}

.wizardWrap ul li.ongoing a {
    color: #ff3838 !important;
}

.fa {
    display: inline-block;
    width: 20px;
    text-align: center;
}

.fa-play, .fa-circle {
    font-size: 9px !important;
    display: inline-block;
    transform: translateY(-2px);
}

.navigator {
    text-align: right;
}

    .navigator ul li {
        display: inline-block;
        list-style: none;
    }
.page-bar {
    border-bottom: 1px solid #e7ecf1;
    background-color: #fff !important;
}
.formContent {
    padding-bottom: 30px;
}
.float-right-btm {
    float: right;
}
.visittask-td {
    width: 145px;
}
.last-nav {
    height: 0px;
}