<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="customMailSettings">
      <section name="smtp_general" type="System.Net.Configuration.SmtpSection" />
      <section name="smtp_encryption" type="System.Net.Configuration.SmtpSection" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="MyezcareOrganization" connectionString="Server=192.168.30.21;Database=Kundan_Admin;User ID=devalphadb;Password=B@ckupd@taba$e;" providerName="System.Data.SqlClient" />-->

	  <add name="MyezcareOrganization" connectionString="Server=devdb01;Database=Local_Admin;User ID=localadmin;Password=Loc@l@Dm!n#346$" providerName="System.Data.SqlClient" />
    <add name="OrbeonConnectionString" connectionString="Server=production;Database=Orbeon;User ID=orbeon;Password=T@rg3t346;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--<add key="Domain" value="dev-fenil" />-->
    <add key="Trusted_Connection" value="false" />
    <add key="DBBackupFolder" value="C:\DBBackup\BackUpFilesDotNotDelete\" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="DBCommandTimeOut" value="120" />
    <add key="MaxResultsToInsertInDatabase" value="1000" />
    <add key="PageSize" value="50" />
    <add key="PageIndex" value="1" />
    <add key="SiteBaseURL" value="http://localhost:50036" />
    <!--<add key="SiteBaseURL" value="https://respitecare.zrpath.com" />-->
    <add key="SiteBaseURLMobile" value="https://localhost:44383" />
    <add key="SiteName" value="Zarephath" />
    <add key="SiteLogo" value="zarephath.kairasoftware.com/logo-invert2.png" />
    <add key="SiteLogoPath" value="/SiteLogo/" />
    <!--Log Paths info-->
    <add key="LogPath" value="/log/" />
    <add key="EnableBundlingMinification" value="false" />
    <add key="RememberMeDuration" value="4320" />
    <add key="SupportEmail" value="support@zarephath.com" />
    <add key="SchedulingEmail" value="scheduling@zrpath.com " />
    <add key="EmailVerificationLinkExpirationTime" value="48" />
    <add key="ClientSideDateTimeFormat" value="MM/dd/yyyy h:mm a" />
    <add key="ClientSideDateFormat" value="MM/dd/yyyy" />
    <add key="ScheduleDateFormat" value="MM/dd" />
    <add key="DisplayDateFormat" value="MM/DD/YYYY" />
    <add key="DisplayDateTimeFormat" value="MM/DD/YYYY h:mm a" />
    <add key="UploadPath" value="/uploads/{0}" />
    <add key="AmazoneUploadPath" value="uploads" />
    <add key="NoteAttachment" value="/referral/noteattachment" />
    <add key="ReferralUploadPath" value="/referral/documents/" />
    <add key="ReferralAssessmentResultUploadPath" value="/referral/documents/assessmentresult" />
    <add key="TempFiles" value="/TempFiles/" />
    <add key="Transportation" value="/TransportationLocation/" />
    <add key="EmpSignatures" value="/EmpSignatures/" />
    <add key="GroupNoteLog" value="/GroupNoteLogs/" />
    <add key="ChangeServiceCodeLogs" value="/ChangeServiceCodeLogs/" />
    <add key="FileSize" value="25600" />
    <add key="DateFormatForSaveFile" value="yyyyMMddHHmmssffff" />
    <add key="AppDateTimeFormat" value="yyyy-MM-ddTHH:mm:sszzz" />
    <add key="TransportationGroupCapacity" value="10" />
    <add key="MaxStaff" value="2" />
    <add key="TransPortationConfirmCancelTime" value="5pm" />
    <!--START: Template Path-->
    <add key="TemplateBasePath" value="/assets/include" />
    <add key="EncounterPdfHtmlPath" value="/encounterprint.html" />
    <!-- END: Template Path-->
    <!--START: Edi File Paths info-->
    <add key="EDIFilePath" value="/edi" />
    <add key="EDIFileUploadPath" value="/uploads" />
    <add key="EDIFileDownloadPath" value="/downloads" />
    <add key="EDIFileValidationErrorPath" value="/validation_error" />
    <add key="EDIFile837Path" value="/837/" />
    <add key="EDIFile835Path" value="/835/" />
    <add key="EDIFile835CSVPath" value="/835/csv/" />
    <add key="EdiFile270Path" value="/270/" />
    <add key="EdiFile271Path" value="/271/" />
    <add key="EdiFile271CSVPath" value="/271/csv/" />
    <add key="Edi271FileLog" value="Edi271FileLog/" />
    <add key="EdiFile277Path" value="/277/" />
    <add key="EdiFile277CSVPath" value="/277/csv/" />
    <add key="Edi277FileLog" value="Edi277FileLog/" />
    <add key="Edi277FileName" value="Edi277FileServiceLog.txt" />
    <!--END: Edi File Paths info-->
    <!--START: Referral Respite Usage -->
    <add key="RespiteUsageLimit" value="600" />
    <add key="ResetRespiteUsageMonth" value="10" />
    <add key="ResetRespiteUsageDay" value="1" />
    <add key="CheckRespiteFlag" value="false" />
    <!--END:  Referral Respite Usage-->
    <!--START: Report Respite Usage -->
    <add key="ResetRespiteUsageToMonth" value="9" />
    <add key="ReportExcelFilePath" value="/TempReport/" />
    <!--END:  Report Respite Usage-->
    <add key="NoImageAvailable" value="/Assets/images/no-image-available.jpg" />
    <add key="NoSignatureAvailable" value="/Assets/images/no-image-available.jpg" />
    <!-- Twilio -->
    <!--<add key="TwilioAccountSID" value="AC9b4af8220fa21611572134405c06fe0e" />
    <add key="TwilioAuthToken" value="6f580880879de0016a774968802c52ef" />
    <add key="TwilioFromNo" value="+14804625676" />-->
    <!--<add key="TwilioAccountSID" value="AC5d29d9c529ed8fe0ebbb4f31d09432a0" />
    <add key="TwilioAuthToken" value="7e9747d0d43cc76bbc73d456a3754997" />
    <add key="TwilioFromNo" value="+12672142273" />-->
    <add key="TwilioAccountSID" value="AC66ecdae635db80264a7e2db77a4d92c8" />
    <add key="TwilioAuthToken" value="d24e24722dbfb3197e1a51a04459d944" />
    <add key="TwilioServiceSid" value="IS5c4c21849d905c9f8b1da6c9c101805c" />
    <add key="TwilioFromNo" value="+19182059509" />
    <!--<add key="TwilioFromNo" value="Zarephath" />-->
    <add key="TwilioLogError" value="true" />
    <add key="TwilioLogFilePath" value="TwilioLogFilePath{0}.xml" />
    <add key="TwilioReplyLogFilePath" value="TwilioReplyLogFilePath{0}.xml" />
    <add key="CCEmailAddress" value="ashishsavaliya56@gmail.com" />
    <add key="RecordCCEmailAddress" value="nojunk@kairasoftware.com" />
    <add key="RecordLogEmailAddress" value="jyadav@kairasoftware.com" />
    <add key="DefaultCountryCodeForSms" value="+91" />
    <!--<add key="DefaultCountryCodeForSms" value="+91" />-->
    <!-- Twilio -->
    <!--START:Edi835FileLog Service Details -->
    <add key="Edi835FileLog" value="Edi835FileLog/" />
    <add key="Edi835FileName" value="Edi835FileServiceLog.txt" />
    <!--End:Edi835FileLog Service Details -->
    <!--Start:Delete EDI File Using Service for Some days which we Provide -->
    <add key="DeleteEDIFileLog" value="DeleteEDIFileLog/" />
    <add key="DeleteEDIFileName" value="DeleteEDIFileServiceLog.txt" />
    <add key="DaysForDeleteEDIFile" value="90" />
    <!--End:Delete EDI File Using Service for Some days  -->
    <!--START:ScheduleNotificationLog FileFile Name -->
    <add key="ScheduleNotificationLog" value="ScheduleNotificationLog/" />
    <add key="ScheduleNotificationFileName" value="ScheduleNotificationFileServiceLog.txt" />
    <add key="ScheduleReminderLog" value="ScheduleReminderLog/" />
    <add key="ScheduleReminderFileName" value="ScheduleReminderFileServiceLog.txt" />
    <!--End:ScheduleNotificationLog File File Name -->
    <!--START:Edi835FileLog File Name -->
    <add key="RespiteHourseLog" value="RespiteHoursFileLog/" />
    <add key="RespiteHoursFileName" value="RespiteHoursFileServiceLog.txt" />
    <!--End:Edi835FileLog File Name -->
    <!--START:ScheduleBatchServicesLog File Name -->
    <add key="ScheduleBatchServicesLog" value="ScheduleBatchServicesLog/" />
    <add key="ScheduleBatchServicesFileName" value="ScheduleBatchServicesLog.txt" />
    <!--End:Edi835FileLog File Name -->
    <!--START:ScheduleBatchServicesLog File Name -->
    <add key="SendMissingDocumentEmailLog" value="SendMissingDocumentEmailLog/" />
    <add key="SendMissingDocumentEmailFileName" value="SendMissingDocumentEmailLog.txt" />
    <!--End:ScheduleBatchServicesLog File Name -->
    <!--START:TakeDBBackUp File Name -->
    <add key="TakeDbBackUpLog" value="TakeDbBackUpLog/" />
    <add key="TakeDbBackUpFileName" value="TakeDbBackUpLog.txt" />
    <!--End:TakeDBBackUp File Name -->
    <!--START:Respite Notice Print -->
    <add key="RespiteNoticePrintFilePath" value="/RespiteNotice/" />
    <!--END:Respite Notice Print-->
    <!--START:AttendanceNotificationLog FileFile Name -->
    <add key="AttendanceNotificationLog" value="AttendanceNotificationLog/" />
    <add key="AttendanceNotificationFileName" value="AttendanceNotificationFileServiceLog.txt" />
    <!--End:AttendanceNotificationLog File File Name -->
    <!--START:ServicePlanLog FileFile Name -->
    <add key="ServicePlanLog" value="ServicePlanLog/" />
    <add key="ServicePlanFileName" value="ServicePlanFileServiceLog.txt" />
    <!--End:ServicePlanLog File File Name -->
    <!--START:Amazon S3 Settings -->
    <add key="AccessKeyID" value="AKIAJ7PRM3ATSJHZL5QQ" />
    <add key="SecretAccessKeyID" value="yoRBQrRoY9s2LutLkvWIFHmV0b/j0n+RRAuv48hD" />
    <add key="AmazonS3Url" value="https://s3.amazonaws.com/" />
    <add key="SignUrlExpireTimeLimit" value="10" />
    <!--In Minute-->
    <!--<add key="ZarephathBucket" value="zarephath-stage" />-->
    <add key="ZarephathBucket" value="zarephath-live" />
    <add key="PrivateAcl" value="private" />
    <add key="PublicAcl" value="public-read" />
    <!--End:Amazon S3 Settings -->
    <!--START:BitLy Data -->
    <add key="BitlyUserName" value="jamesnew" />
    <add key="BitlyApiKey" value="R_f1baf30a3f464b58ae857b9343d80480" />
    <!--END:BitLy Data-->
    <!--START: Services Flag To Make Them ON/OFF -->
    <add key="Service_Client_ScheduleNotification_ON" value="false" />
    <add key="Service_Client_ScheduleBatchNotification_ON" value="false" />
    <add key="Service_CM_Compliance_ON" value="false" />
    <add key="Service_CM_Attendance_ON" value="false" />
    <!--Service_CM_ServicePlan_ON : NO LONGER NEEDED-->
    <add key="Service_CM_ServicePlan_ON" value="false" />
    <add key="Service_RespiteHoursReset_ON" value="true" />
    <add key="Service_Edi835FileProcess_ON" value="true" />
    <add key="Service_DeleteEDIFileLog_ON" value="true" />
    <add key="Service_Client_ScheduleReminder_ON" value="true" />
    <!--END:  Services Flag To Make Them ON/OFF-->
    <add key="RouteDebugger:Enabled" value="false" />
    <add key="GenerateEmpRefTimeScheduleDays" value="360" />
    <add key="Service_GenerateEmpTimeScheduleDays_ON" value="true" />
    <add key="GenerateEmpTimeScheduleDaysLog" value="GenerateEmpTimeScheduleDaysLog/" />
    <add key="GenerateEmpTimeScheduleDaysFileName" value="GenerateEmpTimeScheduleDays.txt" />
    <add key="Service_GenerateRefTimeScheduleDays_ON" value="true" />
    <add key="GenerateRefTimeScheduleDaysLog" value="GenerateRefTimeScheduleDaysLog/" />
    <add key="GenerateRefTimeScheduleDaysFileName" value="GenerateRefTimeScheduleDays.txt" />
    <add key="Service_GenerateBulkSchedules_ON" value="true" />
    <add key="GenerateBulkSchedulesLog" value="GenerateBulkSchedulesLog/" />
    <add key="GenerateBulkSchedulesFileName" value="GenerateBulkSchedules.txt" />
    <add key="ShowCaptchOnLoginFailedCount" value="3" />
    <add key="AccountLockedOnLoginFailedCount" value="5" />
    <!--<add key="EbriggsUrl" value="https://209.151.166.188:8443/rest"/>-->
    <add key="EbriggsUrl" value="https://forms.myezcare.com:8443/rest" />
    <!--<add key="EbriggsUserName" value="default@ebriggspf.com"/>
    <add key="EbriggsPassword" value="eBriggsPilotFish"/>-->
    <add key="MyezcareFormsUrl" value="https://forms.myezcare.com" />
    <!--<add key="MyezcarePdfFormsUrl" value="https://pdfforms.myezcare.com/pdfform/loadpdfform"/>-->
    <add key="MyezcarePdfFormsUrl" value="http://localhost:58997/pdfform/LoadPdfForm" />
    <add key="MailChimpApiURL" value="https://us3.api.mailchimp.com/3.0" />
    <add key="MailChimpUserName" value="anystring" />
    <add key="MailChimpApiKey" value="a37e3214ee94860d9fece6b10609a80b-us3" />
    <add key="MailChimpListId" value="0466337a6f" />
    <!--Claim MD APIS-->
    <add key="AccountKey" value="7862HefZCIPEaHvTPDtwkfSyfiaq" />
    <add key="UserID" value="7862" />
    <add key="ClaimMD_UploadFiles_URL" value="https://www.claim.md/services/upload/" />
    <add key="ClaimMD_GetLatestERA_URL" value="https://www.claim.md/services/era/" />
    <add key="ClaimMD_GetERAPDF_URL" value="https://www.claim.md/services/erapdf/" />
    <add key="ClaimMD_ArchieveClaim_URL" value="https://www.claim.md/services/archive/" />
    <add key="ClaimMD_GetERA835_URL" value="https://www.claim.md/services/era835/" />
    <add key="ClaimMD_GetPayerList_URL" value="https://www.claim.md/services/payerlist/" />
    <add key="ClaimMD_PayerEnroll_URL" value="https://www.claim.md/services/enroll/" />
    <add key="ClaimMD_ClaimNotesReuest_URL" value="https://www.claim.md/services/notes/" />
    <add key="ClaimMD_ClaimMessagesReuest_URL" value="https://www.claim.md/services/response/" />
    

    <add key="ReCapchaSiteKey" value="6LfLeHUUAAAAAKShvXzgmEVVqQV75QnZeYLi49fb" />
    <add key="ClockInBeforeTime" value="30" />
    <add key="MyReportViewerUser" value="svcadmin" />
    <add key="MyReportViewerPassword" value="T@rg3t346" />
    <add key="MyReportViewerDomain" value="DESKTOP-SCVLN1K" />
    <add key="ReportServerURL" value="http://209.151.166.188:8081/ReportServer" />
    <!--<add key="MyReportViewerUser" value="Krai"/>
    <add key="MyReportViewerPassword" value="K@!ra346"/>
    <add key="MyReportViewerDomain" value="Myezcare"/>
    <add key="ReportServerURL" value="http://10.10.10.14/ReportServer" />-->
    <add key="GoogleDriveAuthCallback" value="http://localhost:51285/hc/setting/GoogleAuthCallback" />
    <add key="GoogleDriveClientID" value="929703751963-dupqmvambr5cqt8772c3ji245b7d7q2p.apps.googleusercontent.com" />
    <add key="GoogleDriveClientSecret" value="s7l-ddCZgboiLJDguv0flGdH" />
    <add key="GoogleDriveBaseUri" value="https://accounts.google.com/" />
    <add key="GoogleDriveAuthUri" value="https://accounts.google.com/o/oauth2/auth" />
    <add key="GoogleDriveTokenUri" value="https://accounts.google.com/o/oauth2/token" />
    <add key="GoogleDriveContentUri" value="https://www.googleapis.com/upload/drive/v2/files" />
    <add key="GoogleDriveDeleteUri" value="https://www.googleapis.com/drive/v2/files" />
    <add key="GoogleDriveFilesListUri" value="https://www.googleapis.com/drive/v3/files" />
    <add key="OrbeonBaseUrl" value="https://myezforms.myezcare.com:8443/orbeon" />
    <add key="OrbeonUserName" value="orbeon-admin" />
    <add key="OrbeonPassword" value="Myezcare#986" />
    <add key="MasterPassword" value="p$@x3n@1!" />
    <add key="NinjaInvoiceUrl" value="https://payment.myezcare.com/api/v1/" />
    <add key="X-Ninja-Token" value="X-API-TOKEN" />
    <add key="Ninja-TokenKey" value="zOOdZsPjSueSH8GCxuBIiAauvBXh63iwX2WlpsuPZnGwh6WrLGrgHoKMk0P4jxiG" />
    <add key="DxToken" value="3932f3b0-cfab-11dc-95ff-0800200c9a663932f3b0-cfab-11dc-95ff-0800200c9a66" />
    <!--following keys are used for autorized net integreation  -->
    <add key="zapirepaymentemailid" value="3lzsi67b@robot.zapier.com"/>
    <add key="ClientID" value="2"/>
    <add key="AuthorizedNetapiLoginId" value="4njW92CA"/>
    <add key="AuthorizedNettransactionKey" value="33BSrzaB9w4N7u3g"/>
    <add key="SiteCacheExpiration" value="5" />

    <add key="IsUploadOnCloudServer" value="false" />

    <!--<add key="FcmAuthenticationKey" value="AIzaSyDTJkq-9tYANS-pS805rtfDsfBmz6UriMM" /> 
    <add key="FcmSenderId" value="299966223579" />-->
    <!--<add key="FcmAuthenticationKey" value="AIzaSyDCAVecrQmj1i0qNtsMZwUsXGkWbs9vSF0" />
    <add key="FcmSenderId" value="1008093195894" />-->
    <add key="GenerateEmpRefTimeScheduleDaysForNextMonths" value="390" />

    <add key="ScheduleDayCarePath" value="/scheduledaycare/" />
    <add key="ReferralDocumentPath" value="/referraldocument/" />
    <add key="EmployeeDocumentPath" value="/employeedocument/" />
    <add key="CareFormClientSignatures" value="/CareForm/ClientSignatures/" />
    <add key="CareFormPath" value="/CareForm/Forms/" />
    <add key="MIFSignaturePath" value="/MIF/Signature/" />

    <add key="EmpCertificate" value="/EmpCertificate/" />
    <add key="EmpProfileImg" value="/EmpProfileImg/" />
    <add key="RefProfileImg" value="/RefProfileImg/" />
    <add key="CheckListCertificate" value="/CheckListCertificate/" />

    <add key="DownloadAndProcessERALog" value="DownloadAndProcessERALog/"/>
    
    <!--START: ProcessEvent File Paths info-->

    <add key="ProcessEventPath" value="/ProcessEvent" />
    <add key="ProcessEventLogFolder" value="Logs" />
    <add key="ProcessEventLogFileNamePrefix" value="ProcessEventLog_" />
    <!--START: HHAX File Paths info-->
    <add key="HHAXFolder" value="hhax" />
    <add key="HHAXFileNamePrefix" value="HHAX_" />
    <!--END: HHAX File Paths info-->
    <!--START: CareBridge File Paths info-->
    <add key="CareBridgeFolder" value="carebridge" />
    <add key="CareBridgeFileNamePrefix" value="CB_" />
    <!--END: CareBridge File Paths info-->
    <!--START: Tellus File Paths info-->
    <add key="TellusFolder" value="tellus" />
    <add key="TellusFileNamePrefix" value="TU_" />
    <!--END: Tellus File Paths info-->
    <!--START: Sandata File Paths info-->
    <add key="SandataFolder" value="sandata" />
    <add key="SandataFileNamePrefix" value="SD_" />
    <!--END: Sandata File Paths info-->

    <!--END: ProcessEvent File Paths info-->

  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="ASAPCARE Do Not Reply &lt;mailer@kairasoftware.com&gt;">
        <network host="smtp.gmail.com" port="587" userName="mailer@kairasoftware.com" password="MailerKaira3#" enableSsl="true" />
      </smtp>
      <!--<smtp from="Do Not Reply&lt;support@myezcare.com&gt;">
        <network host="mail.myezcare.com" port="465" userName="support@myezcare.com" password="K@!ra123" enableSsl="true" />
      </smtp>-->
      <!--<smtp from="Zarephath Do Not Reply &lt;donotreply@zrpath.com&gt;">
        <network host="smtp.office365.com" port="587" userName="donotreply@rtizrpath.onmicrosoft.com" password="Zarepath123!" enableSsl="true" />
      </smtp>-->
    </mailSettings>
    <defaultProxy enabled="true" useDefaultCredentials="true" />
  </system.net>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime targetFramework="4.5" executionTimeout="999" maxRequestLength="2097151" />
    <compilation debug="true" targetFramework="4.7.2">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
      <assemblies>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Security/Index" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider" timeout="99999">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
    <customErrors mode="Off" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="/security/notfound" />
      <error statusCode="500" redirect="/security/internalerror" />
    </customErrors>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <!--<staticContent>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>-->
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
      <authorization>
        <allow users="me-admin" />
        <deny users="*" />
      </authorization>
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
  <elmah>
    <errorLog type="Zarephath.Core.Infrastructure.ElmahErrorLog, Zarephath.Core" connectionString="-" />
    <security allowRemoteAccess="true" />
    <errorFilter>
      <test>
        <equal binding="HttpStatusCode" value="404" type="Int32" />
      </test>
    </errorFilter>
  </elmah>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json"
            publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>-->
      <!--<dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WebForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="10.0.40219.1" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>