						
						/* Start Common CSS */
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	font-family: 'poppins', 'roboto';
	font-size: 100%;
	padding:60px 0;
	color:#222;
	font-weight: 500;
}

.upper-section .right-side{
	float:right;
	margin-top:-15px;
}
.upper-section{
	margin-bottom: 20px;
}
.bottom-layer{
	text-align: left;
	position: relative;
	margin-bottom: 20px;
}
.bottom-layer .center{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}

.controls{
	width:100%;
	max-width: 560px;
	margin:0 auto;
	padding-bottom: 40px;
	font-size: 18px;
}
.controls a.next{
	float: right;
}
.clearfix::before{
	content:'';
	display: block;
	clear: both;
	width:100%;
}
.clearfix::after{
	content:'';
	display: block;
	clear: both;
	width:100%;
}
.ml-20{
	margin-left: 20px;
}
.form.statement{
	padding-bottom: 40px;
}
.w-35{
	width:35%;
	float: left;
}
.outer-wrapper, .row ,section, .form, .to-form{
	width: 100%;
	float:left;
}
.mt-0{
	margin-top: 0px !important;
}
.container{
	width:98%;
	max-width: 991px;
	margin:0 auto;
	padding:0 2%;
}
input{
	border:none;
	border-bottom:1px solid #444;
	background:#edf9f8;
	width:96%;
	height:25px;
}
input:focus{
	outline: none;
}

.form{
	margin-bottom:50px;
	border:3px solid #222;
	padding-bottom:15px;
}
.checkbox-line{
	width:100%;
	padding:10px;
}
.sec-headline{
	width:100%;
	background:#f5f5f5;
	font-size: 20px;
	border-bottom:3px solid #222;
	text-align:center;
	padding:0 10px;
	margin-bottom:10px;
}
.box-one{
	display: inline-block;
	/*width:16%;*/
	margin-left:5%;
	min-width: 100px;
}
.box-one input{
	margin-left:5px;
}
.one-half{
	width:50%;
	text-align: center;
	float:left;
}
.second-half{
	width:48%;
	float:left;
}
.form-input{
	margin-top:10px;
}
.form-input input{
	margin:0 10px;
	display: inline-block;
}

.label{
	float:left;
	padding-left:40px;
	margin-top:10px;
	height:100%;
}
.text-center{
	text-align: center !important;
}
.float-left{
	text-align:left !important;
	padding-left:10px;
}

.lg{
	width:42%;
	float:left;
}
.md{
	width:28.55%;
	float:left;
}
.sm{
	width:18%;
	float:left;
}
.ml-20{
	margin-left:40px;
}
.xl{
	width:70%;
	float:left;
}
section span{
	font-size: 13px;
	padding-left:5px;
}
.line .form-input h1{
	font-size: 17px;
    font-weight: 600;
    display: inline-block;
    border-bottom: 1px solid #222;
    width: 100%;
}
.d-block{
	display: block;
}
.float-left{
	float:left !important;
}

input[type='checkbox']{
	width: 15px;
    height: 15px;
    margin-right: 10px;
}
						/* end Common CSS */


						/*	First Section	*/
.from-to p{
	display: inline-block;
    font-weight: 500;
    border-bottom: 1px solid #222;
    width: 100%;
}

.sec-headline p{
	font-size: 14px;
	text-align: left;
}
h1{
	font-weight: 500;
    font-size: 24px;
    text-align: center;
    margin-bottom: 0px;
}
.print p{
	float:left;
	margin-top:40px;
	font-weight: 700;
	margin-left:20px;
}
.parent-list p{
	    width: 20px;
    display: inline-block;
    float: left;
    margin-left:20px;
    margin-top:10px;
}
.parent-list ul{
	    width: 94%;
    display: inline-block;
    float: right;
    padding-left:10px;
}
.title-checkbox{
	display: inline-block;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.parent-list .checkbox{
	    width: 200px;
    display: block;
    float: right;
}
.parent-list ul li{
    font-size: 14px;
    /*margin-top:15px;*/
	list-style-type: lower-alpha;
	padding-left: 8px;
}
.parent-list .checkbox div{
	display: inline-block;
    margin-left: 20px;
}
.important p{
	font-size: 14px;
    text-align: center;
    text-decoration: underline;
    font-weight: 700;
    margin-top: 10px;
    width:100%;
    margin-left: 0;
}
.w-96{
	width: 96%;
    float: left;
    margin-left: 4%;
}
.approx input{
	width:86%;
	margin:0;
}
.second .parent-list p{
	margin-top: 0;
}
.second .parent-list span{
	font-size: 14px;
}
.second .parent-list .checkbox{
	float:left;
	margin-left: 10px;
	width:95%;
}
.second .parent-list .mini-checkbox{
	width:25%;
}
.second .parent-list .mini-checkbox-one{
	width:45%;
}

.medical-ins{
	margin-top:20px;
}
.medical-ins .parent-list .checkbox{
	width:200px;
	margin-top: 10px;
}
.medical-ins .parent-list .form-input input{
	width:80%;
	}

.readed-doc, .authorize{
	padding-top: 10px;
	padding-left: 25px;
}
.authorize{
	background: #e8e8e8;
	    border-top: 2px solid #444;
    padding-bottom: 10px;
}
.readed-doc p, .authorize span{
	font-size: 14px;
	font-weight: 700;
}
.authorize .checkbox{
	width:200px;
	display: inline-block;
	float:right;
}
.authorize .checkbox >div{
	width:50%;
	float: left;
}
.authorize ul li{
	font-size: 11px;
    margin-left: 20px;
    width: 90%;
}
.dhs{
	padding:20px;
}
.dhs .form-input.lg input{
	width:calc(100% - 87px);
}
.dhs .form-input.xl input{
	width:calc(100% - 87px);
}
.dhs .form-input.lg1 input{
	width:calc(100% - 170px);
}
.dhs .form-input.xl1 input{
	width:calc(100% - 130px);
}

.dhs .form-input.lg2 input{
	width:calc(100% - 106px);
}
.dhs .form-input.xl2 input{
	width:calc(100% - 270px);
}
.dhs .form-input{
	margin-top: 10px;
    font-size: 14px;
    display: initial;
}
.dhs .form-input.xl{
	width:calc(100% - 42%);
}
.dhs .form-input.lg1{
	width:calc(100% - 42%);
	float:left;
}
.dhs .form-input.xl1{
	width:42%;
	float:left;
}

.dhs .one-half{
	width:60%;
	float:left;
	margin-top: 20px;
}
.dhs .one-half input{
	width:50%;
}
.dhs .second-half{
	width:40%;
	float: left;
	margin-top: 20px;
}
.dhs .second-half input{
	width:70%;
}
.dhs .one-half .form-input.lg{
	width:100%;
}
.dhs .second-half .form-input.md{
	width:100%;

}
.dhs .one-half .form-input.lg input{
	width:57%;
	}

@media screen and (max-width: 767px){
	.md, .lg, .sm, .w-35, .one-by-two, .xl, .lg1, .xl1, .xl2, .lg2{
		width:100% !important;
	}

	.parent-list ul{
		width:90%;
	}
	.second .parent-list ul li .checkbox::before{
		content:'';
		width:100%;
		clear: both;
		display: block;
	}
	.second .parent-list ul li .mini-checkbox{
		width:100%;
	}
	.second .parent-list ul li .mini-checkbox-one{
		width:100%;
	}
	.second .parent-list span {
    font-size: 14px;
    width: 100%;
    display: block;
	}

	.dhs .form-input.lg input {
	    width: 80%;
	}
	.dhs .form-input.md input {
	    width: 68%;
	}

	.dhs .one-half {
	    width: 100%;
	    float: left;
	    text-align: left!important;
	}	
	.dhs .second-half {
	    width: 100%;
	    float: left
	}
	.medical-ins .parent-list .checkbox {
    width: 160px;
    margin-top: 10px;
}
li.new{
	width:100%;
	clear: left;
}



}


@media screen and (max-width: 480px){
	.dhs .form-input.lg input {
	    width: 60%;
	}
	.dhs .form-input.md input {
	    width: 50%;
	}

	.dhs .one-half input {
	    width: 100% !important;
	}	
	.dhs .second-half input{
	    width: 100% !important;
	}
}
.second-tip span{
	margin-top: 10px;
	font-size: 14px;
	margin-left:48px;
	display: block;
}
.one-by-two{
	width:48%;
	float:left;
}
