@*
    Created by Sagar(19 Dec 2019) : Load this page for Brower not Compatible. and download Google Chrome
*@
@{
    ViewBag.Title = "Browser not Compatible";
    Layout = "";

}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body style="overflow:hidden">
    <div class="row" style="margin-top:100px">
        <div class="col-md-12 text-center">
            <img src="~/Assets/images/myezcaresimpleyetpowerful_Logo.png" draggable="false" width="300" height="100" />
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-md-3">
        </div>

        <div class="col-md-6 text-center p-5" style=" border: 2px solid #ccc!important; border-radius: 17px; ">
            @*Start- Changed by Sagar,26 Dec 2019*@
            <span style="font-size: 20px;">This browser is not compatible for myEZcare application.</span><br />
            <span style="font-size: 21px;">To continue with this application, <a href="https://www.google.com/chrome/browser/desktop/index.html" download="MyGoogleLogo">download Google Chrome browser using this link</a> and open the application in google chrome browser.<br> For further assitance please email <a href="mailto:helpdesk@myezcare.com">helpdesk@myezcare.com</a> </span>
            @*End*@
        </div>

    </div>
</body>
</html>

