@model SetReferralListModel
<div id="popover-status" class="hidden">
    <div>
        <form class="form-inline editableform" style="">

            <div class="control-group form-group">
                <div>
                    <div class="editable-input">
                        @Html.DropDownListFor(p => p.SearchReferralListModel.ReferralStatusID, Model.ReferralStatuses.ToSelectList(Model.SearchReferralListModel.ReferralStatusID.ToString() ?? "", "Status", "ReferralStatusID", Resource.SelectStatus, ""),
                                              new
                                                  {
                                                      convert_to_number = "",
                                                      id = "ReferralStatusID",
                                                      data_ng_model = "ngValue",
                                                      data_ng_init = "ngValue=ngValue==''?null:ngValue",
                                                      @class = "form-control input-sm"
                                                  })
                        @Html.ValidationMessageFor(m => m.SearchReferralListModel.ReferralStatusID)
                    </div>
                    <div class="editable-buttons">
                        <button type="submit" class="btn btn-primary btn-sm" data-ng-click="Save()"><i class="glyphicon glyphicon-ok"></i></button>
                        <button type="button" class="btn btn-default btn-sm" data-ng-click="Cancel()"><i class="glyphicon glyphicon-remove"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="popover-assingee" class="hidden">
    <div>
        <form class="form-inline editableform" style="">

            <div class="control-group form-group">
                <div>
                    <div class="editable-input">                       
                        @Html.DropDownListFor(p => p.SearchReferralListModel.AssigneeID, Model.AssigneeList.ToSelectList(Model.SearchReferralListModel.AssigneeID.ToString() ?? "", "EmployeeName", "EmployeeID", Resource.SelectAssignee, ""),
                                              new
                                                  {
                                                      convert_to_number = "",
                                                      id = "AssigneeID",
                                                      data_ng_model = "ngValue",
                                                      data_ng_init = "ngValue=ngValue==''?null:ngValue",
                                                      @class = "form-control input-sm"
                                                  })
                        @Html.ValidationMessageFor(m => m.SearchReferralListModel.AssigneeID)
                    </div>
                    <div class="editable-buttons">
                        <button type="submit" class="btn btn-primary btn-sm" data-ng-click="Save()"><i class="glyphicon glyphicon-ok"></i></button>
                        <button type="button" class="btn btn-default btn-sm" data-ng-click="Cancel()"><i class="glyphicon glyphicon-remove"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<script type="text/ng-template" id="popover-schedule-status">
<div class="hidden">
    <form class="form-horizontal">
        <div class="form-body">
            <div class="form-group">
                <label class="col-md-3 control-label">Who Cancelled</label>
                <div class="col-md-9">                    
                    <p class="form-control-static">{{ngData.WhoCancelled}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">When Cancelled</label>
                <div class="col-md-9">                    
                    <p class="form-control-static">{{ngData.WhenCancelled | dateformat}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Reason</label>
                <div class="col-md-9">                    
                    <p class="form-control-static">{{ngData.CancelReason}}</p>
                </div>
            </div>
        </div>
    </form>
</div>
</script>
