@{
    Layout = null;
    ViewBag.Title = string.Format("{0} {1}", Resource.ZarePhath, Resource.InternalError);
    bool isLoggedIn = SessionHelper.LoggedInID > 0;
    CacheHelper _cacheHelper = new CacheHelper();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Oops Error</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="~/Assets/css/sitecss/custom.css" rel="stylesheet" />
</head>
<body>
    <section class="oops-main">
        <header class="header">
            <div class="container">
                <div class="logo"><a href="#"><img src="~/Assets/images/Errorlogo.png" alt="logo"></a></div>
            </div>
        </header>
        <div class="oops-content-section">
            <div class="container">
                <div class="oops-content">
                    <div class="oops-content-inner">
                        <h3>We are experiencing some technical difficulties with this operation.</h3>
                        <p>Please again sometime later or report this issue by using the link at the bottom of the page.</p>
                        <h4>We apologize for the inconvenience.</h4>
                        <button class="btn btn-primary">Click here to report this issue</button>
                        <a href="@Constants.HCDashboardURL" class="go-back"><< Go Back</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>