*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body, html{
	font-size: 100%;
	font-family: 'Poppins';

}
.outer-wrapper, .form, .row{
	width:100%;
	float:left;
}
.container{
	max-width:991px;
	width:96%;
	padding:0 2%;
	margin:0 auto;
}
.form{
	padding: 80px 0;
}
.upper-part .right{
	float:right;
	margin-top: -10px;
}

h1.heading{
	margin: 10px auto;
    text-align: center;
    font-weight: 500;
}
.name{
	width: calc(100% - 350px);
	float:left;
}

.name .input-field{
	width: calc(100% - 70px);
	float:left;
	text-align: center;
}
label{
	float:left;
	font-size: 20px;
	font-weight: 600;
}
.input-field input{
	width:100%;
	float:left;
	border:none;
	border-bottom:2px solid #222;
	height: 25px;
	background: #f1f4ff;
}
textarea{
	background: #f1f4ff;
	border:none;
	width:100%;
	height:200px;
	
}
input:focus{
	outline: none;
}
.dob{
	width: 200px;
	float:left;
}
.dob .inputs{
	width: calc(100% - 48px);
	float:left;
}
.inputs .input-field{
	width:45px;
	float:left;
	text-align: center;
}
.inputs .input-field input{
	width:85%;
	float:left;
}
.input-field span{
	font-size: 10px;
}
.sex{
	width:150px;
	float:left;
}
.sex .input-field{
	width:calc(100% - 42px);
	float:left;
}

.box{
	border:1px solid #222;
	width:100%;
	float:left;
	margin:10px 0;
	padding:10px;
	font-size: 18px;
	font-weight: 500;
}

.headings h3{
	margin:20px 0;
	margin-bottom: 40px;
}
.signature{
	width:48%;
	float:left;
	text-align: center;
}
.date{
	width:48%;
	float:right;
	text-align: center;
}
.points{
	margin-top: 30px;
	float:left;
}
.points h3{
	text-decoration: underline;
	margin-bottom: 30px;
}
.points span{
	font-size: 18px;
	float:left;
}
.points .sub-menu{
	width: calc(100% - 100px);
	float:right;
}
.points {
	font-size: 24px;
}

.line{
	width:100%;
	float:left;
}
.line span{
	float:left;
}
.line .input-field{
	width: calc(100% - 20px);
	float:right;
}
.page span{
	margin-top: 30px;
}
div.ini{
	width:50px;
	float:left;
}
.ini input{
	width:20px;
	height: 20px;
}
.checkbox{
	width:100%;
	float:left;
	margin-top:20px;
}
.checkbox span{
	font-weight: bold;
}
.one-half{
	width:48%;
	float:left;
	margin:20px 0;
}
.row .one-half:last-of-type{
	float:right;
}
.one-half .input-field span{
	font-size: 10px;
	font-weight: 400;
}
.month{
	width:100px;
	float:left;
}
.month input{
	width: 100%;
    float: left;
    border: none;
    border-bottom: 2px solid #222;
    height: 25px;
    background: #f1f4ff;
}
.month span{
	font-size: 10px !important;
	text-align: center;
}
.one-half .input-field{
	text-align: center;
}

.official{
	width:100%;
	border-top:2px dotted #222;
}
.official h3{
	text-align: center;
	text-decoration: none;
}

.controls{
	max-width: 560px;
	width:96%;
	margin:0 auto;
	padding-bottom: 40px;
	text-align: center;
	font-size: 18px;
}

@media screen and (max-width: 767px){
	.name, .one-half{
		width:100%;
		float:left;
	}
	.sub-menu{
		width: calc(100% - 30px)!important;
	}
}