
@{ Layout = "~/Views/Shared/_LayoutPayment.cshtml";}
<div class="container-fluid" data-ng-app="myApp" data-ng-controller="PayBillController">
    <div class="row" ng-show="!transsucess">
        <div class="col-xs-12"></div>
        <div class="col-xs-12"></div>
        <div class="col-xs-3 col-md-3 col-sm-3">

        </div>
        <div class="col-xs-6 col-md-6 col-sm-6 mt-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Payment Details
                    </h3>
                </div>
                <div class="panel-body paymentMethodpanal">
                    <form role="form">
                        <div class="form-group">
                            <label for="cardNumber">
                                CARD NUMBER
                            </label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-ng-model="model.CardNumber" id="cardNumber" placeholder="Valid Card Number"
                                       required autofocus />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-7 col-md-7 col-sm-7">
                                <div class="form-group expiryformGroup">
                                    <label for="expityMonth">
                                        EXPIRY DATE
                                    </label>
                                    <div class="row">
                                        <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6 pl-ziro">
                                            <input required type="text" class="form-control" data-ng-model="model.EXPIRYMM" id="expityMonth" placeholder="MM" required />
                                        </div>
                                        <div class="col-xs-6 col-lg-6 col-sm-6 col-md-6  pl-ziro">
                                            <input required type="text" class="form-control" data-ng-model="model.EXPIRYYY" id="expityYear" placeholder="YY" required />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-5 col-md-5 col-sm-5 pull-right">
                                <div class="form-group">
                                    <label for="cvCode">
                                        CV CODE
                                    </label>
                                    <input required type="password" class="form-control" data-ng-model="model.CCV" id="cvCode" placeholder="CV" required />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="expityMonth">
                                                First Name
                                            </label>
                                            <input required type="text" data-ng-model="model.FirstName" id="FirstName" class="form-control " placeholder="First Name" />
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="expityMonth">
                                                Last Name
                                            </label>
                                            <input required type="text" data-ng-model="model.LastName" id="LastName" class="form-control " placeholder="Last Name" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="expityMonth">
                                                Address
                                            </label>
                                            <input required type="text" data-ng-model="model.Address" id="Address" class="form-control " placeholder="Address" />
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="expityMonth">
                                                Zip Code
                                            </label>
                                            <input required type="text" data-ng-model="model.ZipCode" id="ZipCode" class="form-control " placeholder="Zip Code" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="expityMonth">
                                                Email
                                            </label>
                                            <input required type="email" data-ng-model="model.Email" id="FirstName" class="form-control " placeholder="First Name" />
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="expityMonth">
                                                Phone Number
                                            </label>
                                            <input required type="text" data-ng-model="model.PhoneNumber" id="PhoneNumber" class="form-control " placeholder="Phone Number" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <ul class="nav nav-pills nav-stacked">
                <li class="active">
                    <a href="#"><span class="badge pull-right"><span class="glyphicon glyphicon-usd"></span>@ViewBag.amount</span> Final Payment</a>
                </li>
            </ul>
            <br />
            <a href="javascript:void(0);" data-ng-click="paynow()" class="btn btn-success btn-lg btn-block" role="button">Pay</a>
        </div>
        <div class="col-xs-3 col-md-3 col-sm-3">

        </div>
    </div>

    <div class="row" ng-show="transsucess">
        <div class="col-xs-12"></div>
        <div class="col-xs-12"></div>
        <div class="col-xs-3 col-md-3 col-sm-3">

        </div>
        <div class="col-xs-6 col-md-6 col-sm-6 mt-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Payment Details
                    </h3>
                </div>
                <div class="panel-body">
                    <form role="form">

                        <div class="form-group">
                            <label for="SucessMess" ng-if="Tranaction_Succeessfully_completed" class="text-success">
                                Tranaction Succeessfully completed
                            </label>
                            <label for="SucessMess" ng-if="!Tranaction_Succeessfully_completed" class="text-danger">
                                Tranaction Faild
                            </label>
                            <div class="input-group">
                                <label for="tranactionId">
                                    TransactionId:   {{TransactionId}}
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-xs-3 col-md-3 col-sm-3">

        </div>
    </div>
</div>



@*@Scripts.Render("~/assets/js/viewjs/siteApp/Areas/HomeCare/generalmaster/_addgeneralmastermodel")*@
@Scripts.Render("~/assets/js/viewjs/siteApp/Areas/HomeCare/generalmaster/google-address-library.js")