@{


    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SelectedMenuItem = Resource.SMI_ReferralAdd;

}
<div class="tab-pane fade in active">
    <form class="form-horizontal">

        <div class="form-group row">
            <div class="col-sm-12">
                <div class="fscontainer">
                    <div class="legend">
                        @Resource.MedicationLable
                    </div>
                    <div class="col-sm-6 no-padding">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-md-5 control-label">Type of Medication</label>
                                <div class="col-md-7">
                                    <input type="text" name="TypeOfMedication" title="" placeholder="Type of Medication" style="width:100%" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">Prescribed By</label>
                                <div class="col-md-7">
                                    <input type="text" name="PrescribedBy" title="" placeholder="Prescribed By" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">Pharmacy Name</label>
                                <div class="col-md-7">
                                    <input type="text" name="PharmacyName" title="" placeholder="Pharmacy Name" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">Amount</label>
                                <div class="col-md-7">
                                    <input type="text" name="Amount" title="" placeholder="Amount" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">Frequency</label>
                                <div class="col-md-7">
                                    <input type="text" name="Frequency" title="" placeholder="Frequency" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">Given For</label>
                                <div class="col-md-7">
                                    <input type="text" name="GivenFor" title="" placeholder="Given For" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">Instructions</label>
                                <div class="col-md-7">
                                    <textarea rows="5" class="form-control input-sm" name="Instruction" title="" placeholder="Instruction" maxlength="2000" style="width:100%"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 no-padding">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-md-5 control-label">Dosage</label>
                                <div class="col-md-7 ">
                                    <div>
                                        <input type="text" name="Dosage" title="" placeholder="Dosage" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">Route </label>
                                <div class="col-md-7">
                                    <input type="text" name="Route" title="" placeholder="Route" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label"> Time of Day</label>
                                <div class="col-md-7">
                                    <input type="text" name=" TimeofDay" title="" placeholder="Time of Day" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">Precautions</label>
                                <div class="col-md-7">
                                    <input type="text" name="Precautions" title="" placeholder="Precautions" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7" style="padding-left:30%" >
                        <input type="button" class="btn btn-sm green-jungle" name="AddMedication" value="Add Medication" />
                        <input type="button" class="btn btn-sm red" name="ClearForm" value="Clear Form" />
                    </div>
                </div>
            </div> 
        </div>
        
    </form>
</div>


