<div class="col-md-12 no-padding">
    <h5 class="caption">
        <b>EmployeeVisit Action(s) Status | Visit ID:{{DetailModel.EmployeeVisitID}} </b>
    </h5>
    <div class="rd_popupempdetail">
        
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td width="2%">
                                    <i class="fa fa-times" aria-hidden="true" ng-if="DetailModel.ActionTaken != 2" style="color: red;"></i>
                                    <i class="fa fa-check" aria-hidden="true" ng-if="DetailModel.ActionTaken == 2" style="color: green;"></i>
                                </td>
                                <td>
                                    Bypass Approval Status :
                                    <span data-ng-if="DetailModel.ActionTaken==0 && !DetailModel.IsApprovalRequired"
                                          class="badge badge-pill badge-warning empActionTaken" style="background-color:#d3d3d3 !important;">Not Required</span>
                                    <span data-ng-if="DetailModel.ActionTaken==1 || (DetailModel.ActionTaken==0 && DetailModel.IsApprovalRequired)"
                                          class="badge badge-pill badge-warning empActionTaken" style="background-color:#dede40 !important;">Pending</span>
                                    <span data-ng-if="DetailModel.ActionTaken==2"
                                          class="badge badge-pill badge-success empActionTaken" style="background-color:green !important;">Approved</span>
                                    <span data-ng-if="DetailModel.ActionTaken==3"
                                          class="badge badge-pill badge-danger empActionTaken" style="background-color:red !important;">Denied</span>
                                </td>
                            </tr>
                            <tr data-ng-if="DetailModel.IsApproved==0 || DetailModel.IsApproved==1">
                                <td width="2%">
                                    <i class="fa fa-times" aria-hidden="true" ng-if="DetailModel.IsApproved == 0" style="color: red;"></i>
                                    <i class="fa fa-check" aria-hidden="true" ng-if="DetailModel.IsApproved != 0" style="color: green;"></i>
                                </td>
                                <td>
                                    Visit Approval Status :
                                    <span data-ng-if="DetailModel.IsApproved==0"
                                          class="badge badge-pill badge-warning empActionTaken" style="background-color:#dede40 !important;">Pending</span>
                                    <span data-ng-if="DetailModel.IsApproved!=0"
                                          class="badge badge-pill badge-success empActionTaken" style="background-color:green !important;">Approved</span>
                                    <div data-ng-if="DetailModel.IsApproved!=0">
                                        <b>Approved By:</b><span data-ng-bind="DetailModel.ApproveBy"></span>
                                    </div>
                                    

                                </td>
                            </tr>
                            <tr>
                                <td width="2%">
                                    <i class="fa fa-times" aria-hidden="true" ng-if="DetailModel.TotalcreatedTask == 0" style="color: red;"></i>
                                    <i class="fa fa-check" aria-hidden="true" ng-if="DetailModel.TotalcreatedTask > 0" style="color: green;"></i>
                                </td>
                                <td>
                                    <b>{{DetailModel.TotalcreatedTask}}</b> Task(s) Created
                                </td>
                            </tr>
                            <tr>
                                <td width="2%">
                                    <i class="fa fa-times" aria-hidden="true" ng-if="DetailModel.IsEarlyClockIn == false" style="color: red;"></i>
                                    <i class="fa fa-check" aria-hidden="true" ng-if="DetailModel.IsEarlyClockIn == true" style="color: green;"></i>
                                </td>
                                <td>
                                    Is Early colck in was done?
                                    <span ng-if="DetailModel.EarlyClockInComment != '' && DetailModel.IsEarlyClockIn == true">
                                        <br />
                                        <span style="padding:5px;"><small>Note: </small>{{DetailModel.EarlyClockInComment}}</span>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td width="2%">
                                    <i class="fa fa-times" aria-hidden="true" ng-if="DetailModel.IsEarlyClockOut == false" style="color: red;"></i>
                                    <i class="fa fa-check" aria-hidden="true" ng-if="DetailModel.IsEarlyClockOut == true" style="color: green;"></i>
                                </td>
                                <td>
                                    Is Early colck out was done?
                                    <span ng-if="DetailModel.EarlyClockOutComment != '' && DetailModel.IsEarlyClockOut == true">
                                        <br />
                                        <span style="padding:5px;"><small>Note: </small>{{DetailModel.EarlyClockOutComment}}</span>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td width="2%">
                                    <i class="fa fa-times" aria-hidden="true" ng-if="DetailModel.IsSigned == false" style="color: red;"></i>
                                    <i class="fa fa-check" aria-hidden="true" ng-if="DetailModel.IsSigned == true" style="color: green;"></i>
                                </td>
                                <td>
                                    Timesheet signed by the patient?
                                </td>
                            </tr>
                            <tr>
                                <td width="2%">
                                    <i class="fa fa-times" aria-hidden="true" ng-if="DetailModel.IsByPassClockIn == false" style="color: red;"></i>
                                    <i class="fa fa-check" aria-hidden="true" ng-if="DetailModel.IsByPassClockIn == true" style="color: green;"></i>
                                </td>
                                <td>
                                    Geo-fencing bypass for clock in
                                    <span ng-if="(DetailModel.ByPassReasonClockIn != '' || DetailModel.ByPassReasonClockIn != ' ')  && DetailModel.IsByPassClockIn == true">
                                        <span style="padding:5px;">
                                            <br />
                                            <small>Note: </small>{{DetailModel.ByPassReasonClockIn}}
                                        </span>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td width="2%">
                                    <i class="fa fa-times" aria-hidden="true" ng-if="DetailModel.IsByPassClockOut == false" style="color: red;"></i>
                                    <i class="fa fa-check" aria-hidden="true" ng-if="DetailModel.IsByPassClockOut == true" style="color: green;"></i>
                                </td>
                                <td>
                                    Geo-fencing bypass for clock out
                                    <span ng-if="DetailModel.IsByPassClockOut == true && DetailModel.ByPassReasonClockOut != ''">
                                        <span style="padding:5px;">
                                            <br />
                                            <small>Note: </small>{{DetailModel.ByPassReasonClockOut}}
                                        </span>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td width="2%">
                                    <i class="fa fa-times" aria-hidden="true" ng-if="DetailModel.SurveyCompleted == false" style="color: red;"></i>
                                    <i class="fa fa-check" aria-hidden="true" ng-if="DetailModel.SurveyCompleted == true" style="color: green;"></i>
                                </td>
                                <td>
                                    Is Survey Completed?
                                    <span ng-if="DetailModel.SurveyComment != '' && DetailModel.SurveyCompleted == true">
                                        <br />
                                        <span style="padding:5px;"><small>Note: </small>{{DetailModel.SurveyComment}}</span>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        
    </div>
</div>
