@model HC_EmpCalenderModel
<div calender-dropper="DataModel">
    <div class="event-container" common-detail-popover="DataModel" ng-template-selector="#eventdetailpopover" popover-width="400" popover-trigger="click" popover-closeable="true" pop-over-functions="DataModel.event.popOverObj">
        <div class='fc-name hc-fc-name header' style="color: black;font-size:10px;"
             DataModel.event.scheduleModel.eventColor
             data-ng-style="{'border-left':'15px solid !important'}"
             data-ng-style="{'border-left':'10px solid ' +DataModel.event.scheduleModel.eventColor}"
             data-ng-class="{'male':(DataModel.event.scheduleModel.Gender=='M'),'female':(DataModel.event.scheduleModel.Gender=='F')}"
             @*data-ng-bind="DataModel.event.scheduleModel.LastName"*@>
            <i class="fa fa-female font-size-12" data-ng-show="DataModel.event.scheduleModel.Gender=='F'"></i>
            <i class="fa fa-male font-size-12" data-ng-show="DataModel.event.scheduleModel.Gender=='M'"></i>

            {{DataModel.event.scheduleModel.LastName}}, {{DataModel.event.scheduleModel.FirstName}} ({{DataModel.event.scheduleModel.Age}})
        </div>
        <div class='fc-name hc-fc-name' style="font-size: 0.9em;color: black"><i class="fa fa-clock-o fa-1" style="color:rgb(144, 238, 144);"></i>{{DataModel.event.scheduleModel.StartDate |  date:'h:mm:ss a'}},<i class="fa fa-clock-o fa-1" style="color:rgb(255, 115, 115);"></i>{{DataModel.event.scheduleModel.EndDate |  date:'h:mm:ss a'}}</div>
        <div class='fc-name hc-fc-name' style="font-size:0.9em;color: black"><i class="fa fa-medkit fa-1"></i>{{DataModel.event.scheduleModel.CareType}}</div>
    </div>
</div>
