/*.view_release_note_page .page-header-inner {
    text-align:center;
}

.view_release_note_page  .page-logo{
    float: none !important;
    display: inline-block !important;
    width: auto !important;
    height: auto !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 0 auto !important;
}*/


/* Pricing */

.price-table-wrapper {
  font-family: 'Lato', sans-serif;
  text-align: center;
}
.price-table-wrapper .featured-table {
  box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.36);
}
.price-table-wrapper .pricing-table {
  /*display: inline-block;*/
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  background: white;
  /*margin: 20px;*/
  transition: all 0.3s ease-in-out;
  height: 400px;
  overflow: auto;
}
.price-table-wrapper .pricing-table__header {
  padding: 10px;
  font-size: 20px;
  color: #909090;
  background: #e0e0e0;
  margin:0px;
}
.price-table-wrapper .pricing-table__price {
    color:#000000b8;
  padding: 20px;
  margin: auto;
  font-size: 25px;
  font-weight: 500;
}
.price-table-wrapper .pricing-table__button {
  display: block;
  background: #6cc;
  text-decoration: none;
  padding: 20px;
  color: white;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.price-table-wrapper .pricing-table__button:before {
  position: absolute;
  left: -20%;
  top: -10%;
  content: '';
  width: 60%;
  height: 220%;
  transform: rotate(-30deg);
  background: white;
  opacity: 0.3;
  transition: all 0.3s ease-in-out;
}
.price-table-wrapper .pricing-table__button:after {
  position: absolute;
  content: '>';
  top: 0;
  right: 0;
  font-size: 25px;
  padding: 15px;
  padding-right: 40px;
  color: white;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.price-table-wrapper .pricing-table__button:hover {
  background: black;
}
.price-table-wrapper .pricing-table__list {
  padding: 20px;
  color: #a0a0a0;
}
.price-table-wrapper .pricing-table__list li {
  padding: 15px;
  border-bottom: 1px solid #c8c8c8;
}
.price-table-wrapper .pricing-table__list li:last-child {
  border: none;
}
.price-table-wrapper .pricing-table:hover {
  box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.36);
}
.price-table-wrapper .pricing-table:hover .pricing-table__button {
  padding-left: 0;
  padding-right: 35px;
}
.price-table-wrapper .pricing-table:hover .pricing-table__button:before {
  top: -80%;
  transform: rotate(0deg);
  width: 100%;
}
.price-table-wrapper .pricing-table:hover .pricing-table__button:after {
  opacity: 1;
  padding-right: 15px;
}
.pricing-table ul.theplan{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  color: black;
  /*width: 260px;*/ /* width of each table */
  /*margin-right: 20px;*/ /* spacing between tables */
  /*margin-bottom: 1em;
  border: 1px solid gray;*/
  transition: all .5s;
}
.pricing-table ul.theplan .center{
  margin: 0 auto;
  text-align: center;
}
.pricing-table ul.theplan img{
  max-width: 80%;
  height: auto;
}
.pricing-table ul.theplan li{
  padding: 10px 10px;
  position: relative;
  border-bottom: 1px solid #eee;
}
.pricing-table ul.theplan li.title{
  font-weight: bold;
  text-align: center;
  padding: 30px 10px;
  background: rgb(40, 193, 203);
  color: white;
  box-shadow: 0 -10px 5px rgba(0,0,0,.1) inset;
}
.pricing-table ul.theplan:nth-of-type(2) li.title{
  background: rgb(249, 111, 118);
  color: white;
}    
.pricing-table ul.theplan:nth-of-type(3) li.title{
  background: rgb(210, 117, 251);
  color: white;
}
.pricing-table.selected-plan{ /* when mouse hover over pricing table */
  transform: scale(1.02);
  transition: all .5s;
  z-index: 100;
  box-shadow: 0 0 5px #6677ccb3;
  border-color: #6677ccb3;
}
.pricing-table.selected-plan .pricing-table__header {
    background-color: #6677ccb3;
    color: white;
}
.pricing-table .pricing-table__header {
    cursor: pointer;
}
.pricing-table .pricing-table__header .checker {
    cursor: default;
}
.pricing-table.selected-plan .pricing-table__price {
    color: #6677ccb3;
}
.pricing-table__header .chk-plan{
    margin:0px;
    height:20px;
    width: 20%;
}