



body {
}


.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f3f3f3 !important;
}

.table-striped > tbody > tr:first-child {
    background-color: #fbfcfd !important;
}

.table-striped > tbody > tr:hover {
    background-color: #98d0e0 !important; /*#d4d4d4 !important;*/
}

.table-striped > tbody > tr.deleted {
    background-color: #fbe4e4 !important;
}

.table-striped > tbody > tr.incomplete {
    background-color: #b94a48 !important;
}

.table-striped > tbody > tr.edited {
    background-color: rgba(0, 0, 0, 0.35) !important;
}


/* here you can put your own css to customize and override the theme */
span.field-validation-error {
    background: none repeat scroll 0 0 #b94a48;
    border-radius: 3px;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 1em;
    padding: 4px 8px;
    position: relative;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
    top: 5px;
    white-space: nowrap;
}



.tooltip-danger, .input-validation-error:focus {
    border: 1px solid red !important;
}



span.field-validation-error, span.validationMessage {
    display: none !important;
}

    span.field-validation-error.customvalidation {
        display: inline-block !important;
    }

.tooltip-danger ~ .tooltip .tooltip-inner {
    background-color: #b94a48;
    color: white;
}


.tooltip-danger ~ .tooltip .tooltip-arrow,
.tooltip-danger ~ .tooltip .tooltip-arrow,
.tooltip-danger ~ .tooltip .tooltip-arrow,
.tooltip-danger ~ .tooltip .tooltip-arrow {
    border-bottom-color: #b94a48;
    border-top-color: #b94a48;
}


.required:after {
    content: "*";
    color: red;
}

/******* Will not show Page load design issue while using conditions(ng-if,ng-show) binding**********/
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}
/******* Will not show Page load design issue while using conditions(ng-if,ng-show) binding**********/

/** Bootbox modal popup center ***/

/*.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}*/

/** Bootbox modal popup center ***/

.sortorder {
    font: normal normal normal 11px/1 FontAwesome;
}

    .sortorder:before {
        content: '\f077';
    }

    .sortorder.reverse:before {
        content: '\f078';
    }

a.anchor_color, .sweet-alert p {
    color: #676a6c !important;
    text-decoration: none;
}


/*.btnSearch{ padding: 1px 6px;}*/
.btnReset {
    padding: 1px 10px;
}

.btnEdit {
    padding: 1px 14px;
}

.btnDelete {
    padding: 1px 7px;
}

.pagination {
    margin: 0 0!important;
}


.fscontainer {
    position: relative;
    border: 1px solid #D3D3D3;
    padding: 35px 10px 10px 10px;
    display: inline-block;
    width: 100%;
}

    .fscontainer .legend {
        background-color: rgb( 242, 242, 242 );
        border-right: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey;
        border-radius: 0 0 5px 0;
        color: #333;
        display: inline-block;
        left: 0;
        padding: 5px;
        position: absolute;
        top: 0;
    }

.margin-bottom-100 {
    margin-bottom: 100px;
}

.color-grey {
    color: #444444;
}

.width-67px {
    width: 67px;
}

.color-white {
    color: #fff;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-600 {
    font-weight: 600;
}

.hideContent {
    display: none;
}

span[data-us-spinner] {
    opacity: 0.5;
    background: #3C3D4D;
    width: 100%;
    height: 100%;
    z-index: 10000;
    top: 0;
    left: 0;
    position: fixed;
}

.width-130px {
    width: 130px;
}

.width-20px {
    width: 20px !important;
}


.width-75px {
    width: 75px !important;
}

.width-70px {
    width: 70px !important;
}

.width-40px {
    width: 40px !important;
}

.width-30px {
    width: 30px !important;
}


.width-50px {
    width: 50px !important;
}

.width-15px {
    width: 15px !important;
}

.width-17px {
    width: 17px !important;
}

.width-25px {
    width: 25px;
}

.table-ellipsis {
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.textarea-field textarea {
    height: 150px;
}

.textarea-height-80px textarea {
    height: 80px;
}

.jstree-default .jstree-clicked {
    border: 0 !important;
    background: #ffffff !important;
    box-shadow: none !important;
}

.jstree-default .jstree-hovered {
    background: lightgray !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.margin-top-2 {
    margin-top: 2px;
}

.margin-top-4 {
    margin-top: 4px !important;
}

.margin-top-5 {
    margin-top: 5px;
}

.zipcodediv {
    width: 100%;
    float: left;
}

    .zipcodediv .token-input-list .token-input-token, .zipcodediv .token-input-list .token-input-token.token-input-selected-token {
        background: #fff;
        color: #000;
        padding-top: 4px;
        padding-bottom: 2px;
    }
/*.zipcode
{
    width: 35px;
    float: left;
}*/
.postzipcode {
    position: absolute;
    width: calc(100% - 87px);
    left: 78px;
    top: 1px; /*3px;*/
    margin-left: -10px;
    padding: 0px;
    border: none !important;
    height: 27px !important;
}

.zipcodediv .token-input-token {
    padding-top: 2px !important;
}

.zipcodediv .tooltip-danger, .zipcodediv .input-validation-error:focus {
    border: none;
}

.zipcodediv .token-input-list input {
    padding-bottom: 6px;
}

.zipcodediv .token-input-token.token-input-highlighted-token {
}

.zipcodediv .token-input-list input, .zipcodediv .token-input-list p {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: #555555;
}

div.token-input-dropdown {
    /*max-height: 150px;
    overflow: auto;*/
    z-index: 999999999 !important;
}

.select2-container {
    z-index: 999999999;
    width: 100% !important;
}

.bootstrap-select.input-sm.select2 {
    z-index: 999999999;
}

.bs-container {
    z-index: 999999999;
}

.input-group-addon > i {
    color: inherit;
}

.input-group.date.date-picker input {
    font-size: 12px !important;
}

.btn-transparent {
    background-color: transparent !important;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    /*margin: 10px;*/
}

    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

#pbar .progress {
    height: 15px;
    width: 100%;
    font-size: 15px;
    margin-bottom: 2px;
    background-color: #dedede;
}

    #pbar .progress span {
        color: #000;
    }

#pbar .progress-bar {
    line-height: 14px;
}

.table-elipsis {
    width: 135px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.dirPopover {
    cursor: pointer;
}

.btn-transparent {
    background: transparent;
}

/*.dropdown-menu.inner {
    height: 100px;
}*/


.bs-container .dropdown-menu.open {
    border: 1px solid #bbb5b5;
}

    .bs-container .dropdown-menu.open ul {
        overflow-x: hidden;
        overflow-y: auto;
    }

.filter-panel {
    /*margin-top: 10px;*/
}



.filter-col {
    padding-left: 0px;
    padding-right: 0px;
}

.sort-title {
    font-weight: 600;
    text-align: left;
    display: block;
    color: #666;
    font-size: 14px;
    text-transform: uppercase;
}

ul.sort-list-info {
    list-style: none;
    display: block;
    padding-left: 0px;
}

    ul.sort-list-info li {
        display: block;
        text-align: left;
        color: #666;
        font-size: 12px;
        text-transform: capitalize;
        padding-bottom: 5px;
    }

        ul.sort-list-info li a {
            text-decoration: none;
        }

/*.filter-form .form-group .form-control {
            display: block;
            clear: left;
            position: relative;
        }

        .form-block {
            width: 100%;
            display: block;
            clear: both;
            margin: 10px 0px;
        }

            .form-block .form-group {
                margin: 0px 15px;
                width: 177px;
            }


                .form-block .form-group .form-control {
                    height: 33px;
                    width: 100%;
                }

                .form-block .form-group .searchbtninfo {
                    float: right;
                    width: 100px;
                    display: block;
                }

            .form-block .searchinfobar {
                float: right;
                display: block;
            }*/

hr.separate {
    float: left;
    display: block;
    width: 100%;
    margin-top: 5px;
}

td.inbox-small-cells {
    width: 10px;
    text-align: center;
}

.table .btn {
    margin-right: 0px;
}

.edit-refferal {
    list-style-type: none;
    padding-left: 0;
}

    .edit-refferal li {
        display: inline;
    }

div.checker {
    margin-left: 0px;
}

/*.accordion-toggle:after {    
    font-family: 'FontAwesome';
    content: "\f146";
    float: right;
    color: inherit;
}*/

.panel-heading.collapsed .accordion-toggle:after {
    /* symbol for "collapsed" panels */
    content: "\f0fe";
}


p.about-text {
    color: #808a94;
}

.Unconfirmed {
    background-color: #61AEE4;
}

.label-boldgray {
    font-weight: bold;
    color: gray;
}

.Confirmed {
    background-color: #6aa84f;
}

.NoAnswer {
    background-color: #e69138;
}

.NoPhone {
    background-color: #e69138;
}

.LeftMessage {
    background-color: #e69138;
}

.NoConfirmation, .NoShow {
    background-color: #cc0000;
}

.WaitingList {
    background-color: #e69138;
}

.Cancelled {
    background-color: #cc0000;
}


#facilityAuotComplete ul.token-input-list li input {
    height: 30px;
}

#facilityAuotComplete li.token-input-token {
    float: left;
}

#facilityAuotComplete li.token-input-input-token {
    float: left;
}

/*.table-height-ellipsis {
    height: 18px;
    width: 140px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    text-overflow: ellipsis;
}*/

.table-height-ellipsis {
    line-height: 1.4;
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    max-width: 400px;
    margin: 0 auto;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}



.hideErrorContent {
    position: absolute !important;
    z-index: -1 !important;
    width: 1px;
    height: 1px;
}


.tabbable-custom {
    overflow: inherit !important;
}

.tab-content {
    overflow: inherit !important;
}

/*.fc-day-grid-event .fc-content {
    overflow: visible !important;
}*/
.fc-content .event-container {
    width: 100%;
    color: #000;
    display: block;
    /*overflow: visible;*/
}

    .fc-content .event-container > span {
        display: block;
        box-sizing: border-box;
        float: left;
        padding: 0 5px;
    }

    .fc-content .event-container .fc-name {
        width: 50%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .fc-content .event-container .hc-fc-name {
        width: 100% !important;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .fc-content .event-container .fc-name.male {
        background-color: #33CCFF;
        /*border-left: 3px solid red;*/
    }

    .fc-content .event-container .fc-name.female {
        background-color: #FFCCFF;
    }

    .fc-content .event-container .fc-location {
        width: 50%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.font-size-18 {
    font-size: 18px !important;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-24 {
    font-size: 24px;
}

.font-size-30 {
    font-size: 30px;
}

.font-size-25 {
    font-size: 25px;
}

.font-size-15 {
    font-size: 15px !important;
}

.font-size-14 {
    font-size: 14px !important;
}

.font-size-11 {
    font-size: 11px !important;
}


.font-size-12 {
    font-size: 12px !important;
}

.font-size-13 {
    font-size: 13px !important;
}

.font-size-16 {
    font-size: 16px !important;
}

.font-size-10 {
    font-size: 10px !important;
}

.font-size-8 {
    font-size: 8px !important;
}

.bottom-2 {
    bottom: 2px;
}

.font-weight-400 {
    font-weight: 400;
}

.font-style-oblique {
    font-style: oblique;
}

.fc-day-grid-event {
    padding: 0 !important;
}

.outofcapacity {
    background-color: rgba(255,0,0,0.1) !important;
}

.webui-popover-inner .close {
    position: absolute;
    right: 0px;
}



.tooltip {
    /*z-index: 5;*/
     z-index: 9999999 !important;
}

.tooltip-extra-z-index {
    z-index: 9999999 !important;
}


.position-fixed {
    position: fixed;
    z-index: 5;
    background: white;
}

.position-relative {
    position: relative;
}

.tooltip-z-index-100 {
    z-index: 1000;
}


.cancel-reason-height {
    min-height: 100px !important;
}

.needPrivateRoom, .needPrivateRoom:hover {
    color: black !important;
}

/*button.btn.dropdown-toggle.btn-default {
    padding: 4px 12px;
    padding-right: 25px;
}*/

.compact-search-tr > td {
    padding: 7px !important;
}

.compact-search-tr input, .compact-search-tr select, .compact-search-tr .btn {
    height: 27px !important;
}


.compact-search-tr a {
    padding-top: 4px !important;
}

.compact-search-tr select {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.permissions {
    position: absolute;
    bottom: 5%;
    right: 1%;
}


.strike {
    text-decoration: line-through;
}

.kbw-signature {
    width: 330px;
    height: 140px;
}


.login-kbw-signature {
    background-color: #dde3ec;
    color: #8290a3;
    border: 1px solid #dde3ec;
}

.cursor-disable {
    cursor: not-allowed;
}

.cursor-pointer {
    cursor: pointer;
}


.Note-Detail h1 {
    font-size: 18px;
    margin-top: 5px;
}

.scroll-div {
    max-height: 400px;
    overflow-y: scroll;
}


.remove-form-horizontal {
    padding: 0 40px;
}

    .remove-form-horizontal .form-group {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }


.BS, .BoosterSeat {
    background: #3598dc !important;
}

.PR, .PrivateRoom {
    background: #E08283 !important;
}

.CS, .CarSeat {
    background: #8E44AD !important;
}

.SO, .SaturdayOnly {
    background: #1BBC9B !important;
}

.CP, .SP, .SIGN, .ConsentPacket, .ServicePlan, .Signatures {
    background: #e43a45 !important;
}

.DFS, .DTRFriSun {
    background: #67809F !important;
}

.DLS, .DTRLifeSkills {
    background: #f2784b !important;
}

.v-align-center {
    vertical-align: middle !important;
}

.margin-5 {
    margin: 5px;
}

.margin-2 {
    margin: 2px;
}

/*.transportation-dropdown button {
    z-index: 999999999 !important;
}*/

.trasporationFilter .bootstrap-select .dropdown-menu.inner {
    display: none !important;
}


.trasporationFilter .bootstrap-select.open .dropdown-menu.inner {
    display: block !important;
}


/*.trasporationFilter .webui-popover .dropdown-menu {
    display: none !important;
}

    .trasporationFilter .webui-popover .dropdown-menu.open {
        display: block !important;
    }*/

.custoverflowvisible {
    overflow: visible !important;
}

.portlet.box.yellow-crusta > .portlet-title {
    background-color: #f3c200;
}


.red-border {
    border-left: 2.5px solid red !important;
}


.Add-Facility-Zipcode > input.postzipcode {
    margin-left: -23px;
    width: calc(100% - 57px);
}



table thead th a, table thead th a.anchor_color, table thead th a, table thead th span.anchor_color {
    color: #000000 !important;
}


.clear-left {
    clear: left;
}

.clear-right {
    clear: right;
}

.color-red {
    color: red;
}



.summerNoteEditor .note-editor {
    margin-bottom: 0 !important;
}

.width67 {
    width: 67px;
}

.width500 {
    width: 500px;
}

.width50 {
    width: 50px;
}


.sort-list a {
    padding: 3px 16px !important;
    font-size: 12px;
}

.btn-group.open .sort-by {
    -webkit-box-shadow: none;
    box-shadow: none;
}


.bg-gray-color {
    background-color: #E5E5E5 !important;
}

.padding-10 {
    padding: 5px 5px 5px 5px !important;
}


.padding-10px {
    padding: 10px !important;
}

.padding-2 {
    padding: 2px 4px 2px 4px !important;
}

.padding-care-plan {
    padding: 2px 13px 2px 13px !important;
}




.padding-5 {
    padding: 5px !important;
}





.pad-10 {
    padding: 10px !important;
}

.padding-3 {
    padding: 3px !important;
}

.schAssignment_table tbody {
    border-bottom: 1px solid #b5b5b5 !important;
}

.yellow-info-bg {
    background-color: #ffff80;
}

.schedule-assignment-list {
    max-height: 700px;
    overflow-y: auto;
    overflow-x: auto !important;
    padding-bottom: 15px;
}

.schedule-calendar-assignment-list {
    max-height: 600px;
    overflow-y: auto;
    overflow-x: visible !important;
    padding-bottom: 15px;
    min-height: 700px !important;
}

    .schedule-calendar-assignment-list > .calender {
        width: 300px;
        float: left;
        display: block;
        padding: 0 10px;
    }

    .schedule-calendar-assignment-list .calender-header {
        position: relative;
        z-index: 2;
    }

.reportlabel {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 0px !important;
}

.checklist-print-value {
    border-bottom: 1px dashed black;
}

.content-loader table {
    width: auto;
}

.content-loader tr td {
    white-space: nowrap;
}

.print-font-custom * {
    font-size: 11px !important;
    line-height: 30px;
}

.chk .checkbox-inline input {
    position: relative !important;
}


.form-control:focus {
    border-color: rgba(82,168,236,0.8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6) !important;
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6) !important;
}

.checker.focus, .checker.hover {
    border-color: rgba(82,168,236,0.8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6) !important;
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6) !important;
}

/*.uniformControls:focus {
    border-color: rgba(82,168,236,0.8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6) !important;
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6) !important;
}*/

.form-group.form-md-line-input .form-control {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.font-black {
    color: #000 !important;
}

.token-input-input-token .form-control {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}


#wizard-step-container {
    margin: 20px 0;
}

#wizard-content-container {
    margin: 20px 0;
}

#wizard-navigation-container {
    border-top: 1px solid #eee;
    margin: 20px 0;
    padding-top: 20px;
}

.tblAdjudicationHostory th, .tblAdjudicationHostory td:nth-child(even) {
    /*color: #34495e;*/
    background-color: #f5f5f5;
    border-color: #ddd;
}


.tblSubmissionAdjudicationHostory {
    background-color: #f5f5f5 !important;
    border-color: #ddd !important;
}

    .tblSubmissionAdjudicationHostory th, .tblSubmissionAdjudicationHostory td {
        background-color: #f5f5f5 !important;
        border-color: #ddd !important;
    }

.ah .alert.alert-danger {
    padding: 5px !important;
    margin-bottom: 10px !important;
}


.fixedSelect option {
    width: 15px;
}


.padding-top-15 {
    padding-top: 15px;
}

.padding-top-20 {
    padding-top: 20px !important;
}


.padding-top-30 {
    padding-top: 30px;
}

.padding-top-40 {
    padding-top: 40px;
}


.padding-top-10 {
    padding-top: 10px;
}

.padding-top-7 {
    padding-top: 7px !important;
}

.padding-top-5 {
    padding-top: 5px !important;
}


#wizard-container .mt-element-step {
    line-height: 1.42857;
}

#wizard-container .mt-step-col {
    text-decoration: none;
}

.disabled-anchor {
    cursor: not-allowed;
    pointer-events: none;
    color: grey;
}


.margin-left-110 {
    margin-left: 110px;
}


.htmlContainer table {
    /*width: 100px;*/
}

#group-note-panel .panel-default {
    border-color: rgba(47, 47, 47, 0.49);
}



.referral-enbl-cls {
    padding-left: 6px;
    padding-right: 8px;
}


.setPagesize {
    width: 50px;
    float: left;
    margin-right: 20px;
}

.border-bottom {
    border-bottom: solid 1px #aaa;
}



.im_details .subject, .im_details .message {
    margin-left: 0px !important;
}

.im_details a {
    padding: 10px 16px 10px 16px !important;
}

.im_details .time {
    color: #3c0303;
}



.toast-top-right {
    top: 55px !important;
}



.vertical-align-baseline {
    vertical-align: baseline !important;
}

.multiSort.dropdown-menu > li > a {
    display: inline-block !important;
    padding: 8px 10px !important;
}

.filter-panel .irs {
    height: 0px !important;
}


.schAssignment_table.table td {
    padding: 1px 1px 0px 1px !important;
    vertical-align: middle !important;
    font-size: 11px !important;
}

.dragRef {
    top: 2px !important;
    font-size: 15px !important;
}

.recurringSch {
    margin-top: 3px !important;
    padding-right: 5px !important;
    padding-left: 2px !important;
    font-size: 15px !important;
}



@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spinner {
    to {
        -webkit-transform: rotate(360deg);
    }
}

.small-loader {
    position: relative;
}



    .small-loader:before {
        content: 'Loading…';
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        float: left;
        width: 20px;
        height: 20px;
        margin-right: -25px;
    }

    .small-loader:not(:required):before {
        content: '';
        border-radius: 50%;
        border: 5px solid #eee; /*rgba(0, 0, 0, .3);*/
        border-top-color: #3598DC; /*rgba(0, 0, 0, .6);*/
        animation: spinner .6s linear infinite;
        -webkit-animation: spinner .6s linear infinite;
    }


.ref-audit-list {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden !important;
    padding-bottom: 15px;
}

.content-sparform {
    margin: 10px 0;
}

.content-checklist {
    margin: 10px 0;
}

.form-disable {
    background: rgba(177, 177, 177, 0.5);
}



.form-control:not(.postzipcode),
.form-control:not(.bootstrap-select),
.token-input-list,
.btn-group.bootstrap-select button {
    border: 1px solid #868686; /*!important;*/
}

.token-input-list {
    border: 1px solid #868686 !important;
}



/*.form-control:not(.postzipcode),.token-input-list {
    border: 1px solid #868686  !important;
}*/

.form-control[disabled] {
    background-color: #eef1f5 !important;
    opacity: 1;
}

#frmReferralCheckList .form-control, #frmreferralsparform .form-control,
#frmAnsellCaseyReview .form-control {
    border: none !important;
    background: none !important;
    /*cursor: not-allowed !important;*/
    border-bottom: 1px dashed #c2cad8 !important;
}


.border-left {
    border-left: 1px dashed #333;
}

.table.schAssignment_table > tbody + tbody {
    border-top: none !important;
    border-bottom: none !important;
}




.ui-icon, .ui-widget-content .ui-icon {
    background-image: url(/Assets/images/ui-icons_444444_256x240.png);
}

.ui-icon-gripsmall-diagonal-se {
    background-position: -64px -224px;
}

.ui-icon {
    width: 16px;
    height: 16px;
}

.ui-resizable-se {
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 17px;
    bottom: 14px;
    float: right;
}

.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
    -ms-touch-action: none;
}

.ui-icon {
    display: inline-block;
    vertical-align: middle;
    margin-top: -.25em;
    position: relative;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}


#frmReferralCheckList select {
    height: 30px;
}

#frmReferralCheckList .input-group-addon {
    border-bottom: 1px dashed #c2cad8;
}







/*div.compact .table-condensed.table thead tr th,
div.compact .table-condensed.table tbody tr td{
    border: 1px solid #616161  !important;
}
div.compact .table-condensed.table > tbody > tr:nth-of-type(odd) {
    background-color: #e0e0e0 !important
     
}
div.compact .table-condensed.table > tbody > tr:first-child{
    background-color: #fbfcfd !important;
}*/

.bold, b.badge, .bold.badge {
    font-weight: bold;
}


.ReferralAccepted, .ReferralAccepted:hover, .ReferralAccepted:focus {
    background-color: #009d31;
    display: inline-block;
    color: #fff;
    border-radius: 12px !important;
}

.ReferralInitialReview, .ReferralInitialReview:hover, .ReferralInitialReview:focus {
    background-color: #2554ff;
    display: inline-block;
    color: #fff;
    border-radius: 12px !important;
}

.ReferralOnHold, .ReferralOnHold:hover, .ReferralOnHold:focus {
    background-color: #ff4fc1;
    display: inline-block;
    color: #fff;
    border-radius: 12px !important;
}

.ReferralDenied, .ReferralDenied:hover, .ReferralDenied:focus {
    background-color: #cc0000;
    display: inline-block;
    color: #fff;
    border-radius: 12px !important;
}


.badge-custom, .badge-custom:hover {
    min-width: 10px;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    font-size: 11px !important;
    height: 14px;
    padding: 1px 5px;
    text-align: center;
}

#report-container .ribbon-content {
    min-height: 160px;
}


.ansellTable tr th:first-child {
    min-width: 250px !important;
    padding-left: 6px !important;
}

.ansellTable th {
    padding: 3px !important;
}

.ansellTable td {
    padding: 3px !important;
    text-align: center !important;
}

.outComeForm span.form-control {
    padding: 7px 12px !important;
}


.outComeTable tr th:first-child {
    min-width: 400px !important;
    padding-left: 6px !important;
}

.outComeTable th {
    padding: 3px !important;
}

.outComeTable td {
    padding: 3px !important;
    text-align: center !important;
}




.padding-top-18 {
    padding-top: 18px;
}

.padding-top-65 {
    padding-top: 65px;
}

#group-note-panel .panel-default > .panel-heading {
    background-color: #eaeaea !important;
}


.tblCollpase table tbody {
    border-collapse: inherit !important;
}

.tblCollpase table.table > tbody + tbody {
    border-top: 0 !important;
}


span.UnitCalculation {
    font-weight: 600;
    color: #4a5845;
}

.label-info-white {
    background-color: #FFF;
    color: #171717;
    padding: 5px 0px 5px 15px;
    margin-top: 15px;
}

.btn-xs .error.badge {
    padding: 3px 5px !important;
}

.error.badge.badge-success {
    background-color: #36c6d3 !important;
    background-image: none !important;
}


.table-striped.tblAdjudicationHostory > tbody > tr:hover {
    background-color: #fbfcfd !important;
}

.table-striped.tblSubtable > tbody > tr:hover {
    background-color: #fbfcfd !important;
}


.table-striped.tblSubtable > thead > tr {
    background-color: #bbbbbb !important;
    border-top: 1px solid !important;
}


.width440px {
    width: 440px !important;
}


.width-450px, .width450px {
    width: 450px !important;
}


.border-blue {
    border-color: #3598dc !important;
}


.excel-export {
    font-size: 25px !important;
    padding-top: 7px !important;
    padding-right: 20px !important;
}

.autocomplete-suggestions {
    z-index: 9999999 !important;
}


.cssDisabled {
    pointer-events: none;
}

    .cssDisabled input.form-control {
        background-color: #eef1f5 !important;
        cursor: not-allowed;
    }


.tooltip-arrow-red {
    border-top-color: #e7505a !important;
}


.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu.headerClass {
    max-width: 600px !important;
    width: 480px !important;
    border-color: #7f7f7f !important;
}


.disabledContent {
    opacity: 0.6;
    pointer-events: none;
}


.sparform-lable {
    font-size: 18px !important;
    font-style: italic;
}

.token-seprator {
    padding: 6px;
    border-bottom: thin dotted #a0a0a0;
}



tbody .collapseSource.font-blue {
    color: #178fe2 !important;
    padding-top: 2px;
}




.font-pink {
    color: #ff00d2 !important;
}

.tooltip-arrow-pink {
    border-top-color: #ff00d2 !important;
}

.bg-pink {
    background: #ff00d2 !important;
}

.td-reconcile .checker {
    margin-top: 0px !important;
}


.selectedPayor {
    background-color: #fff3ec !important;
}

.timeslot-radio {
    margin-top: 0px !important;
    margin-right: 5px !important;
}

.markaslatest td {
    background-color: #cacaff !important;
}


/*tbody a.status835 {
    color: #178fe2 !important;    
}*/


.status835 {
    color: #0819ff !important;
    font-weight: 600 !important;
}

.table-striped > tbody > tr.openTrReconcile:first-child {
    background-color: beige !important;
}

badge_main {
    padding: 0px 15px;
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}

.badge_main .badge-default {
    color: #fff;
    padding-left: 5px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

    .badge_main .badge-default a {
        padding: 2px 5px;
        border-left: 1px solid #fff;
        color: #fff;
        display: inline-block;
        margin-left: 5px;
        text-decoration: none;
        line-height: 20px;
        margin-top: -1px;
    }

        .badge_main .badge-default a:hover, .badge_main .badge-default a:focus {
            color: #fff;
            text-decoration: none;
            outline: none;
        }


.NoConflicts {
    background-color: #777979e0;
}

.Conflicts {
    background-color: orangered;
}



.calender_loader {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.70);
    z-index: 10;
}

.calender_loadertitle {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 30px;
    border: 1px solid #000;
    padding: 30px 60px;
    background-color: #fff;
}

.table-striped > tbody > tr.bg-green:first-child,
.table-striped > tbody > tr.bg-green:nth-child(odd) {
    background-color: #32c5d2 !important;
}

td.fc-day.fc-past {
    background-color: #EEEEEE;
}



.chartWrapper {
    position: relative;
}

.chartWrapper > canvas {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}

/*.chartAreaWrapper {
    height: 300px;
    width: 600px;
    overflow-x: scroll;
}*/


.webui-popover.in {
    z-index: 9999999999999999999999 !important;
}

.empvisitlist_tbl .bootstrap-select {
    width: 180px !important;
}

.bootbox-input.bootbox-input-textarea.form-control {
    height: 170px !important;
}

.assigned-employee {
    max-height: 400px !important;
    overflow: auto;
}



.table-striped > tbody > tr.bg-purple-soft:first-child, .table-striped > tbody > tr.bg-purple-soft:nth-child(odd) {
    background-color: #8877a9 !important;
}

