@{
    ViewBag.Title = string.Format("{0} {1}", Resource.ZarePhath, Resource.ViewReleaseNote);
    Layout = "~/Views/Shared/_Layout_ViewReleaseNote.cshtml";
}

@model ReleaseNote
<div class="post-inner-content">
    <header class="entry-header page-header">

        <h1 class="entry-title ">@Model.Title</h1>

        <div class="entry-meta">
            <span class="posted-on">
                Posted On:
                <i class="fa fa-calendar"></i>
                <time class="entry-date published">@Model.PostedDate.ToString("dddd, dd MMMM yyyy")</time>
            </span>
        </div>
    </header>
    <div class="col-md-9 entry-content">
        <p>@Html.Raw(Model.Description)</p>
    </div>
</div>