@import url('https://fonts.googleapis.com/css?family=Open+Sans:light 300,regular 400,semi-bold 600,bold 700,extra-bold 800,');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {line-height: 1;}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;}
table {	border-collapse: collapse;
	border-spacing: 0;}
*{box-sizing:border-box;}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #cccccc;
	font-family:14px;
	font-family: 'Open Sans', sans-serif;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #cccccc;
	font-family:14px;
	font-family: 'Open Sans', sans-serif;

}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #cccccc;
	font-family:14px;
	font-family: 'Open Sans', sans-serif;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #cccccc;
	font-family:14px;
	font-family: 'Open Sans', sans-serif;

}


:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #cccccc;
	font-family:14px;
	font-family: 'Open Sans', sans-serif;

}



.form-main ::placeholder {
	 font-size:14px;
  opacity: 1; 
}



@font-face {
    font-family:'FontAwesome';
    src:url(fonts/FontAwesome.otf);
}

/* =WordPress Core

-------------------------------------------------------------- */

.alignnone{margin:5px 20px 20px 0}
.aligncenter,div.aligncenter{display:block;margin:5px auto}
.alignright{float:right;margin:5px 0 20px 20px}
.alignleft{float:left;margin:5px 20px 20px 0}
a img.alignright{float:right;margin:5px 0 20px 20px}
a img.alignnone{margin:5px 20px 20px 0}
a img.alignleft{float:left;margin:5px 20px 20px 0}
a img.aligncenter{display:block;margin-left:auto;margin-right:auto}
.wp-caption{background:#fff;border:1px solid #f0f0f0;max-width:96%;padding:5px 3px 10px;text-align:center}
.wp-caption.alignnone{margin:5px 20px 20px 0}
.wp-caption.alignleft{margin:5px 20px 20px 0}
.wp-caption.alignright{margin:5px 0 20px 20px}
.wp-caption img{border:0 none;height:auto;margin:0;max-width:98.5%;padding:0;width:auto}
.wp-caption p.wp-caption-text{font-size:11px;line-height:17px;margin:0;padding:0 4px 5px}
.screen-reader-text{clip:rect(1px,1px,1px,1px);position:absolute!important;height:1px;width:1px;overflow:hidden}
.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,0.6);clip:auto!important;color:#21759b;display:block;font-size:14px;font-size:.875rem;font-weight:700;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}

/*

Defaults

---------------------------------------------------------------------------------------------------- */

/* Typographical Elements

--------------------------------------------- */
h1, h2, h3, h4, h5, h6{font-weight:700;}
h1{font-size:28px; }
h2{font-size:24px; }
h3{font-size:20px;}
h4{font-size:18px;}
h5{font-size:15px;}
h6{font-size:13px;}
b{font-weight:700;}
strong{font-weight:700;}
p{font-size:16px;  font-weight:400; margin-bottom:30px; line-height: 36px; }
a{text-decoration:none; color:#fff;}
p{ font-size:16px; margin-bottom:35px;}
i{font-style:italic; }

ul{}
ul li{font-size:15px;}
em{font-style:italic;}
i{font-style:italic;}

.left{float:left;}
.right{float:right;}
.center{margin:0px auto;}
b{font-weight:700;}
strong{font-weight:700;}

/*************** style **************/
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800');



body{margin:0px; padding:0px; font-family: 'Poppins', sans-serif !important;}
.heading-main span {font-size: 14px;}

.form-contact{ width:100%; background:#fff !important;padding: 50px 0px;
}
.heading-main h4 {
    text-align: center;
	    font-size:16px !important;
}
.form-heading {
    padding: 10px 0px;
}


input[type="date"]
{ border:1px solid #ccbcbc;}

.form-inner {
    border: 2px solid;
    padding:0px 15px;
}

.form-inner label {
    width: 100%;
    line-height: 45px;
    font-weight: 500;
}
.form-group.t-border {
    margin-top: 5px;
}
.form-info h4 {
    margin: 15px 0px 40px;
	    font-weight: 500;
		 font-size:16px !important;
}
.cost h4 {
    padding-left: 15px;
    line-height: 28px;
    margin: 14px 0 30px;
	    font-weight: 500;
		 font-size:16px !important;
}
.provider-Initial input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    margin-right: 17px;
    line-height: 25px !important;
    margin-bottom: 20px;
}
span.Initial {
    display: inherit;
}
.bottum-form input[type="date"] {
    width: 100%;
    margin-bottom: 0px;
}
.bottum-form .input-group {
    margin-bottom: 15px;
}
.bottum-form {
    padding: 30px 0px;
}
.bottum-list li {
    list-style: none;
}
.bottum-list li {
    list-style: none;
    line-height: 30px;
    font-weight: 500;
}
.provider-Initial lable {
    font-size: 14px;