@{
    ViewBag.Title = string.Format("{0} {1}", Resource.ZarePhath, Resource.Dashboard);
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SelectedMenuItem = Resource.SMI_Dashboard;
}
<div>
    <img src="~/Assets/images/DummyDashboard.jpg" style="max-width:100%"/>
</div>