<div calender-dropper="DataModel" >
    <div class="event-container" common-detail-popover="DataModel" ng-template-selector="#eventdetailpopover" popover-width="400" popover-trigger="click" popover-closeable="true" pop-over-functions="DataModel.event.popOverObj">
        <span  class='fc-name ' data-ng-class="{'male':(DataModel.event.scheduleModel.Gender=='M'),'female':(DataModel.event.scheduleModel.Gender=='F'),
        'red-border':(DataModel.event.scheduleModel.NeedPrivateRoom)}">{{DataModel.event.scheduleModel.LastName}}, {{DataModel.event.scheduleModel.FirstName}} ({{DataModel.event.scheduleModel.Age}})
        </span>
        <span  class='fc-location'>{{DataModel.event.scheduleModel.PickUpLocationName}}</span>
    </div>
</div>
