<div class="col-sm-12 no-padding">
    <div class="dataTables_wrapper margin-top-5 ">
        <table class="table table-advance table-bordered table-striped table-hover table-condensed tbl_reflog">
            <tbody>
                <tr>
                    <td>Who Cancelled</td>
                    <td>{{commonDetailPopover.WhoCancelled}}</td>
                </tr>
                <tr>
                    <td>When Cancelled</td>
                    <td>{{commonDetailPopover.WhenCancelled | dateformat}}</td>
                </tr>
                <tr>
                    <td>Reason</td>
                    <td>{{commonDetailPopover.CancelReason}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
