.top-margin {
    margin-top: 20px;
}

.modal-header.panel-heading {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.modal-body p {
    word-wrap: break-word;
}

.btn-primary {
    background-color: #0581c5;
    border-color: #0581c5;
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: #7d2c83;
    border-color: #7d2c83;
}

.btn-info {
    background-color: #939ba0;
    border-color: #939ba0;
}
.btn-info:hover,
.btn-info:focus {
    background-color: #686b6d;
    border-color: #686b6d;
}

.btn-danger {
    background-color: #FF8200;
    border-color: #FF8200;
}
.btn-danger:hover,
.btn-danger:focus {
    background-color: #b55d00;
    border-color: #b55d00;
}

.navbar.navbar-default {
    background-color: white;
}

.navbar.navbar-default li.active > a {
    background-color: #0581c5;
    color: white;
}
.navbar.navbar-default li.active > a:hover,
.navbar.navbar-default li.active > a:focus {
    background-color: #7d2c83;
    color: white;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.ui-datepicker {
     z-index: 10000 !important;
 }

input.ng-invalid.ng-touched.briggs-validate {
    border: 2px solid red;
}

span[ng-message] {
    margin: 0;
    padding: 0;
    color: red;
}

.pf-modal-canvas {
    height: 12vw;
}

.pf-modal-canvass-wrapper {
    width: 60vw !important;
    border: none;
}

.pf-signature-view {
    border: 1px solid #ced4da;
    width: 100%;
    border-radius: .25rem;
    /* The height is set dynamically by the JQuery code */
}

.pf-signature-view > img {
    width: 100%;
    height: 100%;
    border: none;
}

.pf-signature-view > img.pf-img-init {
    display: none !important;
}

/* We want to center the modal for signatures */
.pf-signature-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
}
.pf-signature-center-align {
    display: table-cell;
    vertical-align: middle;
}
.pf-signature-center-align > .modal-content {
    width: inherit;
    max-width: inherit;
    height: inherit;
    margin: 0 auto;
}