
CREATE TRIGGER [dbo].[tr_Employees_Deleted] ON [dbo].[Employees]
FOR Delete AS 

INSERT INTO JO_Employees( 
EmployeeID,
FirstName,
MiddleName,
LastName,
Email,
UserName,
Password,
PasswordSalt,
PhoneWork,
PhoneHome,
DepartmentID,
IsDepartmentSupervisor,
SecurityQuestionID,
SecurityAnswer,
IsActive,
IsVerify,
RoleID,
IsSecurityQuestionSubmitted,
CreatedDate,
CreatedBy,
UpdatedDate,
UpdatedBy,
SystemID,
IsDeleted,
EmpSignature,
EmployeeSignatureID,
CredentialID,
Degree,
RegularHours,
RegularPayHours,
OvertimePayHours,
Action,ActionDate
)

SELECT  
EmployeeID,
FirstName,
MiddleName,
LastName,
Email,
UserName,
Password,
PasswordSalt,
PhoneWork,
PhoneHome,
DepartmentID,
IsDepartmentSupervisor,
SecurityQuestionID,
SecurityAnswer,
IsActive,
IsVerify,
RoleID,
IsSecurityQuestionSubmitted,
CreatedDate,
CreatedBy,
UpdatedDate,
UpdatedBy,
SystemID,
IsDeleted,
EmpSignature,
EmployeeSignatureID,
CredentialID,
Degree,
RegularHours,
RegularPayHours,
OvertimePayHours,
'D',GETUTCDATE() FROM deleted
