@{
    ViewBag.Title = string.Format("{0} {1}", Resource.ZarePhath, "UIKit");
    Layout = "~/Views/Shared/_Layout.cshtml";
    // Layout = Model.IsPartial ? null : "~/Views/Shared/_Layout.cshtml";
    ViewBag.SelectedMenuItem = "UIKit";
}

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<div class="uikit-section mb-30">
    <h3>Boxes</h3>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-default box p-15">
                        <h2>Default Panels</h2>
                        <p>This is a center text</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-primary box p-15">
                        <h2>Default Panels</h2>
                        <p>This is a center text</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-success box p-15">
                        <h2>Default Panels</h2>
                        <p>This is a center text</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-info box p-15">
                        <h2>Default Panels</h2>
                        <p>This is a center text</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <code class="language-html" data-lang="html">
<pre>
    &lt;div class="panel panel-default box p-15"&gt;
    &lt;h2>Default Panels&lt;/h2&gt;
    &lt;p>This is a center text&lt;/p&gt;
    &lt;/div&gt;
</pre>
            </code>
        </div>

    </div>


    <h3>Panals</h3>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default p-15">...</div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-primary p-15">...</div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-success p-15">...</div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-info p-15">...</div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-warning p-15">...</div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-danger p-15">...</div>
        </div>
        <div class="col-md-12">
            <code class="language-html" data-lang="html">
                <pre>
&lt;div class="panel panel-default p-15"&gt;...&lt;/div&gt;
&lt;div class="panel panel-success p-15"&gt;...&lt;/div&gt;
&lt;div class="panel panel-info p-15"&gt;...&lt;/div&gt;
&lt;div class="panel panel-warning p-15"&gt;...&lt;/div&gt;
&lt;div class="panel panel-danger p-15"&gt;...&lt;/div&gt;
                </pre>
            </code>
        </div>
    </div>

    <div class="row ">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="task-columns flex justify-end mb-30">
                <div class="tasks-col mr-20">
                    <div class="input-color">
                        <span>Incomplete Time Sheet</span>(56)
                        <div class="color-box label-danger"></div>
                    </div>
                    <div class="input-color">
                        <span>Complete Time Sheet</span>(102)
                        <div class="color-box label-success"></div>
                    </div>
                    <div class="input-color">
                        <span> Clock-In not done</span>
                        <div class="color-box label-default"></div>
                    </div>
                </div>
                <div class="approval-col">
                    <div class="approval-cols">
                        <span class="badge badge-pill badge-warning">AR</span> Approval Pending (1)
                    </div>
                    <div class="approval-cols">
                        <span class="badge badge-pill badge-success">AR</span> Approval Approved (30)
                    </div>
                    <div class="approval-cols">
                        <span class="badge badge-pill badge-danger">AR</span> Approval Rejected (4)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <code class="language-html" data-lang="html">
                <pre>
&lt;div class="tasks-col"&gt;
    &lt;div class="input-color"&gt;
        &lt;span&gt;Incomplete Time Sheet&lt;/span>(56)
        &lt;div class="color-box label-danger"&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="input-color"&gt;
        &lt;span&gt;Complete Time Sheet&lt;/span>(102)
        &lt;div class="color-box label-success"&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="input-color"&gt;
        &lt;span&gt; Clock-In not done&lt;/span&gt;
        &lt;div class="color-box label-default"&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
                </pre>
            </code>
        </div>

        <!--Code-->
        <div class="col-md-12">
            <code class="language-html" data-lang="html">
<pre>
    &lt;div class="approval-col"&gt;
        &lt;div class="approval-cols"&gt;
            &lt;span class="badge badge-pill badge-warning"&gt;AR&lt;/span&gt; Approval Pending (1)
        &lt;/div&gt;
        &lt;div class="approval-cols"&gt;
            &lt;span class="badge badge-pill badge-success"&gt;AR
            &lt;/span&gt; Approval Approved (30)
        &lt;/div&gt;
        &lt;div class="approval-cols" &gt;
            &lt;span class="badge badge-pill badge-danger"&gt;AR
            &lt;/span&gt; Approval Rejected (4)
        &lt;/div&gt;
    &lt;/div&gt;
</pre>
            </code>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box margin-bottom-0">

                <div class="portlet-title">
                    <div class="caption header-font-size-14 uppercase">
                        Notifications
                        <div class="pull-right padding-left-25 ng-hide" data-ng-show="WebNotificationListAjaxStart">
                            <img src="/Assets/images/lazyload.gif">
                        </div>
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                        <a href="javascript:;" class="fullscreen"></a>
                    </div>
                </div>

                <div class="portlet-body table_font-size-12 no-padding auto-height">
                    <div class="col-sm-12 padding-15 border-bottom-default">
                        <button type="button" class="btn btn-default" data-ng-click="MarkSelectedAsRead()">
                            Mark As Read
                        </button>
                    </div>
                    <div class="row no-margin">
                        <div class="col-sm-12">
                            <form id="frmWebNotificationList" novalidate="novalidate" class="ng-pristine ng-valid">
                                <div data-ng-if="WebNotificationList.length == 0" class="ng-scope">
                                    <div class="row mt-15">
                                        <div class="col-lg-12">
                                            <div class="alert alert-danger">
                                                <p class="text-align-center">No records found.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <div class="text-align-right actions actions mb-20">
                                <button class="btn btn-xs blue"><i class="fa fa-edit"></i></button>
                                <a href="javascript:void(0);" class="btn btn-xs green ng-hide">Active</a>
                                <a href="javascript:void(0);" class="btn btn-xs red"><i class="fa fa-trash"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-12">
            <code class="language-html" data-lang="html">
                <pre>
    &lt;div class="portlet box margin-bottom-0"&gt;
    &lt;div class="portlet-title"&gt;
    &lt;div class="caption header-font-size-14 uppercase"&gt;
                Notifications
    &lt;div class="pull-right padding-left-25 ng-hide" data-ng-show="WebNotificationListAjaxStart"&gt;
        &lt;img src="/Assets/images/lazyload.gif"&gt;
    &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="tools"&gt;
        &lt;a href="javascript:;" class="collapse">&lt;/a&gt;
        &lt;a href="javascript:;" class="fullscreen">&lt;/a&gt;
    &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="portlet-body table_font-size-12 no-padding auto-height"&gt;
    &lt;div class="col-sm-12 padding-15 border-bottom-default"&gt;
    &lt;button type="button" class="btn btn-default" data-ng-click="MarkSelectedAsRead()"&gt;
    Mark As Read
    &lt;/button&gt;
    &lt;/div&gt;
    &lt;/div&gt;
    &lt;/div&gt;

Small Action Buttons 

&lt;div class="text-align-right actions actions mb-20"&gt;
    &lt;button class="btn btn-xs blue"&gt;&lt;i class="fa fa-edit"&gt;&lt;/i&gt;&lt;/button&gt;
    &lt;a href="javascript:void(0);" class="btn btn-xs green ng-hide"&gt;Active&lt;/a&gt;
    &lt;a href="javascript:void(0);" class="btn btn-xs red"&gt;&lt;i class="fa fa-trash"&gt;&lt;/i&gt;&lt;/a&gt;
&lt;/div&gt;
</pre>
            </code>
        </div>

    </div>


    <div class="row">
        <div class="col-md-6">
            <div class="typogrophy-elements">
                <h1>Heding 1</h1>
                <h2>Heding 2</h2>
                <h3>Heding 3</h3>
                <h4>Heding 4</h4>
                <h5>Heding 5</h5>
                <h6>Heding 6</h6>
                <p>Lorem Ipsum dolor sit amit</p>
            </div>
            <code>
                <pre>
     &lt;div class="typogrophy-elements"&gt;
        &lt;h1&gt;Heding 1&lt;/h1&gt;
        &lt;h2&gt;Heding 2&lt;/h2&gt;
        &lt;h3&gt;Heding 3&lt;/h3&gt;
        &lt;h4&gt;Heding 4&lt;/h4&gt;
        &lt;h5&gt;Heding 5&lt;/h5&gt;
        &lt;h6&gt;Heding 6&lt;/h6&gt;
        &lt;p&gt;Lorem Ipsum dolor sit amit&lt;/p&gt;
    &lt;/div&gt;        
    </pre>
            </code>
        </div>
        <div class="col-md-6">
            <div class="grey-buttons-section">
                <h2>Grey Buttons</h2>
                <button type="button" class="btn btn-xs btn-default"> Mark As Read</button>
                <button type="button" class="btn btn-sm btn-default"> Mark As Read</button>
                <button type="button" class="btn btn-md btn-default"> Mark As Read</button>
                <button type="button" class="btn btn-lg btn-default"> Mark As Read</button>
            </div>
            <code>
                <pre>
&lt;button type="button" class="btn btn-xs btn-default"&gt; Mark As Read&lt;/button&gt;
&lt;button type="button" class="btn btn-sm btn-default"&gt; Mark As Read&lt;/button&gt;
&lt;button type="button" class="btn btn-md btn-default"&gt; Mark As Read&lt;/button&gt;
&lt;button type="button" class="btn btn-lg btn-default"&gt; Mark As Read&lt;/button&gt;     
    </pre>
            </code>
            <div class="red-buttons-section">
                <h2>Red Buttons</h2>
                <button type="button" class="btn btn-xs btn-danger"> Mark As Read</button>
                <button type="button" class="btn btn-sm btn-danger"> Mark As Read</button>
                <button type="button" class="btn btn-md btn-danger"> Mark As Read</button>
                <button type="button" class="btn btn-lg btn-danger"> Mark As Read</button>
            </div>
            <code>
                <pre>
&lt;button type="button" class="btn btn-xs btn-danger"&gt; Mark As Read&lt;/button&gt;
&lt;button type="button" class="btn btn-sm btn-danger"&gt; Mark As Read&lt;/button&gt;
&lt;button type="button" class="btn btn-md btn-danger"&gt; Mark As Read&lt;/button&gt;
&lt;button type="button" class="btn btn-lg btn-danger"&gt; Mark As Read&lt;/button&gt;       
    </pre>
            </code>
            <div class="blue-buttons-section">
                <h2>Blue Buttons</h2>
                <button type="button" class="btn btn-xs btn-primary"> Mark As Read</button>
                <button type="button" class="btn btn-sm btn-primary"> Mark As Read</button>
                <button type="button" class="btn btn-md btn-primary"> Mark As Read</button>
                <button type="button" class="btn btn-lg btn-primary"> Mark As Read</button>
            </div>
            <code>
                <pre>
&lt;button type="button" class="btn btn-xs btn-primary"&gt; Mark As Read&lt;/button&gt;
&lt;button type="button" class="btn btn-sm btn-primary"&gt; Mark As Read&lt;/button&gt;
&lt;button type="button" class="btn btn-md btn-primary"&gt; Mark As Read&lt;/button&gt;
&lt;button type="button" class="btn btn-lg btn-primary"&gt; Mark As Read&lt;/button&gt;     
    </pre>
            </code>
            <div class="green-buttons-section">
                <h2>Green Buttons</h2>
                <button type="button" class="btn btn-xs btn-success"> Mark As Read</button>
                <button type="button" class="btn btn-sm btn-success"> Mark As Read</button>
                <button type="button" class="btn btn-md btn-success"> Mark As Read</button>
                <button type="button" class="btn btn-lg btn-success"> Mark As Read</button>
            </div>
            <code>
                <pre>
&lt;button type="button" class="btn btn-xs btn-success"&gt; Mark As Read&lt;/button&gt;
&lt;button type="button" class="btn btn-sm btn-success"&gt; Mark As Read&lt;/button&gt;
&lt;button type="button" class="btn btn-md btn-success"&gt; Mark As Read&lt;/button&gt;
&lt;button type="button" class="btn btn-lg btn-success"&gt; Mark As Read&lt;/button&gt;      
    </pre>
            </code>
            <div class="green-buttons-section">
                <h2>Info Buttons</h2>
                <button type="button" class="btn btn-xs btn-info"> Mark As Read</button>
                <button type="button" class="btn btn-sm btn-info"> Mark As Read</button>
                <button type="button" class="btn btn-md btn-info"> Mark As Read</button>
                <button type="button" class="btn btn-lg btn-info"> Mark As Read</button>
            </div>
            <code>
                <pre>
&lt;button type="button" class="btn btn-xs btn-info"&gt; Mark As Read&lt;/button&gt;
&lt;button type="button" class="btn btn-sm btn-info"&gt; Mark As Read&lt;/button&gt;
&lt;button type="button" class="btn btn-md btn-info"&gt; Mark As Read&lt;/button&gt;
&lt;button type="button" class="btn btn-lg btn-info"&gt; Mark As Read&lt;/button&gt;     
    </pre>
            </code>
        </div>
    </div>

    <div class="tables-section mb-30">
        <h2>Simple Table</h2>
        <table class="table table-bordered table-striped table-condensed flip-content">
            <thead class="flip-content">
                <tr>
                    <th class="width-20px"></th>
                    <th width="50"></th>
                    <th class="">
                        <a class="anchor_color" href="javascript:void(0);">Employee ID</a>
                        <span class="sortorder"></span>
                    </th>
                    <th class="">
                        <a class="anchor_color" href="javascript:void(0);">Role</a>
                        <span class="sortorder"></span>
                    </th>
                    <th class="">
                        <a class="anchor_color" href="javascript:void(0);">Name</a>
                        <span class="sortorder"></span>
                    </th>
                    <th class="">
                        <a class="anchor_color" href="javascript:void(0);">Phone</a>
                        <span class="sortorder"></span>
                    </th>
                    <th class="">
                        <a class="anchor_color" href="javascript:void(0);">Address</a>
                        <span class="sortorder"></span>
                    </th>
                    <th>
                        <a class="anchor_color" href="javascript:void(0);">Email</a>
                        <span class="sortorder"></span>
                    </th>
                    <th width="125" class="actionTh">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr class="compact-search-tr">
                    <td>
                        <div class="btn-group">
                            <div class="checker" id="uniform-SelectAllEmployee"><span><input id="SelectAllEmployee" class="unicheckbox" type="checkbox" val="SelectAllCheckbox"></span></div>
                            <label for="SelectAllEmployee"></label>
                        </div>
                    </td>
                    <td></td>
                    <td>
                        <input class="form-control input-sm" maxlength="50" name="SearchEmployeeModel.EmployeeUniqueID" placeholder="Employee ID" type="text" value="">
                    </td>
                    <td>
                        <select class="form-control input-sm">
                            <option value="">Select Role</option>
                            <option value="25">Ambulance</option>
                            <option value="23">Case Manager</option>
                            <option value="22">Clinical Team</option>
                            <option value="26">Contractor</option>
                            <option value="28">Doctors</option>
                            <option value="19">HHA</option>
                            <option value="18">Nurse</option>
                            <option value="20">Office Staff</option>
                            <option value="10029">Patient</option>
                            <option value="10028">Send Notifications</option>
                            <option value="21">Staffing</option>
                            <option value="1">Super Admin</option>
                            <option value="27">TestAuto</option>
                            <option value="24">Testmanoj</option>
                        </select>
                    </td>
                    <td>
                        <input class="form-control input-sm" id="MobileNumber" maxlength="10" name="Mobile Number" placeholder="Mobile Number" type="text" value="">
                    </td>
                    <td>
                        <input class="form-control input-sm" id="Address" name="Address" placeholder="Address" type="text" value="">
                    </td>
                    <td>
                        <input class="form-control input-sm" id="Address" name="Address" placeholder="Address" type="text" value="">
                    </td>
                    <td>
                        <input class="form-control input-sm" id="Address" name="Address" placeholder="Address" type="text" value="">
                    </td>
                    <td>
                        <input type="submit" value="Search" class="btn btn-default grey btn-xs float-left">
                        <a href="javascript:void(0);" class="btn btn-default grey btn-xs">Reset</a>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="checker"><span><input type="checkbox" class="unicheckbox text-align-center"></span></div>
                    </td>
                    <td class="image-td">
                        <div class="avatar ng-scope">
                            <img ng-src="/uploads40067/add9a0cf-fcbe-4d60-bd0a-2bd246526d96-202005150211498957.jpg" src="/uploads40067/add9a0cf-fcbe-4d60-bd0a-2bd246526d96-202005150211498957.jpg">
                        </div>
                    </td>
                    <td>EM001</td>
                    <td>
                        <label><span>ARIAS, MARYLN</span></label>
                    </td>
                    <td>akamal@myeazycare.com</td>
                    <td>Nurse</td>
                    <td>(807) 656-1584</td>
                    <td>USA, verginia - 12121 GU</td>
                    <td class="text-align-center actions">
                        <button class="btn btn-xs blue"><i class="fa fa-edit"></i></button>
                        <a href="javascript:void(0);" class="btn btn-xs green ng-hide">Active</a>
                        <a href="javascript:void(0);" class="btn btn-xs red"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>

        <code>
            <pre>
&lt;table class="table table-bordered table-striped table-condensed flip-content"&gt;
    &lt;thead class="flip-content"&gt;
        &lt;tr&gt;
            &lt;th&gt;&lt;/th&gt;
            &lt;th&gt;&lt;/th&gt;
            &lt;th&gt;
                &lt;a class="anchor_color" href="javascript:void(0);"&gt;Employee ID&lt;/a&gt;
                &lt;span class="sortorder"&gt;&lt;/span&gt;
            &lt;/th&gt;
            &lt;th&gt;
                &lt;a class="anchor_color" href="javascript:void(0);"&gt;Name&lt;/a&gt;
                &lt;span class="sortorder"&gt;&lt;/span&gt;
            &lt;/th&gt;
            &lt;th&gt;
                &lt;a class="anchor_color" href="javascript:void(0);"&gt;Phone&lt;/a&gt;
                &lt;span class="sortorder"&gt;&lt;/span&gt;
            &lt;/th&gt;
            &lt;th&gt;
                &lt;a class="anchor_color" href="javascript:void(0);"&gt;Address&lt;/a&gt;
                &lt;span class="sortorder"&gt;&lt;/span&gt;
            &lt;/th&gt;
            &lt;th&gt;
                &lt;a class="anchor_color" href="javascript:void(0);"&gt;Email&lt;/a&gt;
                &lt;span class="sortorder"&gt;&lt;/span&gt;
            &lt;/th&gt;
            &lt;th&gt;Action&lt;/th&gt;
        &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
        &lt;tr&gt;
            &lt;td&gt;&nbsp;&lt;/td&gt;
            &lt;td&gt;&nbsp;&lt;/td&gt;
            &lt;td&gt;EM001&lt;/td&gt;
            &lt;td&gt;akamal@myeazycare.com&lt;/td&gt;
            &lt;td&gt;Nurse&lt;/td&gt;
            &lt;td&gt;(807) 656-1584&lt;/td&gt;
            &lt;td&gt;USA, verginia - 12121 GU&lt;/td&gt;
            &lt;td&gt;
                &lt;button class="btn btn-xs blue"&gt;&lt;i class="fa fa-edit"&gt;&lt;/i&gt;&lt;/button&gt;
                &lt;a href="javascript:void(0);" class="btn btn-xs green ng-hide"&gt;Active&lt;/a&gt;
                &lt;a href="javascript:void(0);" class="btn btn-xs red"&gt;&lt;i class="fa fa-trash"&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;/td&gt;
        &lt;/tr&gt;        

        &lt;tr&gt;
            &lt;td&gt;&nbsp;&lt;/td&gt;
            &lt;td&gt;&nbsp;&lt;/td&gt;
            &lt;td&gt;EM001&lt;/td&gt;
            &lt;td&gt;akamal@myeazycare.com&lt;/td&gt;
            &lt;td&gt;Nurse&lt;/td&gt;
            &lt;td&gt;(807) 656-1584&lt;/td&gt;
            &lt;td&gt;USA, verginia - 12121 GU&lt;/td&gt;
            &lt;td&gt;
                &lt;button class="btn btn-xs blue"&gt;&lt;i class="fa fa-edit"&gt;&lt;/i&gt;&lt;/button&gt;
                &lt;a href="javascript:void(0);" class="btn btn-xs green ng-hide"&gt;Active&lt;/a&gt;
                &lt;a href="javascript:void(0);" class="btn btn-xs red"&gt;&lt;i class="fa fa-trash"&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tbody&gt;
&lt;/table&gt;
    </pre>
        </code>

        <h2>Responsive Table</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-condensed flip-content">
                <thead class="flip-content">
                    <tr>
                        <th class="width-20px"></th>
                        <th width="50"></th>
                        <th class="">
                            <a class="anchor_color" href="javascript:void(0);">Employee ID</a>
                            <span class="sortorder"></span>
                        </th>
                        <th class="">
                            <a class="anchor_color" href="javascript:void(0);">Role</a>
                            <span class="sortorder"></span>
                        </th>
                        <th class="">
                            <a class="anchor_color" href="javascript:void(0);">Name</a>
                            <span class="sortorder"></span>
                        </th>
                        <th class="">
                            <a class="anchor_color" href="javascript:void(0);">Phone</a>
                            <span class="sortorder"></span>
                        </th>
                        <th class="">
                            <a class="anchor_color" href="javascript:void(0);">Address</a>
                            <span class="sortorder"></span>
                        </th>
                        <th>
                            <a class="anchor_color" href="javascript:void(0);">Email</a>
                            <span class="sortorder"></span>
                        </th>
                        <th width="125" class="actionTh">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="checker"><span><input type="checkbox" class="unicheckbox text-align-center"></span></div>
                        </td>
                        <td class="image-td">
                            <div class="avatar ng-scope">
                                <img ng-src="/uploads40067/add9a0cf-fcbe-4d60-bd0a-2bd246526d96-202005150211498957.jpg" src="/uploads40067/add9a0cf-fcbe-4d60-bd0a-2bd246526d96-202005150211498957.jpg">
                            </div>
                        </td>
                        <td>EM001</td>
                        <td>
                            <label><span>ARIAS, MARYLN</span></label>
                        </td>
                        <td>akamal@myeazycare.com</td>
                        <td>Nurse</td>
                        <td>(807) 656-1584</td>
                        <td>USA, verginia - 12121 GU</td>
                        <td class="text-align-center actions">
                            <button class="btn btn-xs blue"><i class="fa fa-edit"></i></button>
                            <a href="javascript:void(0);" class="btn btn-xs green ng-hide">Active</a>
                            <a href="javascript:void(0);" class="btn btn-xs red"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <code>
            <pre>
&lt;div class="table-responsive"&gt;
&lt;table class="table table-bordered table-striped table-condensed flip-content"&gt;
    &lt;thead class="flip-content"&gt;
        &lt;tr&gt;
            &lt;th&gt;&lt;/th&gt;
            &lt;th&gt;&lt;/th&gt;
            &lt;th&gt;
                &lt;a class="anchor_color" href="javascript:void(0);"&gt;Employee ID&lt;/a&gt;
                &lt;span class="sortorder"&gt;&lt;/span&gt;
            &lt;/th&gt;
            &lt;th&gt;
                &lt;a class="anchor_color" href="javascript:void(0);"&gt;Name&lt;/a&gt;
                &lt;span class="sortorder"&gt;&lt;/span&gt;
            &lt;/th&gt;
            &lt;th&gt;
                &lt;a class="anchor_color" href="javascript:void(0);"&gt;Phone&lt;/a&gt;
                &lt;span class="sortorder"&gt;&lt;/span&gt;
            &lt;/th&gt;
            &lt;th&gt;
                &lt;a class="anchor_color" href="javascript:void(0);"&gt;Address&lt;/a&gt;
                &lt;span class="sortorder"&gt;&lt;/span&gt;
            &lt;/th&gt;
            &lt;th&gt;
                &lt;a class="anchor_color" href="javascript:void(0);"&gt;Email&lt;/a&gt;
                &lt;span class="sortorder"&gt;&lt;/span&gt;
            &lt;/th&gt;
            &lt;th&gt;Action&lt;/th&gt;
        &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
        &lt;tr&gt;
            &lt;td&gt;&nbsp;&lt;/td&gt;
            &lt;td&gt;&nbsp;&lt;/td&gt;
            &lt;td&gt;EM001&lt;/td&gt;
            &lt;td&gt;akamal@myeazycare.com&lt;/td&gt;
            &lt;td&gt;Nurse&lt;/td&gt;
            &lt;td&gt;(807) 656-1584&lt;/td&gt;
            &lt;td&gt;USA, verginia - 12121 GU&lt;/td&gt;
            &lt;td&gt;
                &lt;button class="btn btn-xs blue"&gt;&lt;i class="fa fa-edit"&gt;&lt;/i&gt;&lt;/button&gt;
                &lt;a href="javascript:void(0);" class="btn btn-xs green ng-hide"&gt;Active&lt;/a&gt;
                &lt;a href="javascript:void(0);" class="btn btn-xs red"&gt;&lt;i class="fa fa-trash"&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;/td&gt;
        &lt;/tr&gt;        
    &lt;/tbody&gt;
&lt;/table&gt;
&lt;/div&gt;
        </pre>
        </code>
    </div>

    <div class="form-section mb-30">
        <h3>Form</h3>
        <form>
            <div class="row">
                <div class="col-md-3">
                    <input class="form-control input-sm" name="Fname" placeholder="First Name" type="text" value="First Name">
                </div>
                <div class="col-md-3"><input class="form-control input-sm" name="Fname" placeholder="First Name" type="email" value="First Name"></div>
                <div class="col-md-3">
                    <select class="form-control input-sm">
                        <option value="">Select Role</option>
                        <option value="25">Ambulance</option>
                        <option value="23">Case Manager</option>
                        <option value="22">Clinical Team</option>
                        <option value="26">Contractor</option>
                        <option value="28">Doctors</option>
                        <option value="19">HHA</option>
                        <option value="18">Nurse</option>
                        <option value="20">Office Staff</option>
                        <option value="10029">Patient</option>
                        <option value="10028">Send Notifications</option>
                        <option value="21">Staffing</option>
                        <option value="1">Super Admin</option>
                        <option value="27">TestAuto</option>
                        <option value="24">Testmanoj</option>
                    </select>
                </div>
                <div class="col-md-3"><input class="form-control input-sm" name="Fname" placeholder="First Name" type="text" value="First Name" required></div>
            </div>
            <div class="row mt-10">
                <div class="col-md-12"><textarea class="form-control input-sm" placeholder="Your Message"></textarea></div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="checkbox">
                        <input id="checkbox1" type="checkbox">
                        <label for="checkbox1">
                            Default
                        </label>
                    </div>
                    <div class="checkbox checkbox-primary">
                        <input id="checkbox2" type="checkbox" checked="">
                        <label for="checkbox2">
                            Primary
                        </label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="radio">
                        <input type="radio" name="radio1" id="radio1" value="option1" checked="">
                        <label for="radio1">
                            Small
                        </label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="radio1" id="radio2" value="option2">
                        <label for="radio2">
                            Big
                        </label>
                    </div>
                </div>
            </div>
        </form>
        <code>
            <pre>
&lt;form&gt;
    &lt;div class="row"&gt;
        &lt;div class="col-md-3"&gt;
            &lt;input class="form-control input-sm" name="Fname" placeholder="First Name" type="text" value="First Name"&gt;
        &lt;/div&gt;
        &lt;div class="col-md-3"&gt;&lt;input class="form-control input-sm" name="Fname" placeholder="First Name" type="email" value="First Name"&gt;&lt;/div&gt;
        &lt;div class="col-md-3"&gt;
            &lt;select class="form-control input-sm"&gt;
                &lt;option value=""&gt;Select Role&lt;/option&gt;
                &lt;option value="25"&gt;Ambulance&lt;/option&gt;
                &lt;option value="23"&gt;Case Manager&lt;/option&gt;
                &lt;option value="22"&gt;Clinical Team&lt;/option&gt;
                &lt;option value="26"&gt;Contractor&lt;/option&gt;
                &lt;option value="28"&gt;Doctors&lt;/option&gt;
                &lt;option value="19"&gt;HHA&lt;/option&gt;
                &lt;option value="18"&gt;Nurse&lt;/option&gt;
                &lt;option value="20"&gt;Office Staff&lt;/option&gt;
                &lt;option value="10029"&gt;Patient&lt;/option&gt;
                &lt;option value="10028"&gt;Send Notifications&lt;/option&gt;
                &lt;option value="21"&gt;Staffing&lt;/option&gt;
                &lt;option value="1"&gt;Super Admin&lt;/option&gt;
                &lt;option value="27"&gt;TestAuto&lt;/option&gt;
                &lt;option value="24"&gt;Testmanoj&lt;/option&gt;
            &lt;/select&gt;
        &lt;/div&gt;
        &lt;div class="col-md-3"&gt;&lt;input class="form-control input-sm" name="Fname" placeholder="First Name" type="text" value="First Name" required&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="row mt-10"&gt;
        &lt;div class="col-md-12"&gt;&lt;textarea class="form-control input-sm" placeholder="Your Message"&gt;&lt;/textarea&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="row"&gt;
        &lt;div class="col-md-3"&gt;
            &lt;div class="checkbox"&gt;
                &lt;input id="checkbox1" type="checkbox"&gt;
                &lt;label for="checkbox1"&gt;
                    Default
                &lt;/label&gt;
            &lt;/div&gt;
            &lt;div class="checkbox checkbox-primary"&gt;
                &lt;input id="checkbox2" type="checkbox" checked=""&gt;
                &lt;label for="checkbox2"&gt;
                    Primary
                &lt;/label&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="col-sm-6"&gt;
            &lt;div class="radio"&gt;
                &lt;input type="radio" name="radio1" id="radio1" value="option1" checked=""&gt;
                &lt;label for="radio1"&gt;
                    Small
                &lt;/label&gt;
            &lt;/div&gt;
            &lt;div class="radio"&gt;
                &lt;input type="radio" name="radio1" id="radio2" value="option2"&gt;
                &lt;label for="radio2"&gt;
                    Big
                &lt;/label&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/form&gt;
    </pre>
        </code>

    </div>

    <div class="tabs mb-30">
        <h2>Tabs</h2>

        <div class="row">
            <div class="col-md-6">
                <div class="simple-tab mb-30">
                    <h2>Simple Tab</h2>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
                        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
                        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">Home</div>
                        <div role="tabpanel" class="tab-pane" id="profile">Profile</div>
                        <div role="tabpanel" class="tab-pane" id="messages">Messages</div>
                        <div role="tabpanel" class="tab-pane" id="settings">Settings</div>
                    </div>
                </div>
                <code>
                    <pre>
&lt;!-- Nav tabs --&gt;
&lt;ul class="nav nav-tabs" role="tablist"&gt;
&lt;li role="presentation" class="active"&gt;&lt;a href="#home" aria-controls="home" role="tab" data-toggle="tab"&gt;Home&lt;/a&gt;&lt;/li&gt;
&lt;li role="presentation"&gt;&lt;a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"&gt;Profile&lt;/a&gt;&lt;/li&gt;
&lt;li role="presentation"&gt;&lt;a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"&gt;Messages&lt;/a&gt;&lt;/li&gt;
&lt;li role="presentation"&gt;&lt;a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"&gt;Settings&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
    
&lt;!-- Tab panes --&gt;
&lt;div class="tab-content"&gt;
&lt;div role="tabpanel" class="tab-pane active" id="home"&gt;Home&lt;/div&gt;
&lt;div role="tabpanel" class="tab-pane" id="profile"&gt;Profile&lt;/div&gt;
&lt;div role="tabpanel" class="tab-pane" id="messages"&gt;Messages&lt;/div&gt;
&lt;div role="tabpanel" class="tab-pane" id="settings"&gt;Settings&lt;/div&gt;
&lt;/div&gt;

    </pre>
                </code>

            </div>
            <div class="col-md-6">
                <div class="simple-tab mb-30">
                    <h2>Custom Tab</h2>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-pills" role="tablist">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
                        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
                        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">Home</div>
                        <div role="tabpanel" class="tab-pane" id="profile">Profile</div>
                        <div role="tabpanel" class="tab-pane" id="messages">Messages</div>
                        <div role="tabpanel" class="tab-pane" id="settings">Settings</div>
                    </div>

                    <code>
                        <pre>
&lt;!-- Nav tabs --&gt;
&lt;ul class="nav nav-tabs nav-pills" role="tablist"&gt;
&lt;li role="presentation" class="active"&gt;&lt;a href="#home" aria-controls="home" role="tab" data-toggle="tab"&gt;Home&lt;/a&gt;&lt;/li&gt;
&lt;li role="presentation"&gt;&lt;a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"&gt;Profile&lt;/a&gt;&lt;/li&gt;
&lt;li role="presentation"&gt;&lt;a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"&gt;Messages&lt;/a&gt;&lt;/li&gt;
&lt;li role="presentation"&gt;&lt;a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"&gt;Settings&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;

&lt;!-- Tab panes --&gt;
&lt;div class="tab-content"&gt;
&lt;div role="tabpanel" class="tab-pane active" id="home"&gt;Home&lt;/div&gt;
&lt;div role="tabpanel" class="tab-pane" id="profile"&gt;Profile&lt;/div&gt;
&lt;div role="tabpanel" class="tab-pane" id="messages"&gt;Messages&lt;/div&gt;
&lt;div role="tabpanel" class="tab-pane" id="settings"&gt;Settings&lt;/div&gt;
&lt;/div&gt;
    </pre>
                    </code>

                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="text-aligns custom-box mb-30">
                <h3>Text Positions</h3>

                <p class="text-center">This is a center text</p>
                <p class="text-right">This is a right align text</p>
            </div>

<code>
    <pre>
&lt;p class="text-center"&gt;This is a center text&lt;/p&gt;
&lt;p class="text-right"&gt;This is a right align text&lt;/p&gt;
    </pre>
</code>

        </div>
        <div class="col-md-6">
            <div class="text-colors custom-box mb-30">
                <h3>Text Colors</h3>

                <p class="text-danger">This is a center text</p>
                <p class="text-info">This is a right align text</p>
                <p class="text-primary">This is a right align text</p>
                <p class="text-success">This is a right align text</p>
                <p class="text-warning">This is a right align text</p>
            </div>

<code>
    <pre>
&lt;p class="text-danger"&gt;This is a center text&lt;/p&gt;
&lt;p class="text-info"&gt;This is a right align text&lt;/p&gt;
&lt;p class="text-primary"&gt;This is a right align text&lt;/p&gt;
&lt;p class="text-success"&gt;This is a right align text&lt;/p&gt;
&lt;p class="text-warning"&gt;This is a right align text&lt;/p&gt;
    </pre>
</code>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="dropdown-section mb-30">
                <h3>Dropdowns</h3>
                <div class="dropdown">
                    <button id="dLabel" class="btn btn-xs btn-default" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown trigger
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                        <li>List 1</li>
                        <li>List 2</li>
                        <li>List 3</li>
                        <li>List 4</li>
                    </ul>
                </div>
            </div>

<code>
    <pre>
&lt;div class="dropdown"&gt;
    &lt;button id="dLabel" class="btn btn-xs btn-default" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"&gt;
        Dropdown trigger
        &lt;span class="caret"&gt;&lt;/span&gt;
    &lt;/button&gt;
    &lt;ul class="dropdown-menu" aria-labelledby="dLabel"&gt;
        &lt;li&gt;List 1&lt;/li&gt;
        &lt;li&gt;List 2&lt;/li&gt;
        &lt;li&gt;List 3&lt;/li&gt;
        &lt;li&gt;List 4&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
    </pre>
</code>

        </div>

        <div class="col-md-4">
            <div class="tooltips-section mb-30">
                <h3>Tooltips</h3>
                <button type="button" class="btn btn-default mb-10" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip on left</button>

                <button type="button" class="btn btn-default mb-10" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Tooltip on top</button>

                <button type="button" class="btn btn-default mb-10" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">Tooltip on bottom</button>

                <button type="button" class="btn btn-default mb-10" data-toggle="tooltip" data-placement="right" title="Tooltip on right">Tooltip on right</button>

            </div>

<code>
    <pre>
&lt;button type="button" class="btn btn-default mb-10" data-toggle="tooltip" data-placement="left" title="Tooltip on left"&gt;Tooltip on left&lt;/button&gt;
&lt;button type="button" class="btn btn-default mb-10" data-toggle="tooltip" data-placement="top" title="Tooltip on top"&gt;Tooltip on top&lt;/button&gt;
&lt;button type="button" class="btn btn-default mb-10" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom"&gt;Tooltip on bottom&lt;/button&gt;
&lt;button type="button" class="btn btn-default mb-10" data-toggle="tooltip" data-placement="right" title="Tooltip on right"&gt;Tooltip on right&lt;/button&gt;
    </pre>
</code>

        </div>

        <div class="col-md-4">
            <div class="modal-section mb-30">
                <h3>Modals</h3>
                <!-- Button trigger modal -->

                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">Launch demo modal</button>
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                            </div>
                            <div class="modal-body">...</div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <code>
                <pre>
&lt;button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal"&gt;Launch demo modal&lt;/button&gt;
&lt;!-- Modal --&gt;
&lt;div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"&gt;
    &lt;div class="modal-dialog" role="document"&gt;
        &lt;div class="modal-content"&gt;
            &lt;div class="modal-header"&gt;
            &lt;button type="button" class="close" data-dismiss="modal" aria-label="Close"&gt;&lt;span aria-hidden="true"&gt;&times;&lt;/span&gt;&lt;/button&gt;
            &lt;h4 class="modal-title" id="myModalLabel"&gt;Modal title&lt;/h4&gt;
            &lt;/div&gt;
            &lt;div class="modal-body"&gt;...&lt;/div&gt;
            &lt;div class="modal-footer"&gt;
            &lt;button type="button" class="btn btn-default" data-dismiss="modal"&gt;Close&lt;/button&gt;
            &lt;button type="button" class="btn btn-primary"&gt;Save changes&lt;/button&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
    </pre>
</code>

        </div>
    </div>

    <!--Breadcrumb-->
    <h3>Breadcrumb</h3>
    <ol class="breadcrumb mb-30">
        <li><a href="#">Home</a></li>
        <li><a href="#">Library</a></li>
        <li class="active">Data</li>
    </ol>

<code>
    <pre>
&lt;ol class="breadcrumb"&gt;
    &lt;li&gt;&lt;a href="#"&gt;Home&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;Library&lt;/a&gt;&lt;/li&gt;
    &lt;li class="active"&gt;Data&lt;/li&gt;
&lt;/ol&gt;
    </pre>
</code>

        <!--Pagination-->
        <h3>Pagination</h3>
        <nav aria-label="Page navigation" class="mb-30">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
<code>
      <pre>
        &lt;nav aria-label="Page navigation"&gt;
        &lt;ul class="pagination"&gt;
        &lt;li&gt;
        &lt;a href="#" aria-label="Previous"&gt;
        &lt;span aria-hidden="true"&gt;&laquo;&lt;/span&gt;
        &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;1&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;2&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;3&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;4&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;5&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;
        &lt;a href="#" aria-label="Next"&gt;
        &lt;span aria-hidden="true"&gt;&raquo;&lt;/span&gt;
        &lt;/a&gt;
        &lt;/li&gt;
        &lt;/ul&gt;
        &lt;/nav&gt;
        </pre>
      </code>
          <!--Jumbotron-->
          <div class="jumbotron p-20 mb-30">
              <h1>Hello, world!</h1>
              <p>...</p>
              <p>
                  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
              </p>
          </div>

<code>
    <pre>
        &lt;div class="jumbotron"&gt;
        &lt;h1&gt;Hello, world!&lt;/h1&gt;
        &lt;p&gt;...&lt;/p&gt;
        &lt;p&gt;
        &lt;a class="btn btn-primary btn-lg" href="#" role="button"&gt;Learn more&lt;/a&gt;
        &lt;/p&gt;
        &lt;/div&gt;
    </pre>
</code>


</div>

@*<script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>*@

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
