<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <!-- Database connection string section -->
  <connectionStrings>
    <add name="HomeCareApi" connectionString="Server=192.168.1.32\express17;Database=Zarephath_Live_04; User ID=jyadav ;Password=JitYad1!" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="SiteBaseURL" value="http://localhost:5555" />
    <!--<add key="SiteBaseURL" value="https://respitecare.zrpath.com" />-->
    <!--Set time in millisecond for call service on given time interval. set 2 min-->
    <add key="SmsTimerInterval" value="120000" />
    <add key="LogPath" value="/log/" />

    
    <add key="ClockInOutServiceLog" value="ClockInOutServiceLog/" />
    <add key="ClockInOutServiceLogFileName" value="ClockInOutServiceLogFileName.txt" />
    <add key="SendClockInOutSmsURL" value="/sms/sendclockinoutnotification"/>
  </appSettings>
</configuration>