@model HC_AddPayorModel

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div id="tabs">
            <div class="tabbable tabbable-custom tabs-left">
                <div class="col-lg-1 col-md-2 col-sm-2 no-padding">
                    <ul class="nav nav-tabs tabs-left no-padding">
                        <li class="active"><a id="billing_BillingSetting" href="#tab_BillingSetting" data-toggle="tab">@Resource.BillingSettings</a></li>
                    </ul>
                </div>

                <div class="tab-content col-lg-11 col-md-10 col-sm-10">
                    <div class="tab-pane active" id="tab_BillingSetting" style="min-height: 350px;">
                        @Html.Partial("Partial/Billing/_tabBillingSetting", Model)
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>