<div class="modal fade" id="_ViewClaimMDMessages" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" 
     aria-hidden="true" style="display: none; margin-top: 0px;">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="font-size-20">Claim Messages</span>
                <button type="button" class="close" aria-label="Close" data-ng-click="HideClaimMDMessages()"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="portlet-body compact" style="display: block;">
                            <form id="frmviewtimesheetdetails">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-condensed flip-content empvisitlist_tbl">
                                        <thead class="flip-content">
                                            <tr>
                                                <th>Sender</th>
                                                <th >
                                                    Fields
                                                </th>
                                                <th >
                                                   Message ID
                                                </th>
                                                <th >
                                                    @Resource.Message
                                                </th>
                                                <th >
                                                    Status
                                                </th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr data-ng-repeat="message in ClaimMessagesList">
                                                
                                                <td>{{message.Sender_Name}}</td>
                                                <td>{{message.e_fields}}</td>
                                                <td>{{message.e_mesgid}}</td>
                                                <td>{{message.e_message}}</td>
                                                <td>{{message.e_status}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div data-ng-if="ClaimMessagesList.length == 0">
                            
                                <div class="alert alert-danger">
                                    @Html.Raw(Resource.NoRecordsFound)
                                </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>