@charset "utf-8";
/* CSS Document */

@media only screen and (min-width:991px) and (max-width:1199px)  {
.container{ width:920px;}

}
@media only screen and (min-width:768px) and (max-width: 990px){

.bottum-form input[type="date"] {width: 100%;}


 }
@media only screen and (min-width:480px) and (max-width: 767px){
.bottum-form input[type="date"] {width:100%;}
}
@media only screen and (max-width: 479px){
.bottum-form input[type="date"] {width: 100%;}

}

