						
						/* Start Common CSS */
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	font-family: 'poppins', 'roboto';
	font-size: 100%;
	padding:60px 0;
	color:#222;
	font-weight: 500;
}


.upper-section .right-side{
	float:right;
	margin-top:-15px;
}
.upper-section{
	margin-bottom: 20px;
}
.bottom-layer{
	text-align: left;
	position: relative;
	margin-bottom: 20px;
}
.bottom-layer .center{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}


.clearfix::after{
	content:'';
	display: block;
	clear: both;
}

.outer-wrapper, .row ,section, .form, .to-form{
	width: 100%;
	float:left;
}
.container{
	width:98%;
	max-width: 991px;
	margin:0 auto;
	padding:0 2%;
}
input{
	border:none;
	border-bottom:1px solid #444;
	background:#edf9f8;
	width:96%;
	height:25px;
}
input:focus{
	outline: none;
}

.form{
	margin-bottom:30px;
	border:1px solid #222;
	padding-bottom:5px;
}
.form-title{
	color: #222;
    font-size: 22px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}
.sec-headline{
	width:100%;
	background:#ccc;
	font-size: 15px;
	font-weight: 500;
}
.label{
	float:left;
	margin:0 20px;
	height:100%;
}
.line{
	display: block;
	width:85%;
	float:right;
}
.full-line{
	width:100%!important;
}
.lg{
	width:42%;
	float:left;
}
.md{
	width:28.55%;
	float:left;
}
.sm{
	width:15%;
	float:left;
}
.xl{
	width:70%;
	float:left;
}
section span{
	font-size: 11px;
	padding-left:5px;
}
.line .form-input h1{
	font-size: 17px;
    font-weight: 600;
    display: inline-block;
    border-bottom: 1px solid #222;
    width: 100%;
}
						/* end Common CSS */


						/*	First Section	*/
.from-to p{
	display: inline-block;
    font-weight: 500;
    border-bottom: 1px solid #222;
    width: 100%;
}

.all-in-one input{
	width:40%;
}
.all-in-one{
	display: inline-block;
}
.text-center{
	text-align: center;
}
.float-right{
	float:right;
}

.individual-form .title{
	padding-left: 10px;
	font-size: 14px;
	display: inline-block;
}
.individual-form .left-side input{
	width:15px;
	height:15px;
}
.individual-form .left-side{
	padding-left:30px;
	display: inline-block;
}
.individual-form .left-side label{
	font-size: 13px;
}
.individual-form .second-row.line{
	width:78%;
}
.individual-form .third-row.line{
	width:75%;
}
.individual-form .forth-row.line{
	width:70%;
}
.individual-form .fivth-row.line{
	width:95%;
}
.individual-form .line{
	width:82%;
}
.individual-form .six-row.line{
	width:68%;
}
.individual-form .sixth{
	width:100%;
}
.individual-form .sixth input{
	width:100%;
}


.four .first-line input[type='checkbox']{
	width: 15px;
    height: 15px;
    margin-right: 10px;
}
.four .first-line{
	padding-left:10px;
	font-size: 14px;
}
.four .first-line label{
	display: inline-block;
	font-size: 13px;
    font-weight: 600;
}
.four .first-line .lg{
	display:inline-block;
	float:none;
}
.four .first-line .form-input{
	display: inline-block;
}
.four .first-line .form-input label{
	margin-left:20px;
}


.five .first-line input[type='checkbox']{
	width: 15px;
    height: 15px;
    margin-right: 10px;
}
.five .first-line{
	padding-left:10px;
	font-size: 14px;
}
.five .first-line label{
	display: inline-block;
	font-size: 13px;
    font-weight: 600;
}
.five .first-line .lg{
	display:inline-block;
	float:none;
}
.five .first-line .form-input{
	display: inline-block;
}
.five .first-line .form-input label{
	margin-left:20px;
}
.five .first-line.second{
	width:94%;
	margin-left:6%;
	padding-left: 0;
}
.five .first-line.second label{
    font-weight: 400;
}
.beneficiary .form-input{
	width:40%;
}
.discharge.lg{
	width:60%;
}
.e-block .form-input{
	width:88%;
}

section.three .form-input.xl{
	width:60% !important;
}
section.three .form-input.sm{
	width:20% !important;
}

				/*	Media Query */
@media screen and (max-width: 767px){
	section.one .line{
		width:97%;
		margin-bottom:20px;
	}
	section.one .lg{
		width:100%;
	}
	section.one .sm{
		width:100%;
	}
	section.one .md{
		width:49%;
	}



	section.two .lg{
		width:100%;
	}
	section.two .md{
		width:100%;
	}
	section.two .md .all-in-one{
		width:100%;
	}
	section.two .md input{
		width:45%;
	}
	.text-center{
		text-align: left;
	}
	section.two .sm{
		width:100%;
	}




	section.three .xl{
		width:100%;
	}
	section.three .lg{
		width:100%;
	}
	section.three .md{
		width:100%;
	}
	section.three .sm{
		width:100%;
	}
	section.three .line{
		width:95% !important;
		margin-bottom:20px;
	}
	section.three .individual-form .left-side {
	    padding-left: 15px;
	    display: inline-block;
	}

	section.four .form-input{
		width: 92%;
    	float: right!important;
	}
	section.five .form-input{
		width: 92%;
    	float: right!important;
	}
	section.five .first-line.second label{
	    width: 97%;
	    margin:0;
	    float:right;
	}
	.five .first-line.second {
	    width: 92%;
	    margin-left: 7%;
	    padding-left: 0;
	}
	.five .discharge {
		width: 97% !important;
	}
}