<div calender-dropper="DataModel" style="background-color: rgb(46, 139, 87) !important; ">
    <div class="event-container" common-detail-popover="DataModel" ng-template-selector="#eventdetailpopover" popover-width="400" popover-trigger="click" popover-closeable="true" pop-over-functions="DataModel.event.popOverObj">
        <div class='fc-name hc-fc-name header' style="color: white; font-size: 12px; text-align: center;">
            {{DataModel.event.scheduleModel.FacilityName}}
        </div>
        <div class='fc-name hc-fc-name header' style="color: white; font-size: 12px; text-align: center;">
            {{DataModel.event.scheduleModel.EmployeeName}}
        </div>
        <div class='fc-name hc-fc-name' style="font-size: 12px; text-align: center; color: white ">
            <i class="fa fa-clock-o fa-1" style="color: white; "></i>
            {{DataModel.event.scheduleModel.StartDate | orgdatetime}}
        </div>
        <div class='fc-name hc-fc-name' style="font-size: 12px; text-align: center; color: white; ">
            <i class="fa fa-clock-o fa-1" style="color: white"></i>
            {{DataModel.event.scheduleModel.EndDate | orgdatetime}}
        </div>
        <div class='fc-name hc-fc-name' style="font-size: 12px; color: white; text-align: center;">
            @Resource.TotalHours: <b> {{DataModel.event.scheduleModel.WorkMinutes}}</b>
        </div>
    </div>
</div>
