@charset "utf-8";
/* CSS Document */
@media only screen and (min-width:1200px) and (max-width:1320px){
	h1 {
    font-size: 24px;
	}
	h2 {
    font-size: 20px;}
	}

@media only screen and (min-width:991px) and (max-width:1199px)  {
.container{ width:920px;}

}
@media only screen and (min-width:768px) and (max-width: 990px){
.container{ width:720px;}
label {
    font-size: 15px;
}
 }
@media only screen and (min-width:480px) and (max-width: 767px){
.container{ width:430px; overflow:hidden;}
.field-group {
    width: 100% !important;
}
textarea {
    width: 100%;
    margin: 20px 0px!important;
}
.PROFILE label {
    width: 95%;}
.PROFILE span {
    width: 5%;
}
label {
    line-height: 25px;
}
.potentially {
    width: 100%;

}
p.intro {

    width: 100%;
}
h1.main-heading {

    font-size: 22px;    line-height: 28px;
}
.individual label{ padding:0px;}
.potentially.dhs{ width:100%;}
p.sec2{ text-align:left;}
h2 {
    font-size: 12px;
    margin-top: 28px;
}
.field-group.s {
    width:100% !important;
}
.understand {
    padding-left: 0px !important;
}
.filed-group {
    width: 100% !important;
}
.Signature .filed-group{ padding:20px 0px; text-align:left;
}
.Signature{ padding:0px;}
.remark{ padding-left:0px;}

}
@media only screen and (max-width: 479px){
.container{ width:320px; overflow:hidden;}
.field-group {
    width: 100% !important;
}
textarea {
    width: 100%;
    margin: 20px 0px!important;
}
.PROFILE label {
    width: 95%;}
.PROFILE span {
    width: 5%;
}
label {
    line-height: 25px;
}
.potentially {
    width: 100%;

}
p.intro {

    width: 100%;
}
h1.main-heading {

    font-size: 22px;    line-height: 28px;
}
.individual label{ padding:0px;}
.potentially.dhs{ width:100%;}
p.sec2{ text-align:left;}
h2 {
    font-size: 12px;
    margin-top: 28px;
}
.field-group.s {
    width:100% !important;
}
.understand {
    padding-left: 0px !important;
}
.filed-group {
    width: 100% !important;
}
.Signature .filed-group{ padding:20px 0px; text-align:left;
}
.Signature{ padding:0px;}
.remark{ padding-left:0px;}
}

