@model HC_RefCalenderModel
<div calender-dropper="content">
 
        <div class="event-container"common-detail-popover="DataModel" ng-template-selector="#eventdetailpopover" popover-width="400" popover-trigger="click" popover-closeable="true" pop-over-functions="DataModel.event.popOverObj">
            <div class='fc-name hc-fc-name header' style="color: black">
                {{DataModel.event.scheduleModel.EmployeeName}}
            </div>
            <div class='fc-name hc-fc-name caretype' style="font-size: 10px;color: black"><i class="fa fa-clock-o fa-1" style="color:rgb(144, 238, 144);"></i>{{DataModel.event.scheduleModel.StartDate |  date:'h:mm:ss a'}},<i class="fa fa-clock-o fa-1" style="color:rgb(255, 115, 115);"></i>{{DataModel.event.scheduleModel.EndDate |  date:'h:mm:ss a'}}</div>
            <div class='fc-name hc-fc-name caretype' style="font-size:10px;color: black"><i class="fa fa-medkit fa-1"></i>{{DataModel.event.scheduleModel.CareType}}</div>
        </div>
</div>