
<div class="modal fade sendEmail" id="SendBulkEmailModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="font-family:Open Sans" ,sans-serif">
    <div class="modal-dialog" role="document" style="width:784px;">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#efefef">
                <button type="button" class="close" data-dismiss="modal" ng-click="Reset()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="H1"><span style="color:#178fe2"><i class="fa fa-envelope"></i>&nbsp;&nbsp;Send Email</span></h4>
                <div class="pull-right" style="position: absolute;top: 16px;right: 43px;">
                    <label class="control-label">Template:</label>
                    <select name="templates" id="templates1" style="width: 143px;border: 0px;outline: 0px;" ng-change="GetTemplateDetails()" ng-model="EmailTemplate">
                        <option value="0">Select Template</option>
                        <option ng-repeat="data in TemplateList" ng-selected="EmailTemplate == data.EmailTemplateID" value="{{data.EmailTemplateID}}">{{data.EmailTemplateName}} </option>
                    </select>
                </div>
            </div>
            <div class="modal-body">
                <form name="frmCertificate" id="frmCertificate">
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="row" style="border-bottom:1px solid #efefef;">
                                <div class="form-group col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <label class="control-label">From:</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <i class="fa fa-user" style="font-size:18px;" aria-hidden="true"></i><select name="templates" id="FromTo" style="border: 0px;outline: 0px;" ng-model="OrganizationSettings">
                                                <option value="0">Select Email</option>
                                                <option ng-repeat="data in OrganizationSettingList" ng-selected="OrganizationSettings == data.FromEmail" value="{{data.FromEmail}}">{{data.FromEmail}} </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            <div data-ng-if="!IsFileUploading" class="fileUpload ">
                                                <span><i class="fa fa-paperclip" style="padding-right: 8px;font-size: 16px;"></i> Attach</span>

                                                <div>
                                                    <div class="">
                                                        <input id="EmailAttachment" type="file" name="ResourceFile" multiple class="upload" value="Browse" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <input type="checkbox" ng-model="EmployeeEmail" ng-change="GetEmployeeEmail()"> CC to myself
                                        </div>

                                        <div class="col-sm-12" style="margin-top: 7px;" id="AttachedList">
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <label class="control-label">To:</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="text" id="tagsinputTo" data-role="tagsinput" class="form-control requiredStrip tagsinputTo" placeholder="" ng-model="MailModel.To" />
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#" tooltip title="Add recipient" data-toggle="modal" data-target="#ReferralContact" ng-click="GetReferralAttachment()">Add recipient</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <label class="control-label">CC:</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="text" id="tagsinputCC" class="form-control input-sm " placeholder="" ng-model="MailModel.CC" />
                                        </div>
                                        <div class="col-sm-3">

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <label class="control-label">BCC:</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="text" id="tagsinputBCC" class="form-control input-sm" placeholder="" ng-model="MailModel.BCC" />
                                        </div>
                                        <div class="col-sm-3">

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <label class="control-label">Subject:</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="text" id="txtSubject" value="{{GetSubject}}" class="form-control input-sm" placeholder="" maxlength="100" ng-model="MailModel.Subject" />
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-1">
                                        </div>
                                        <div class="col-sm-11">
                                            <textarea class="dirSummerNoteEditor form-control error_summer_note ng-pristine ng-untouched ng-valid ng-isolate-scope" cols="20" data-ng-model="MailModel.Body" id="EmailBody" min-height="200" name="" rows="2"></textarea>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <button class="btn" data-dismiss="modal" ng-click="Reset()">Close</button>
                        <button type="submit" data-ng-click="SendReferralAttachment()" class="btn"><i class="fa fa-envelope"></i>&nbsp;&nbsp;Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="AddRecipientModal" class="modal fade ReferralContact" role="dialog">
    <div class="modal-dialog" style="width:400px;">
        <div class="modal-header" style="padding:5px">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <br />
                <h4>Add recipient</h4>
                <br />
                <label>Search: <input ng-model="searchText"></label>
                <br />
                <br />
                <table id="searchObjResults">
                    <tr data-ng-repeat="referral in ReceipentList |filter:searchText ">                      
                        <td>
                            <span><input type="checkbox" class="unicheckbox text-align-center" data-ng-model="referral.IsChecked" data-ng-change="SelectReferral(referral)" val="referral.IsChecked"> </span>
                            <span>{{referral.Name}} &nbsp; </span>
                        </td>
                        <td>
                            {{referral.Email}}
                        </td>
                    </tr>
                </table>
                <br />
                <button data-ng-click="AddEmail(referral)" style="margin: 120px 0px 0px 226px">Add</button>
                
            </div>

        </div>

    </div>
</div>

@*<script>
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();

</script>*@