@import url('https://fonts.googleapis.com/css?family=Open+Sans:light 300,regular 400,semi-bold 600,bold 700,extra-bold 800,');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {line-height: 1;}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;}
table {	border-collapse: collapse;
	border-spacing: 0;}
*{box-sizing:border-box;}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #cccccc;
	font-family:14px;
	font-family: 'Open Sans', sans-serif;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #cccccc;
	font-family:14px;
	font-family: 'Open Sans', sans-serif;

}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #cccccc;
	font-family:14px;
	font-family: 'Open Sans', sans-serif;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #cccccc;
	font-family:14px;
	font-family: 'Open Sans', sans-serif;

}


:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #cccccc;
	font-family:14px;
	font-family: 'Open Sans', sans-serif;

}


@font-face {
    font-family:'FontAwesome';
    src:url(fonts/FontAwesome.otf);
}

/* =WordPress Core

-------------------------------------------------------------- */

.alignnone{margin:5px 20px 20px 0}
.aligncenter,div.aligncenter{display:block;margin:5px auto}
.alignright{float:right;margin:5px 0 20px 20px}
.alignleft{float:left;margin:5px 20px 20px 0}
a img.alignright{float:right;margin:5px 0 20px 20px}
a img.alignnone{margin:5px 20px 20px 0}
a img.alignleft{float:left;margin:5px 20px 20px 0}
a img.aligncenter{display:block;margin-left:auto;margin-right:auto}
.wp-caption{background:#fff;border:1px solid #f0f0f0;max-width:96%;padding:5px 3px 10px;text-align:center}
.wp-caption.alignnone{margin:5px 20px 20px 0}
.wp-caption.alignleft{margin:5px 20px 20px 0}
.wp-caption.alignright{margin:5px 0 20px 20px}
.wp-caption img{border:0 none;height:auto;margin:0;max-width:98.5%;padding:0;width:auto}
.wp-caption p.wp-caption-text{font-size:11px;line-height:17px;margin:0;padding:0 4px 5px}
.screen-reader-text{clip:rect(1px,1px,1px,1px);position:absolute!important;height:1px;width:1px;overflow:hidden}
.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,0.6);clip:auto!important;color:#21759b;display:block;font-size:14px;font-size:.875rem;font-weight:700;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}

/*

Defaults

---------------------------------------------------------------------------------------------------- */

/* Typographical Elements

--------------------------------------------- */
h1, h2, h3, h4, h5, h6{font-weight:700;}
h1{font-size:28px; margin-bottom:20px; }
h2{font-size:24px; margin-bottom:20px; }
h3{font-size:20px;}
h4{font-size:18px;  font-weight: 600;}
h5{font-size:15px;}
h6{font-size:13px;}
b{font-weight:700;}
strong{font-weight:700;}
p{font-size:16px;  font-weight:400; margin-bottom:30px; line-height: 36px; }
a{text-decoration:none; color:#fff;}
p{ font-size:16px; margin-bottom:25px; line-height:28px;}
i{font-style:italic; }

ul{}
ul li{font-size:15px;}
em{font-style:italic;}
i{font-style:italic;}

.left{float:left;}
.right{float:right;}
.center{margin:0px auto;}
b{font-weight:700;}
strong{font-weight:700;}





body{margin:0px; padding:0px; font-family: 'Poppins', sans-serif;}
.container{ width:1170px; margin:auto; padding:0px 15px;} 
.main-form,.second-form{
    float: left;
    width: 100%;
	padding:40px 0px;}
	.top-text {
    float: left;
    width: 100%;
}
.field {
    float: left;
    width: 100%;
}
.top-text .field-group {
    width: 50%;
    float: left;
}
p.div {
    float: right;
}
.fullname {
    float: left;
    width: 100%;
}
.field-group{ float:left;}

input[type="text"] {
    width: 100%;
    border: none;
    border-bottom: 1px solid;
     outline: none;
}
.field-group.fi {
    width: 55%;
}
label.name1 {
    float: left;
  
}
.name1 {
    float: left;}
	.field-group.sc {
    width: 30%;
}
.last-group.th {
    float: left;
    width: 15%;
    padding-left: 1em;
}
.last-group.th input[type="text"] {
    width: 80%;
}
.field-group.sc input[type="text"] {
    width: 90%;
}
.field-group.sc .name12 {
    float: left;
    width: 28%;
}
.Revised-border {
    float: left;
    width: 100%;
    padding: 50px 0px 20px;
}
.Revised-border p {
    border: 1px solid;
    padding: 10px;
}
.RELEASE {
    float: left;
    width: 100%;
}
.RELEASE h4 {
    line-height: 25px;
    font-weight: 600;
}
.Signature {
    width: 100%;
    float: left;
    padding: 0px 40px;
}
.Signature .filed-group {
    width: 50%;
    float: left;
    text-align: center;
    padding: 20px;
}
h4.ANSWERED {
    float: left;
}
.PROFILE label {
    width: 98%;
    float: left;
        line-height: 22px;
}
.PROFILE textarea {
    width: 98%;
    margin-left: 22px;
    margin: 20px;
    background: #8b8b8b2e;
    height: 100px;
    border: none;
    outline: none;}
    .PROFILE.rec.h span {
    float: left;
    width: 2%;
}
.PROFILE.rec.t {
    float: left;
    width: 100%;
}
.PROFILE.rec.t span {
    float: left;
    width: 2%;
}
.PROFILE.rec.t .field-group {
    width: 98%;
    padding-left: 2em; margin-bottom: 20px;
}
.PROFILE.rec.t .field-group input[type="text"] {
    width: 98%;
}
label.dia {
    margin-bottom: 20px;
}
p.end-page {
    float: left;
    width: 100%;
    margin: 20px 0px;
}
.PROFILE.rec.h {
    float: left;
    width: 100%;
}
small.expt {
    padding: 20px;
    float: left;
}
.prmt {
    float: left;
    width: 100%;
}
.field-group.check {
    width: 5%;
}
input[type="checkbox"] {
    vertical-align: middle;
}
.field-group.text {
    width: 44%;
}
.field-group.sec-c {
    text-align: center;
}
.prmt .field {
    margin-bottom: 20px;
    padding-left: 12em;
}
.field-group.text.s {
    width: 20%;
}

.Signature.t .filed-group {
    text-align: left;
}
.fullname.s .field-group {
    width: 50% !important;
}
.fullname.s input[type="text"] {
    width: 100% !important;
}
.fullname.s .name12 {
    width: 50% !important;
}
.fullname.s {
    padding: 0px 40px;
}
.fullname.s .field-group {
    padding: 10px;
}
h2.center-text {
    border-top: dashed;
    float: left;
    width: 100%;
}
.only {
    float: left;
    width: 100%;
    padding: 50px;
}
.filed-group.t2,.filed-group.t3 {
    width: 25%;
     padding-left: 0px; padding-right: 0px;
}
.filed-group.t2{ padding-left: 20px; }
.filed-group.t3{ padding-right: 20px; }
p.end-page.s {
    padding-left: 60px;
}

input[type="text"] {
    margin-bottom: 10px;
}
.filed-group {
    padding: 0px !important;
    width: 100%;
    float: left;
}
.PROFILE textarea{ margin-left: 0px !important; margin-right: 0px !important;  }
}

.slide-btn {
    float: right;
    width: 100%;
}
a.page-link {
    background: #f1f4ff;
	outline:none !important;
}
.page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow:0px !important;
}
button.btn.btn-primary {
    padding: 5px 10px;
    border: 1px solid #007bff;
    margin-left: 0px;
}
.slide-btn li .page-item {
list-style: none;}

ul.pagination li {
    list-style: none;
}
ul.pagination li a {
    padding: 9px 18px;
    color: blue;
    border-radius: 4px;
	float: left;
}
button.btn.btn-primary {
    background: blue;
    border-radius: 4px;
    color: #fff;
    font-size: 17px;
	cursor:pointer;
}
ul.pagination{ float: right; }
ul.pagination li.page-item {
    display: inline;
}