@charset "utf-8";
/* CSS Document */

@media only screen and (min-width:991px) and (max-width:1199px)  {
.container{ width:920px;}

.LTC-services-left {
    float: left;
    width: 80%;
}
.LTC-services-RIGHt {
    float: right;
width: 65%;}
.field-group.At.Home {
    width: 34%;
}
.field-group.text1 {
    width: 25%;
}
.field-group.text2 input[type="text"] {
    width: 42%;
}
.field-group.text2 {
width:40%;}
.field.Ma-Status .field-group {
    width: 20%;
}
.Spouse-first .LTC-services-left {
    float: left;
    width: 100%;
}
.Spouse-first .field-group {
    float: left;
    width: 50%;
    
}
.LTC-services-left input {
width: 95%;}
.field-group.ln1.the input.suffix {
    width: 100%;
}
.MONTHLY-a input[type="text"] {
width: 88%;}
.MONTHLY-a.s input[type="text"] {
    width: 81%;
}
input.amp {
    width: 78% !important;
}
.field-group.wt input[type="text"] {
    width: 100%;
margin-left:0px;}
.field-group.onft input[type="text"] {
    width: 85%;
}
input.amount-p {
    width: 84% !important;
}
input.avi {
    width: 80% !important;
}
.PROMISSORY h6 {
 
    height: 76px;
}
h6 {
    font-size: 14px !important;
}
.TRANSACTION h6{height: 45px;}
input.prsn {
    height: 64px;
}
.RECEIVING-INCOME input[type="text"] {
    border: none;
    width: 100%;
    height: 60px;
}
.Application-start.fms .field-group.First-app-f {

    width: 20%;
}
.auth-repr .field-group {
    width: 50% !important;
    margin: 10px 0;
}
}
@media only screen and (min-width:768px) and (max-width: 990px){
.container{ width:720px;}

.LTC-services-left {
    float: left;
    width: 70%;
}
.LTC-services-RIGHt .form-group input[type="text"] {
    width:90%;
 }
 .LTC-services-RIGHt {
    float: right;
 width: 65%;}
 
 .field-group.At.Home {
    width: 35%;
}
.field-group.text1 {
    width: 25%;
}
.field-group.text2 input[type="text"] {
    width: 48%;
}
.field-group.text2 input[type="text"] {
    width: 40%;
}
.field.Ma-Status .field-group {
    width: 20%;
}
.Spouse-first .LTC-services-left {
    float: left;
    width: 100%;
}
.field-group.ln1 {
    width: 24%;
}
.Spouse-first .field-group {
    float: left;
    width: 27%;
}
.Spouse-first .field-group {
    float: left;
    width: 48%;
    margin-left: 10px;
}
.field-group.ln1.the input.suffix {
    width: 100%;
}
input[type="text"] {
    margin-left: 0px !important;
}
.MONTHLY-a input[type="text"] {
width: 85% !important;}


.ESTATE-INTEREST-main h6 {
   
    height: 66px;
}
h6 {
    font-size: 14px !important;
}
input.prsn {
    height: 64px;
}
input.amp {
    width: 80% !important;
}
.field-group.wt input[type="text"] {
width: 100%;}
.field-group.onft input[type="text"] {
    width: 86%;
}
input.amount-p {
    width: 88% !important;
}
input.avi {
    width: 80% !important;
}

.auth-repr .field-group {
    width: 50% !important;
    margin: 10px 0px;
}
.field-group.appcb {
    float: left;
    width: 100%;
}
.field-group.appcb input[type="text"] {
    height: 40px;
    width: 100%;
}
label.prnm {
    text-align: center;
    width: 100%;
}
.field-group.appcbf {
    float: left;
    width: 100%;
}
.field-group.appcbf input.volum {
    height: 40px;
    width: 100%;
}
.Application-start.fms .field-group.First-app-f {
   
    width: 20%;
}
.MED-QUEST-left label {
    float: left;
    width: 85%;
}
.Mailing-Address input {
    width: 100% !important;
}
.City-text input {
    width: 100% !important;
}
 }
@media only screen and (min-width:480px) and (max-width: 767px){
.container{ width:430px;}


.text-left {
    text-align: left !important;
}
.col-lg-6.col-lg-6.col-md-6.col-sm-12.col-xs-12.text-right {
    text-align: left !important;
}
h5 {
    font-size: 17px !important;
    margin: 20px 0px !important;
}
.Name-first{ padding-left:0px;}
.Name-first label {
    float: left;
    width: 100%;
}
input[type="text"] {
    width: 100% !important;
}
.field-group {
    width: 100% !important;
}
.LTC-services-left {
    float: left;
    width: 100%;
}
input.fn {
    margin-left: 0px;
}
.LTC-services-left:first-child {
    margin-left: 0px;
	
}
.LTC-services-RIGHt {
    float: left;
    width: 100%;
    text-align: right;
    padding-right: 25px;
}
.LTC-services-RIGHt .form-group input[type="text"] {
    width: 80% !important;
  
    text-align: left;
}
.field-group.text2{text-align: left;}
.field-group.datsq input[type="text"] {
width: 20% !important;}
.field-group.gen span {
    margin-left: 5px;
}
.col-lg-4.border-right.border-left.col-md-4.col-sm-12.col-xs-12 {
    border: none !important;
}
.col-lg-4.border-right.col-md-4.col-sm-12.col-xs-12{ 
    border: none !important;
}
.ck-ys input[type="text"] {
    height: 25px !important;
}
.MONTHLY-a input[type="text"] {
width: 100% !important;}
input[type="text"] {
    margin-left: 0px !important;
}
.Spouse-first .LTC-services-left {
  
    width: 100%;
}
.col-lg-4.border-right.th {
    padding: 0px 15px;
}
.MONTHLY-a input[type="text"] {
    width: 95% !important;
    margin: 15px 0px;
}
.col-lg-3.border-right {
    border: none !important;
}
.col-lg-2.border-right {
    border: none !important;
}
.col-lg-3.border-right {
    padding: 0px 15px !important;
}
.col-lg-2.border-right.col-md-2.col-sm-12.col-xs-12 {
    padding: 0px 15px !important;
}
.MONTHLY-a input[type="text"] {
    width: 93% !important;
    margin: 15px 0px;
}
.RECEIVING-INCOME b, .INCOME-TYPE b, .MONTHLY-a b {
    text-align: left;
    width: 100%;
    float: left;
    padding-top: 0px !important;
}
.LTC-services-left {
    padding-left: 8px !important;
}
h5 {
    text-align: left !important;
}


/*************/
.COVERED-text .field-group h6 {
    float: left;
    padding-left: 8px;
    text-align: left;
    height: 60px;
	
}
.field-group {
    border: none !important;
}
.ISSUANCE-DATE h6 {
    margin: 10px 0px;
   text-align:left;
    padding-left: 8px;
}
h6{ float:left; 
text-align:left !important;
padding-left:8px;
height:100%;


}
.PROMISSORY h6{ height:100%;}
input.amp {
    width: 90% !important;
}
.field-group.onft input[type="text"] {
    width: 93% !important;
    margin: 10px 0px;
}
input[type="text"] {
    margin: 8px 0px !important;
}
input.amount-p {
    width: 90% !important;
}
input.avi {
    width: 91% !important;
}
input.amr {
    width: 90% !important;
}
input.suffix {
    float: left;
    margin: 50px 0px 10px!important;
	 padding-left:8px;
}

/*******************/
ul.r-list {
    padding-left: 0px;
}
.Signature-left {
 
width: 50%;}
.Signature-right {
  
width: 50%;}

.MED-QUEST-left {
    width: 100%;
    border: none;
    padding-left: 8px;
}
.MED-QUEST h6 {
    padding-left: 8px;
}
.MED-QUEST input[type="checkbox"] {
    width: 5%;
    float: left;
    margin: 0px;
	    margin-top: 7px;
}
.MED-QUEST-left label {
    width: 95%;
}
ul.r-list.apx {
    padding-left: 0px;
}
input.state.s {
    background: #f1f4ff;
width: 100%;}
label.prnm {
    text-align: left;
    width: 100%;
}
.As-applicabl.aspll h6 {
    padding-left: 0px;
}
.Name-first h6 {
    margin: 20px 0px;
    height: 100px;
}
.LTC-services-RIGHt .form-group {
width: 30%;}

}
@media only screen and (max-width: 479px){
.container{ width:300px !important;}

.text-left {
    text-align: left !important;
}
.col-lg-6.col-lg-6.col-md-6.col-sm-12.col-xs-12.text-right {
    text-align: left !important;
}
h5 {
    font-size: 17px !important;
    margin: 20px 0px !important;
}
.Name-first{ padding-left:0px;}
.Name-first label {
    float: left;
    width: 100%;
}
input[type="text"] {
    width: 100% !important;
}
.field-group {
    width: 100% !important;
}
.LTC-services-left {
    float: left;
    width: 100%;
}
input.fn {
    margin-left: 0px;
}
.LTC-services-left:first-child {
    margin-left: 0px;
	
}
.LTC-services-RIGHt {
    float: left;
    width: 100%;
    text-align: right;
    padding-right: 25px;
}
.LTC-services-RIGHt .form-group input[type="text"] {
    width: 80% !important;
  
    text-align: left;
}
.field-group.text2{text-align: left;}
.field-group.datsq input[type="text"] {
width: 20% !important;}
.field-group.gen span {
    margin-left: 5px;
}
.col-lg-4.border-right.border-left.col-md-4.col-sm-12.col-xs-12 {
    border: none !important;
}
.col-lg-4.border-right.col-md-4.col-sm-12.col-xs-12{ 
    border: none !important;
}
.ck-ys input[type="text"] {
    height: 25px !important;
}
.MONTHLY-a input[type="text"] {
width: 100% !important;}
input[type="text"] {
    margin-left: 0px !important;
}
.Spouse-first .LTC-services-left {
  
    width: 100%;
}
.col-lg-4.border-right.th {
    padding: 0px 15px;
}
.MONTHLY-a input[type="text"] {
    width: 95% !important;
    margin: 15px 0px;
}
.col-lg-3.border-right {
    border: none !important;
}
.col-lg-2.border-right {
    border: none !important;
}
.col-lg-3.border-right {
    padding: 0px 15px !important;
}
.col-lg-2.border-right.col-md-2.col-sm-12.col-xs-12 {
    padding: 0px 15px !important;
}
.MONTHLY-a input[type="text"] {
    width: 93% !important;
    margin: 15px 0px;
}
.RECEIVING-INCOME b, .INCOME-TYPE b, .MONTHLY-a b {
    text-align: left;
    width: 100%;
    float: left;
    padding-top: 0px !important;
}
.LTC-services-left {
    padding-left: 8px !important;
}

h5 {
    text-align: left !important;
}



/*************/
.COVERED-text .field-group h6 {
    float: left;
    padding-left: 8px;
    text-align: left;
    height: 60px;
	
}
.field-group {
    border: none !important;
}
.ISSUANCE-DATE h6 {
    margin: 10px 0px;
   text-align:left;
    padding-left: 8px;
}
h6{ float:left; 
text-align:left !important;
padding-left:8px;
height:100%;


}
.PROMISSORY h6{ height:100%;}
input.amp {
    width: 90% !important;
}
.field-group.onft input[type="text"] {
    width: 93% !important;
    margin: 10px 0px;
}
input[type="text"] {
    margin: 8px 0px !important;
}
input.amount-p {
    width: 90% !important;
}
input.avi {
    width: 91% !important;
}
input.amr {
    width: 90% !important;
}
/*******************/
ul.r-list {
    padding-left: 0px;
}
.Signature-left {
 
width: 50%;}
.Signature-right {
  
width: 50%;}

.MED-QUEST-left {
    width: 100%;
    border: none;
    padding-left: 8px;
}
.MED-QUEST h6 {
    padding-left: 8px;
}
.MED-QUEST input[type="checkbox"] {
    width: 5%;
    float: left;
    margin: 0px;
	    margin-top: 7px;
}
.MED-QUEST-left label {
    width: 95%;
}
ul.r-list.apx {
    padding-left: 0px;
}
input.state.s {
    background: #f1f4ff;
width: 100%;}
label.prnm {
    text-align: left;
    width: 100%;
}
.As-applicabl.aspll h6 {
    padding-left: 0px;
}
.Name-first h6 {
    margin: 20px 0px;
    height: 100px;
}
.LTC-services-RIGHt .form-group {
width: 30%;}

}