<div calender-dropper="DataModel" >
    <div class="event-container" common-detail-popover="DataModel" ng-template-selector="#eventdetailpopover" popover-width="400" popover-trigger="click" popover-closeable="true" pop-over-functions="DataModel.event.popOverObj">
        <span  class='fc-name hc-fc-name ' data-ng-class="{'male':(DataModel.event.scheduleModel.Gender=='M'),'female':(DataModel.event.scheduleModel.Gender=='F')}"
            
           @* data-ng-bind="DataModel.event.scheduleModel.LastName"*@
            >
            
            {{DataModel.event.scheduleModel.LastName}}, {{DataModel.event.scheduleModel.FirstName}} ({{DataModel.event.scheduleModel.Age}})
        </span>
    </div>
</div>
