<div>
    <div class="col-sm-12 no-left-padding">
        <div class="dataTables_wrapper">
            <span class="font-red font-weight-600">@Resource.OfficeDropOffDetails</span>
            <table class="table table-bordered table-striped table-hover table-condensed tbl_reflog  margin-top-5 ">
                <tbody>
                <tr>
                    <th>@Resource.Name</th>
                    <th data-ng-repeat="SchStartDate in commonDetailPopover.HeadCellsUPTrip">{{SchStartDate}}</th>
                </tr>
                <tr data-ng-repeat="(location, value) in commonDetailPopover.rowsUPTrip">
                    <td>{{location}}</td>
                    <td data-ng-repeat="schStartDate in commonDetailPopover.HeadCellsUPTrip">
                        <span data-ng-repeat="obj in commonDetailPopover.sortByStartDateProp(value,schStartDate)">
                               <span data-ng-if="obj">{{obj.ClientCount}}</span>
                            </span>
                    </td>
                    @*<td data-ng-repeat="obj in commonDetailPopover.sortByStartDateProp(value)">{{obj.ClientCount}}</td>*@
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-6 no-right-padding display-none">
        <div class="dataTables_wrapper">
            <span class="font-red font-weight-600">@Resource.OfficePickUpDetails</span>
            <table class="table table-bordered table-striped table-hover table-condensed tbl_reflog  margin-top-5 ">
                <tbody>
                <tr>
                    <th>@Resource.Name</th>
                    <th data-ng-repeat="SchEndDate in commonDetailPopover.HeadCellsDownTrip">{{SchEndDate}}</th>
                </tr>
                <tr data-ng-repeat="(location, value) in commonDetailPopover.rowsDownTrip">
                    <td>{{location}}</td>
                    <td data-ng-repeat="schEndDate in commonDetailPopover.HeadCellsDownTrip">
                        <span data-ng-repeat="obj in commonDetailPopover.sortByEndDateProp(value,schEndDate)">
                               <span data-ng-if="obj">{{obj.ClientCount}}</span>
                            </span>
                    </td>
                    @*<td data-ng-repeat="obj in commonDetailPopover.sortByEndDateProp(value,commonDetailPopover.HeadCellsDownTrip[$index])">{{obj.ClientCount}}</td>*@
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>




