<div id="emprefschmodal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="caption margin-bottom-0 margin-top-5">
                    <a class="text-decoration-none sbold uppercase ng-binding" target="_blank" href="/hc/employee/addemployee/m6-gKuJrVRNLZL08U5CmHg2">DACIA RUIZ</a>
                    @*<small class="pull-right padding-right-10">
                        <b>Selected Patient :</b>
                        <span class="label label-mini label-success label-inverse margin-right-05 ng-binding">
                            <b class="ng-binding">Abril, Angel &nbsp;</b>
                        </span>
                    </small>*@
                </h4>
            </div>
            <div class="modal-body">
                <div class="emprefpopup_left">
                    <div class="emprefsch_search">
                        <div class="row">
                            <div class="col-lg-4 col-md-5 col-sm-5 col-xs-7">
                                <div class="input-group date" datepicker="">
                                    <input class="form-control input-sm" placeholder="Start Date" type="text">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 padding-left-0">
                                <input type='submit' class="btn btn-sm" value="Search" />
                            </div>
                        </div>
                    </div>
                    <div class="dataTables_wrapper compact ng-scope padding-right-10">
                        <table class="table table-advance table-bordered table-condensed tbl_reflog">
                            <thead>
                                <tr>
                                    <th><strong>Employee</strong></th>
                                    <th style="width: 93px; word-break: break-all;"><strong>Frequency</strong></th>
                                    <th><strong>Start Time</strong></th>
                                    <th><strong>End Time</strong></th>
                                    <th style="width: 261px;"></th>
                                    <th style="width: auto;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Erika Acosta</td>
                                    <td>Mon,Tue,Wed</td>
                                    <td>08 am</td>
                                    <td>12 pm</td>
                                    <td>
                                        <span class="badge badge-warning badge-roundless margin-top-0 margin-bottom-0" style="background-color: darkslateblue" title="Skills"><i class="fa fa-wrench"></i>100%</span>
                                        <span class="badge badge-warning badge-roundless margin-top-0 margin-bottom-0" style="background-color: red" title="Preference"><i class="fa fa-clock-o"></i>90%</span>
                                        <span class="badge badge-warning badge-roundless margin-top-0 margin-bottom-0" style="background-color: green" title="Miles"><i class="fa fa-car"></i>+15 mi</span>
                                        <span class="badge badge-warning badge-roundless margin-top-0 margin-bottom-0" style="background-color: orangered" title="Conflict"><i class="fa fa-bolt"></i>2</span>                                        
                                    </td>
                                    <td style="text-align: center; vertical-align: top; "><a href="#" class="btn btn-xs btn-default">+ Schedule</a></td>
                                </tr>
                                <tr>
                                    <td>Andy Aguilar</td>
                                    <td>Fri-Sun</td>
                                    <td>02 pm</td>
                                    <td>04 pm</td>
                                    <td>
                                        <span class="badge badge-warning badge-roundless margin-top-0 margin-bottom-0" style="background-color: darkslateblue" title="Skills"><i class="fa fa-wrench"></i>90%</span>
                                        <span class="badge badge-warning badge-roundless margin-top-0 margin-bottom-0" style="background-color: red" title="Preference"><i class="fa fa-clock-o"></i>85%</span>
                                        <span class="badge badge-warning badge-roundless margin-top-0 margin-bottom-0" style="background-color: green" title="Miles"><i class="fa fa-car"></i>+22 mi</span>
                                        <span class="badge badge-warning badge-roundless margin-top-0 margin-bottom-0" style="background-color: orangered" title="Conflict"><i class="fa fa-bolt"></i>5</span>
                                    </td>
                                    <td style="text-align: center; vertical-align: top; "><a href="#" class="btn btn-xs btn-default">+ Schedule</a></td>
                                </tr>
                                <tr>
                                    <td>Ivan Aguirre</td>
                                    <td>Mon,Tues,Wed</td>
                                    <td>05 pm</td>
                                    <td>07 pm</td>
                                    <td>
                                        <span class="badge badge-warning badge-roundless margin-top-0 margin-bottom-0" style="background-color: darkslateblue" title="Skills"><i class="fa fa-wrench"></i>90%</span>
                                        <span class="badge badge-warning badge-roundless margin-top-0 margin-bottom-0" style="background-color: red" title="Preference"><i class="fa fa-clock-o"></i>80%</span>
                                        <span class="badge badge-warning badge-roundless margin-top-0 margin-bottom-0" style="background-color: green" title="Miles"><i class="fa fa-car"></i>+39 mi</span>
                                        <span class="badge badge-warning badge-roundless margin-top-0 margin-bottom-0" style="background-color: orangered" title="Conflict"><i class="fa fa-bolt"></i>2</span>
                                    </td>
                                    <td style="text-align: center; vertical-align: top; "><a href="#" class="btn btn-xs btn-default">+ Schedule</a></td>
                                </tr>
                                <tr>
                                    <td>Antrel Alexander</td>
                                    <td>Mon,Tue,Wed</td>
                                    <td>08 am</td>
                                    <td>12 pm</td>
                                    <td>
                                        <span class="badge badge-warning badge-roundless margin-top-0 margin-bottom-0" style="background-color: darkslateblue" title="Skills"><i class="fa fa-wrench"></i>65%</span>
                                        <span class="badge badge-warning badge-roundless margin-top-0 margin-bottom-0" style="background-color: red" title="Preference"><i class="fa fa-clock-o"></i>70%</span>
                                        <span class="badge badge-warning badge-roundless margin-top-0 margin-bottom-0" style="background-color: green" title="Miles"><i class="fa fa-car"></i>+90 mi</span>
                                        <span class="badge badge-warning badge-roundless margin-top-0 margin-bottom-0" style="background-color: orangered" title="Conflict"><i class="fa fa-bolt"></i>0</span>
                                    </td>
                                    <td style="text-align: center; vertical-align: top; "><a href="#" class="btn btn-xs btn-default">+ Schedule</a></td>
                                </tr>
                                <tr>
                                    <td>Devon Allen</td>
                                    <td>Fri-Sun</td>
                                    <td>02 pm</td>
                                    <td>04 pm</td>
                                    <td>
                                        <span class="badge badge-warning badge-roundless margin-top-0 margin-bottom-0" style="background-color: darkslateblue" title="Skills"><i class="fa fa-wrench"></i>57%</span>
                                        <span class="badge badge-warning badge-roundless margin-top-0 margin-bottom-0" style="background-color: red" title="Preference"><i class="fa fa-clock-o"></i>55%</span>
                                        <span class="badge badge-warning badge-roundless margin-top-0 margin-bottom-0" style="background-color: green" title="Miles"><i class="fa fa-car"></i>+80 mi</span>
                                        <span class="badge badge-warning badge-roundless margin-top-0 margin-bottom-0" style="background-color: orangered" title="Conflict"><i class="fa fa-bolt"></i>5</span>
                                    </td>
                                    <td style="text-align: center; vertical-align: top; "><a href="#" class="btn btn-xs btn-default">+ Schedule</a></td>
                                </tr>
                                <tr>
                                    <td>Devon Allen</td>
                                    <td>Mon,Tues,Wed</td>
                                    <td>05 pm</td>
                                    <td>07 pm</td>
                                    <td>
                                        <span class="badge badge-warning badge-roundless margin-top-0 margin-bottom-0" style="background-color: darkslateblue" title="Skills"><i class="fa fa-wrench"></i>45%</span>
                                        <span class="badge badge-warning badge-roundless margin-top-0 margin-bottom-0" style="background-color: red" title="Preference"><i class="fa fa-clock-o"></i>57%</span>
                                        <span class="badge badge-warning badge-roundless margin-top-0 margin-bottom-0" style="background-color: green" title="Miles"><i class="fa fa-car"></i>+67 mi</span>
                                        <span class="badge badge-warning badge-roundless margin-top-0 margin-bottom-0" style="background-color: orangered" title="Conflict"><i class="fa fa-bolt"></i>0</span>
                                    </td>
                                    <td style="text-align: center; vertical-align: top; "><a href="#" class="btn btn-xs btn-default">+ Schedule</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="padding-right-10" style="width: 100%; display: inline-block;">
                        <ul class="pagination pull-right margin-top-10 pagination-sm">
                            <li><a>«</a></li>
                            <li><a>Prev</a></li>
                            <li class="active"><a>1</a></li>
                            <li><a>2</a></li>
                            <li><a>...</a></li>
                            <li><a>Next</a></li>
                            <li><a>»</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="emprefpopup_right">
                    <div class="emprefsch_constraints">
                        <h5 class="margin-top-0">Constraints</h5>
                        <h5 class="badge badge-warning badge-roundless margin-top-0 margin-bottom-0" style="color: black;font-weight: 500;">Patient's Visit Frequency</h5>
                        <div class="margin-top-10 font-size-12">From 03/01/2018 <br />To 03/30/2018</div>
                        <ul class="client_time">
                            <li><b>Mon</b> 10am - 12pm</li>
                            <li><b>Thu</b> 01pm - 03pm</li>
                            <li><b>Sat</b> 05pm - 07pm</li>
                        </ul>
                    </div>
                </div>
                

                @*<div class="col-sm-12 no-padding">
                    <div class="emp_option">
                        <div class="emp_singleoption" style="background-color: green;">
                            <span class="emp_optionleft">
                                <i class="fa fa-car"></i>
                            </span>
                            <span class="emp_optionright">
                                <span class="emp_optionlabel">+165</span>
                                <span class="emp_optionvalue">Miles</span>
                            </span>
                        </div>
                        <div class="emp_singleoption" style="background-color: darkslateblue;">
                            <span class="emp_optionleft">
                                <i class="fa fa-wrench"></i>
                            </span>
                            <span class="emp_optionright">
                                <span class="emp_optionlabel">100%</span>
                                <span class="emp_optionvalue">Skills</span>
                            </span>
                        </div>
                        <div class="emp_singleoption" style="background-color: orangered;">
                            <span class="emp_optionleft">
                                <i class="fa fa-bolt"></i>
                            </span>
                            <span class="emp_optionright">
                                <span class="emp_optionlabel">0</span>
                                <span class="emp_optionvalue">Conflicts</span>
                            </span>
                        </div>
                        <div class="emp_singleoption" style="background-color: red;">
                            <span class="emp_optionleft">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                            </span>
                            <span class="emp_optionright">
                                <span class="emp_optionlabel">0</span>
                                <span class="emp_optionvalue">Over Capacity</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 padding-right-10 margin-top-15">
                        <h5 class="margin-top-0">Patient's Schedules</h5>
                        <div class="emp_search">
                            <div class="row">
                                <div class='col-sm-4 padding-right-5'>
                                    <div class="form-group margin-bottom-0">
                                        <div class="input-group date" datepicker="">
                                            <input class="form-control input-sm" placeholder="Start Date" type="text">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-sm-4 padding-left-5 padding-right-5'>
                                    <div class="form-group margin-bottom-0">
                                        <div class="input-group date" datepicker="">
                                            <input class="form-control input-sm" placeholder="End Date" type="text">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-sm-4 padding-left-5'>
                                    <div class="form-group margin-bottom-0">
                                        <input type='submit' class="btn btn-sm" value="Search" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="dataTables_wrapper compact ng-scope">
                            <table class="table table-advance table-bordered table-striped table-hover table-condensed tbl_reflog">
                                <thead>
                                    <tr>
                                        <th><strong>Date</strong></th>
                                        <th><strong>Day</strong></th>
                                        <th><strong>Time</strong></th>
                                        <th><strong>Employee</strong></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- ngRepeat: item in DetailModel.EmployeeMatchingPreference --><!-- ngIf: DetailModel.EmployeeMatchingPreference.length > 0 -->
                                    <tr>
                                        <td>03/05/2018</td>
                                        <td>Mon</td>
                                        <td>10am - 12pm</td>
                                        <td>Aaron Elkins</td>
                                        <td><a href="#"><i class="fa fa-trash-o font-red"></i></a></td>
                                    </tr><!-- end ngIf: DetailModel.EmployeeMatchingPreference.length > 0 --><!-- end ngRepeat: item in DetailModel.EmployeeMatchingPreference -->
                                    <tr>
                                        <td>03/08/2018</td>
                                        <td>Thu</td>
                                        <td>01pm - 03pm</td>
                                        <td>Aaron Elkins</td>
                                        <td><a href="#"><i class="fa fa-trash-o font-red"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>03/10/2018</td>
                                        <td>Sat</td>
                                        <td>05pm - 07pm</td>
                                        <td>Adrian Williams</td>
                                        <td><a href="#"><i class="fa fa-trash-o font-red"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-4 padding-left-10 margin-top-15" style="border-left: 1px solid #dedede; padding-top: 24px;">
                        <h5 class="margin-top-0">Constraints</h5>
                        <h5 class="badge badge-warning badge-roundless margin-top-0">Patient's Visit Frequency</h5>
                        <ul class="client_time">
                            <li>From 03/01/2018 To 03/30/2018</li>
                            <li><b>Mon</b> 10am - 12pm</li>
                            <li><b>Thu</b> 01pm - 03pm</li>
                            <li><b>Sat</b> 05pm - 07pm</li>
                        </ul>
                    </div>
                </div>

                <h5>Employee Avilable Time Slots</h5>
                <div class="dataTables_wrapper margin-top-5 compact ng-scope">
                    <table class="table table-advance table-bordered table-striped table-hover table-condensed tbl_reflog">
                        <thead>
                            <tr>
                                <th><strong>Employee Name</strong></th>
                                <th><strong>Date</strong></th>
                                <th><strong>Day</strong></th>
                                <th><strong>Time</strong></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- ngRepeat: item in DetailModel.EmployeeMatchingPreference --><!-- ngIf: DetailModel.EmployeeMatchingPreference.length > 0 -->
                            <tr>
                                <td>Alantis Houpt</td>
                                <td>03/15/2018</td>
                                <td>Thu</td>
                                <td>12pm - 05pm</td>

                                <td><a href="#" class="btn btn-primary btn-xs">Create Schedule</a></td>
                            </tr>
                            <tr>
                                <td>Alantis Houpt</td>
                                <td>03/17/2018</td>
                                <td>Sat</td>
                                <td>05pm - 08pm</td>

                                <td><a href="#" class="btn btn-primary btn-xs">Create Schedule</a></td>
                            </tr>
                            <tr>
                                <td>Alantis Houpt</td>
                                <td>03/22/2018</td>
                                <td>Thu</td>
                                <td>12pm - 05pm</td>

                                <td><a href="#" class="btn btn-primary btn-xs">Create Schedule</a></td>
                            </tr>
                            <tr>
                                <td>Alantis Houpt</td>
                                <td>03/24/2018</td>
                                <td>Sat</td>
                                <td>05pm - 08pm</td>

                                <td><a href="#" class="btn btn-primary btn-xs">Create Schedule</a></td>
                            </tr><!-- end ngIf: DetailModel.EmployeeMatchingPreference.length > 0 --><!-- end ngRepeat: item in DetailModel.EmployeeMatchingPreference -->
                        </tbody>
                    </table>
                </div>*@

            </div>
        </div>

    </div>
</div>
