@{
                /**/

                ViewBag.Title = string.Format("{0} {1}", Resource.ZarePhath, Resource.Notification);
                Layout = "~/Views/Shared/_Layout.cshtml";
                // Layout = Model.IsPartial ? null : "~/Views/Shared/_Layout.cshtml";
                ViewBag.SelectedMenuItem = Resource.Notification;
}
@model LateClockInNotificationModel

<div data-ng-controller="NotificationController">
    <div class="page-bar">
        <h3 class="page-title">Employee late ClockIn Sheet</h3>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="col-md-12">
                <div class="portlet-body compact" style="display: block;">
                    <div>
                        <table class="table table-bordered table-striped table-condensed flip-content">
                            <thead class="">
                                <tr>
                                    <th class="col-lg-6">
                                        <span>EmployeeName</span>
                                    </th>
                                    <th class="">
                                        <span>ScheduleStartDate</span>
                                    </th>
                                    <th class="width-100px">
                                        <span>ScheduleEndDate</span>
                                    </th>
                                    <th class="width-100px">
                                        <span>ScheduleClockInTime</span>
                                    </th>
                                    <th class="width-100px">
                                        <span>ActualClockInTime</span>
                                    </th>
                                    <th class="width-100px">
                                        <span>ClockOutTime</span>
                                    </th>
                                    @*<th class="width-155px">@Resource.Action</th>
                                   </tr>*@
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="item in NotificationList">
                                    <td>{{item.Employee}}</td>
                                    <td>{{item.ScheduleDate | orgdatetime}}</td>
                                    <td>{{item.ScheduleEndDate}}</td>
                                    <td>{{item.StartTime}}</td>
                                    <td> {{item.ClockInTime}}</td>
                                    <td> {{item.ClockOutTime}}</td>
                                    @*<td> {{item.Action}}</td>*@
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/assets/js/viewjs/siteApp/Areas/HomeCare/Home/Notification")
    <script>
        var Reply = '@Resource.Reply';
        var ResolvedComment = '@Resource.ResolvedComment';
    </script>
}