<div class="trasporationFilter row">
    <form class="form-inline editableform" style="">
        <div class="col-md-12">
            <div>
                <div class="editable-input">
                    <div class="col-sm-8 no-padding groupErrorParent transportation-dropdown">
                        <select class="selectpicker groupError  input-sm  form-control" 
                                id="SelectedFilter" data-val="true" data-val-required="@Resource.Select"
                                selectpicker = "commonDetailPopover.TransportationFilterID"
                                multiple="multiple"
                                name="commonDetailPopover.TransportationFilterID">
                            <option data-ng-repeat="option in commonDetailPopover.TransportationFilters | filter:commonDetailPopover.FilterStaffDropdown(commonDetailPopover.TransportationFilterID)" value="{{option.TransportationFilterID}}">{{option.TransportationFilterName}}</option>
                        </select>
                    </div>
                    <div class="editable-buttons col-sm-4">
                        <button type="submit" class="btn btn-primary btn-sm" data-ng-click="commonDetailPopover.SaveTransportationGroupFilter(commonDetailPopover.TransportationGroupClientID,commonDetailPopover.TransportationFilterID,commonDetailPopover.popoverhide)"><i class="glyphicon glyphicon-ok"></i></button>
                        <button type="button" class="btn btn-default btn-sm" data-ng-click="commonDetailPopover.Hidepopover(commonDetailPopover.popoverhide)"><i class="glyphicon glyphicon-remove"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script>
        $(".trasporationFilter").parent(".webui-popover-content").addClass("custoverflowvisible");
    </script>
</div>








