<div class="col-lg-12 col-md-12 col-sm-8 col-xs-12 no-padding">
    <form>
        <div class="form-group col-lg-12 col-md-12 col-sm-12">
            <label class="control-label">@Resource.Comment</label>
            <textarea data-ng-model="commonDetailPopover.event.attendanceModel.Comment" class="form-control input-sm" rows="5"></textarea>
            <div class="font-sm"><b class="">@Resource.UpdatedBy: </b><span>{{commonDetailPopover.event.attendanceModel.UpdatedByName}} at {{commonDetailPopover.event.attendanceModel.UpdatedDate | datetimeformat}}</span></div>
        </div>
        <div class="form-group col-lg-3 col-md-3 col-sm-3 pull-right">
            <label class="control-label"></label>
            <div class="">
                <button type="submit" class="btn  btn-sm blue pull-right" data-ng-click="commonDetailPopover.event.setComment(commonDetailPopover.calendarObj,commonDetailPopover.event)">@Resource.Submit</button>
            </div>
        </div>
    </form>


</div>


