<div class="event-container col-lg-12 col-md-12 col-sm-8 col-xs-12 no-padding">
    <div class="fc-content">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 no-padding">
            <span class="fc-title font-white">{{DataModel.event.attendanceModel.Name}}&nbsp;({{DataModel.event.attendanceModel.Age}})</span>
        </div>
        @*<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 no-padding text-align-center" data-ng-if="DataModel.event.attendanceModel.AttendanceStatus == 2">
           <a href="#EditSchedule" data-ng-click="EditSchedule(DataModel.event.attendanceModel)" title="Edit Schedule" data-toggle="modal">EDIT</a>
              <span class="fc-corner-right pull-right"><a href="javascript:void(0);" class="font-white" common-detail-popover="DataModel" pop-over-functions="DataModel.event.popOverObj" ng-template-selector="#calenderattendanceedit" ng-header="{{DataModel.event.attendanceModel.Name + '('+DataModel.event.attendanceModel.Age+')'}}" popover-trigger="click" popover-closeable="true">Edit</a></span>
        </div>*@
    </div>


</div>


