<div class=" col-lg-12" style="padding:5px">
    <div class="row badge badge-pill badge-success broadcast-label">
        <span>{{SendSMSModel.Employees}}</span>
    </div>
    <div class="compact row">
        <div class="col-lg-12" style="margin:15px 0px;">
            <textarea class="form-control input-sm" rows="13" placeholder="@Resource.EnterBroadcastNotificationTextHere"
                      data-ng-model="SendSMSModel.Message" maxlength="1000"></textarea>
        </div>
        <div class="col-lg-12 text-center" style="">
            <button class="btn btn-lg blue" data-ng-click="SendBroadcastNotification()">@Resource.SendNotification</button>
        </div>
    </div>
</div>