<div class="row">
    <div class="col-sm-12">
        <div class="dashboard-calander" style="height: 356px;">
            <div class="calander-box">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="input-group date date-picker pull-right"
                             datepicker="EmployeeTimeStaticSearchModel.StartDate" ng-dateval="EmployeeTimeStaticSearchModel.StartDate" data-val="true">
                            <input class="form-control input-sm dateInputMask " placeholder='@Resource.StarDate' maxlength="50" />
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group date date-picker pull-right"
                             datepicker="EmployeeTimeStaticSearchModel.EndDate" ng-dateval="EmployeeTimeStaticSearchModel.EndDate" data-val="true">
                            <input class="form-control input-sm dateInputMask " placeholder='@Resource.EndDate' maxlength="50" />
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                    <div class="col-sm-2 padding-right-0">
                        <div>
                            <input type='submit' class="btn btn-sm btn-default bg-gray-color" value="@Resource.Search" data-ng-click="GetEmployeeTimeStatics()" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="chartWrapper">
                <div class="chartAreaWrapper">
                    <canvas id="myChart" height="{{GrapHeight}}"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
