@import url('https://fonts.googleapis.com/css?family=Open+Sans:light 300,regular 400,semi-bold 600,bold 700,extra-bold 800,');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {line-height: 1;}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;}
table {	border-collapse: collapse;
	border-spacing: 0;}
*{box-sizing:border-box;}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #cccccc;
	font-family:14px;
	font-family: 'Open Sans', sans-serif;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #cccccc;
	font-family:14px;
	font-family: 'Open Sans', sans-serif;

}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #cccccc;
	font-family:14px;
	font-family: 'Open Sans', sans-serif;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #cccccc;
	font-family:14px;
	font-family: 'Open Sans', sans-serif;

}


:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #cccccc;
	font-family:14px;
	font-family: 'Open Sans', sans-serif;

}



.form-main ::placeholder {
	 font-size:14px;
  opacity: 1; 
}



@font-face {
    font-family:'FontAwesome';
    src:url(fonts/FontAwesome.otf);
}

/* =WordPress Core

-------------------------------------------------------------- */

.alignnone{margin:5px 20px 20px 0}
.aligncenter,div.aligncenter{display:block;margin:5px auto}
.alignright{float:right;margin:5px 0 20px 20px}
.alignleft{float:left;margin:5px 20px 20px 0}
a img.alignright{float:right;margin:5px 0 20px 20px}
a img.alignnone{margin:5px 20px 20px 0}
a img.alignleft{float:left;margin:5px 20px 20px 0}
a img.aligncenter{display:block;margin-left:auto;margin-right:auto}
.wp-caption{background:#fff;border:1px solid #f0f0f0;max-width:96%;padding:5px 3px 10px;text-align:center}
.wp-caption.alignnone{margin:5px 20px 20px 0}
.wp-caption.alignleft{margin:5px 20px 20px 0}
.wp-caption.alignright{margin:5px 0 20px 20px}
.wp-caption img{border:0 none;height:auto;margin:0;max-width:98.5%;padding:0;width:auto}
.wp-caption p.wp-caption-text{font-size:11px;line-height:17px;margin:0;padding:0 4px 5px}
.screen-reader-text{clip:rect(1px,1px,1px,1px);position:absolute!important;height:1px;width:1px;overflow:hidden}
.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,0.6);clip:auto!important;color:#21759b;display:block;font-size:14px;font-size:.875rem;font-weight:700;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}

/*

Defaults

---------------------------------------------------------------------------------------------------- */

/* Typographical Elements

--------------------------------------------- */
h1, h2, h3, h4, h5, h6{font-weight:700;}
h1{font-size:28px; }
h2{font-size:24px; }
h3{font-size:20px;}
h4{font-size:18px;}
h5{font-size:15px;}
h6{font-size:13px;}
b{font-weight:700;}
strong{font-weight:700;}
p{font-size:16px;  font-weight:400; margin-bottom:30px; line-height: 30px; }
a{text-decoration:none; color:#fff;}
p{ font-size:16px; margin-bottom:35px;}
i{font-style:italic; }

ul{}
ul li{font-size:15px;}
em{font-style:italic;}
i{font-style:italic;}

.left{float:left;}
.right{float:right;}
.center{margin:0px auto;}
b{font-weight:700;}
strong{font-weight:700;}

/*************** style **************/
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800');

h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

body{margin:0px; padding:0px; font-family: 'Poppins', sans-serif !important;}

.thirt-form,.Contact-form,.forth-form,.five-form,.six-form{
     float: left;
    width: 100%;
    padding: 20px 0px;
    margin: 20px 0px;
}
input[type="text"] {
    border: 0px;
    border-bottom: 1px solid;
    outline: none;
    background: #f1f4ff;
}
input.appli-d {
    width: 170px;
}
.Name-first label {
    float: left;
}
.Name-first label {
    float: left;
    width: 10%;
}
.Name-first input[type="text"] {
    width: 30%;
        margin-bottom: 6px;
}
.Name-first {
    float: left;
    width: 100%;
    padding-bottom: 20px;
    padding-left: 25px;
}
.Name-first h6 {
    margin: 20px 0px;
}
.LTC-services {
    float: left;
    width: 100%;
     border:1px solid;
}
.field {
    width: 100%;
    float: left;
}
.LTC-services-left {
    float: left;
    width: 59%;
	
}
.LTC-services .field-group {
    width:25%;
    float: left;
}
input.fn {
    margin-left: 20px;
}
.LTC-services-left input {
    width: 100%;
}
input.fn {
    width: 88%;
}
.first-text {
    float: left;
    width: 100%;
    border-bottom: 1px solid;
}
.first-text input {
    border-bottom: 0px;
}
.LTC-services-RIGHt {
    float: right;
    width: 40%;
    text-align: right;
	padding-right: 25px;
}
.LTC-services-RIGHt .form-group {
    width: 20%;
    float: left;
        margin-bottom: 0px;
}
.LTC-services-RIGHt .form-group input[type="text"] {
    width: 92%;
    float: left;
    text-align: right;
}
p.birth {
    /* float: right; */
    margin-bottom: -7px;
}
.LTC-services-RIGHt .form-group {
    width: 18%;
    float: right;
    margin-bottom: 0px;
    text-align: left;
}
.chec-box input[type="checkbox"] {
    margin-right: 15px;
}
.second-text {
    float: left;
    width: 100%;
    padding: 10px 0px;
    border-bottom: 1px solid;
}
p.have-b span {
    float: left;
    margin-right: 12px;
}
.field-group.At.Home {
    width: 20%;
}
.field-group.text1 {
    width: 40%;
}
.field-group.text1 input[type="text"] {
    width: 100%;
}
.field-group.text2 {
    width: 40%;
    float: right;
    text-align: right;
}
.field-group.text2 input[type="text"] {
    width: 60%;
}
.field-group.At.Home label {
    display: inline-grid;
}
.field.Ma-Status .field-group {
    width: 16%;
}
input[type="checkbox"] {
    vertical-align: middle;
}
.field.Ma-Status {
    padding-top: 25px;
}
.third-text {
    float: left;
    width: 100%;
    padding: 10px 0px 0px;
    padding-left: 8px;
}
h5.main-h {
    float: left;
    width: 100%;
    margin: 20px 0px;
}
.chec-box {
    padding-left: 8px;
}
p.have-b {
    padding-left: 8px;
}
.Spouse-first {
    float: left;
    width: 100%;
	    border-bottom: 1px solid;
    padding-top: 8px;
	 padding-left:8px;
}
.Spouse-first .field-group {
    float: left;
    width: 25%;
}
.Spouse-first .LTC-services-left {
    float: left;
    width: 85%;
}
.field-group.ln1 {
    width: 15%;
}
.LTC-services-left input {
    width: 100%;
    border: none;
}
.Spouse-second {
    float: left;
    width: 100%;
	padding: 8px 0px;
	    border-bottom: 1px solid;
		 padding-left:8px;
}

.Spouse-second .field-group {
    width: 33%;
    float: left;
}
.field-group.datsq input[type="text"] {
   
    width: 20%;
    border: none;
    background: no-repeat;
}
.field-group.social input[type="number"] {
    border: none;
	outline:none;
}
.field-group.gen span {
    margin-left: 20px;
}
.field-group.ln1.the {
    width: 45%;
}
.field-group.ln1.the input.suffix {
    width: 137%;
}
.Spouse {
    float: left;
    width: 100%;
    border: 1px solid;
}
.form-end {
    float: left;
    width: 100%;
	    padding: 36px 0px;
}
.form-end p {
    width: 50%;
    float: left;
}
.LTC-services-left:first-child {
    margin-left: 7px;
}
.second-form {
    float: left;
    width: 100%;
    padding: 30px 0px;
}
.ck-ys {
    float: left;
    width: 100%;
  border-bottom: 1px solid;
}
.ck-ys b {
    padding-top: 10px;
}
.YES b {
    float: left;
    width: 50%;
}
.about-yourself-main {
    float: left;
    width: 100%;
	    border: 1px solid;
}
.RECEIVING-INCOME b,.INCOME-TYPE b,.MONTHLY-a b{
    text-align: center;
    width: 100%;
    float: left;
}
.No {
    padding-top: 10px;
}
.YES {
    width: 50%;
    text-align: left;
}
.No {
    float: right;
    width: 50%;
}
.No input[type="checkbox"] {
    vertical-align: middle;
    margin-top: 2px;
}
.INCOME-TYPE {
    padding-top: 10px;
}
.ck-ys label {
    margin-bottom: 0px !important;
}
.RECEIVING-INCOME input[type="text"] {
    border: none;
    width: 100%;
    height: 50px;
}
.MONTHLY-a input[type="text"] {
    width: 94%;
    height: 50px;
    border: none;
}
.col-lg-4.border-right.th {
    padding: 0px;
}
.border-left {
    border-left: 1px solid #000000 !important;
}
.ASSETS-main {
    float: left;
    width: 100%;
	border-bottom: 1px solid;
	padding-left:8px;
}
.ASSETS-main b {
    padding-top: 15px;
}
.ASSETS-main .No {
    padding-top: 15px;
}.ASSETS-main .No {
    padding-top: 15px;
}
.ASSETS-main .INCOME-TYPE {
    padding-top: 0px;
}
.ASSETS-main label {
    padding-top: 8px;
    margin-bottom: 0px;
	line-height:20px;
}
.MONTHLY-a.s input[type="text"] {
    width: 90%;
}
.ASSETS-main input[type="text"] {
    margin-top: 15px;
    height:33px;
}
.thr b {
    padding-top: 8px;
}
.thr .No {
    padding-top: 8px;
}
input.tn {
    width: 70px;
    margin-top: 10px !important;
}
input.o-Assets {
    width: 100px;
    margin-top: 10px !important;
}
.ck-ys {
    padding-left: 8px;
}
/********* thirt-form ********/
.third-form-inner {
    float: left;
    width: 100%;
	border:1px solid;
}

.COVERED-text {
    float: left;
    width: 100%;
	border-bottom:1px solid;
  
}
.COVERED-text .field-group {
    width: 16.16%;
    float: left;
}
.COVERED-text .field-group h6 {
    text-align: center;
	    font-weight: 600;
}
.field-group.s {
    border-left: 1px solid;
    border-right: 1px solid;
}
.field-group.t {
    border-right: 1px solid;
}
.field-group.fr {
    border-right: 1px solid;
}
.field-group.ff {
    border-right: 1px solid;
}
.COVERED-text input[type="text"] {
    width: 100%;
    border-bottom: 0px;
}
input.amp {
    width:88% !important;
}
label.ampth {
    margin-bottom: 0px;
	padding-left:8px;
}
.COVERED-text input[type="text"] {
    margin-top: 8px;
}
.COVERED-text h6 {
    height: 58px;
    padding: 5px 0px;
}
.WITH-BILL-main {
    float: left;
    width: 100%;
	border-bottom: 1px solid;
}
.WITH-BILL-main .field-group.wf {
    float: left;
    width:17%;
    border-right: 1px solid;
}
.field-group.ws {
    width: 50%;
    float: left;
}
.field-group.wt {
    float: left;
    width: 33%;
}
.WITH-BILL-main h6 {
    text-align: center;
}
.field-group.ws {
    width: 50%;
    float: left;
    border-right: 1px solid;
}
.WITH-BILL-main input[type="text"] {
    width: 100%;
    border: none;
    margin-top: 8px;
}
.WITH-BILL-main h6 {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 0px;
}
.field-group.wt input[type="text"] {
    width: 75%;
    margin-left: 50px;
}
.OWNER-NAME-main {
    float: left;
    width: 100%;
	 border-bottom:1px solid;
}
.OWNER-NAME-main h6 {
    margin: 5px 0px;
    text-align: center;
}
.field-group.onff {
    float: left;
    width: 25%;
    border-right: 1px solid;
}
.field-group.onfs {
    float: left;
    width: 50%;
}
.field-group.onft {
    width: 25%;
    float: left;
    border-left: 1px solid;
}
.OWNER-NAME-main input[type="text"] {
    width: 100%;
    border-bottom: 0px;
	 
}
.field-group.onft input[type="text"] {
    width: 93%;
}
.OWNER-NAME-main label {
    margin-bottom: 0px;
}
.ESTATE-INTEREST-main {
    float: left;
    width: 100%;
    border-bottom: 1px solid;
}
.field-group.eif {
    float: left;
    width: 25%;
    border-right: 1px solid;
}
.field-group.eis {
    float: left;
    width: 15%;
    border-right: 1px solid;
}
.field-group.eit {
    float: left;
    width: 35%;
	    border-right: 1px solid;
}
.field-group.eiff {
    width: 25%;
    float: left;
}
.ESTATE-INTEREST-main h6 {
    text-align: center;
    margin: 5px 0px;
    height: 40px;
}
.ESTATE-INTEREST-main input[type="text"] {
    width: 100%;
    border-bottom: none;
}
.ESTATE-INTEREST-main label {
    margin-bottom: 0px;
    padding-left: 8px;
}
input.amount-p {
    width: 93% !important;
}
.OWNER-NAME-main label {
    margin-bottom: 0px;
    padding-left: 8px;
}
b {
    font-weight: 600 !important;
    line-height: 20px;
}
h6 {
    font-weight: 600 !important;
    line-height: 20px;
}

/*** four-form *****/
.ITEMS-SOLD {
    float: left;
    width: 100%;
    border-bottom: 1px solid;
}

.ITEMS-SOLD .field-group {
    float: left;
}
.field-group.isf {
    width: 15%;
    border-right: 1px solid;
}
.field-group.isfs {
    width: 15%;
    border-right: 1px solid;
}
.field-group.isft {
    width:35%;
    border-right: 1px solid;
}
.field-group.isff {
    width: 15%;
    border-right: 1px solid;
}
.field-group.isffv {
    width: 20%;
}
.ITEMS-SOLD h6 {
    text-align: center;
    margin: 10px 0px;
	    height: 50px;
}
.field-group.isffv h6 {
    padding-top: 15px;
}
.ITEMS-SOLD input[type="text"] {
    width: 100%;
	margin-top: 8px;
    border: 0px;
}
.ITEMS-SOLD label {
    margin-bottom: 0px;
    padding-left: 8px;
}
input.avi {
    width: 88% !important;
}
input.amr {
    width: 80% !important;
}
.ISSUANCE-DATE {
    float: left;
    width: 100%;
    border-bottom: 1px solid;
}
.field-group.issued-f {
    width: 15%;
    border-right: 1px solid;
}
.ISSUANCE-DATE .field-group {
    float: left;
}
.ISSUANCE-DATE h6 {
    margin: 10px 0px;
    text-align: center;
}
.field-group.issued-t {
    width: 70%;
}
.ISSUANCE-DATE input[type="text"] {
    width: 100%;
    border: none;
	height: 30px;
}
.PROMISSORY {
    float: left;
    width: 100%;
    border-bottom: 1px solid;
}
.PROMISSORY .field-group {
    float: left;
}
.PROMISSORY h6 {
    text-align: center;
    margin: 10px 0px;
	height:55px;
}
.field-group.prnf {
    border-right: 1px solid;
    width: 15%;
}
.field-group.prns {
    width: 30%;
    border-right: 1px solid;
}
.field-group.prnt {
    width: 15%;
}
.field-group.prnt {
    width: 15%;
    border-right: 1px solid;
}
.field-group.prnff {
    width: 20%;
    border-right: 1px solid;
}
.field-group.prnffv {
    width: 20%;
}
.PROMISSORY label {
    width: 100%;
    margin: 0px;
    padding-left: 8px;
}
.PROMISSORY input[type="text"] {
    border: none;
width:100%;}
label.ora {
    margin-top: 4px;
}
input.prsn {
    height: 56px;
}
label.prsn {
    height: 40px;
    margin-top: 16px;
}
.TRANSACTION {
    float: left;
    width: 100%;
	border-bottom:1px solid;
}
.TRANSACTION .field-group {
    float: left;
}
.field-group.traf {
    width: 15%;
    border-right: 1px solid;
}
.field-group.traft {
    width: 55%;
}
.field-group.traft {
    width: 50%;
    border-right: 1px solid;
}
.field-group.trafr {
    width: 20%;
}
.TRANSACTION h6 {
    text-align: center;
    margin: 10px 0px 5px;
}
.TRANSACTION input {
    width: 100%;
}
.TRANSACTION input {
    width: 100%;
    border: none;
}
.TRANSACTION label {
    margin-bottom: 0px;
    margin-top: 4px;
    padding-left: 8px;
}
input.trat {
    height: 54px;
}
.four-inner {
    float: left;
    width: 100%;
    border: 1px solid;
}


/*************/
h5.Read-sign {
    float: left;
    margin: 15px 0px;
}
h5.Read-sign span {
    margin-right: 3em;
}
.read-list {
    float: left;
    width: 100%;
}
ul.r-list {
    float: left;
    width: 100%;
    padding-left: 6em;
}
ul.r-list li {
    line-height: 25px;
	    font-size: 16px;
}
ul.r-list li a {
    color: #000;
    font-weight: 900;
    text-decoration: none;
}

.Signature {
    float: left;
    width: 100%;
	    margin-bottom: 20px;
 
	 border:1px solid;
}
.Signature-left {
    float: left;
    width: 60%;
}
.Signature-right {
    float: right;
    width: 40%;
}
.Signature input[type="text"] {
    border: none;
    background: no-repeat;
	 width:100%;
	     height: 40px;
}
.Signature-left {
    float: left;
    width: 60%;
    border-right: 1px solid;
}
.Signature label {
    margin-bottom: 0px;
    padding-left: 8px;
	    padding-top: 5px;
}
.CHECKED-BELOW {
    float: left;
    width: 100%;
}
span.blow input[type="text"] {
    background: none;
}
.MED-QUEST {
    float: left;
    width: 100%;
    margin-top: 20px;
}
.MED-QUEST ul li {
    list-style: none;
    font-size: 16px;
	line-height:26px;
}
.MED-QUEST-left {
    float: left;
    width: 50%;
    border-right: 1px solid;
}
.MED-QUEST input[type="checkbox"] {
    float: left;
    margin: 0px 15px;
    margin-top: 7px;
}
.MED-QUEST h6 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid;
    margin-bottom: 0px;
    padding: 10px 0px;
}
.MED-QUEST {
    float: left;
    width: 100%;
    margin-top: 20px;
    border: 1px solid;
}
li.resprt {
    padding-bottom: 10px;
}
ul.r-list.apx {
    padding-left: 3em;
}
.APPENDIX {
    float: left;
    width: 100%;
}
.auth-repr {
    float: left;
    width: 100%;
	border-bottom:1px solid;
	padding-left:8px;
}
.auth-repr .field-group {
    float: left;
    
}
.auth-repr input[type="text"] {
    width: 100%;
    border-bottom: 0px;
}

.field-group.aurf {
    width: 30%;
}
.field-group.aurt {
    width: 15%;
}
input.lmx {
    background: none;
}
input.lmxf {
    width: 45% !important;
}
input.nar {
    margin-left: 16px;
}
.Mailing-Address {
    width: 100%;
    float: left;
	border-bottom:1px solid;
	padding-left:8px;
}
.Mailing-Address label {
    width: 100%;
}
.field-group.mail {
    float: left;
    width: 60%;
    border-right: 1px solid;
}
.field-group.asn {
    float: right;
    width: 40%;
	    padding-left: 10px;
}
.Mailing-Address input {
    border: none;
}
input.madd {
    margin-left: 16px;
    width: 92%;
}
input.mads {
    margin-left: 16px;
    width: 47%;
}
input.mads {
    margin-left: 16px;
    width: 47%;
}
.City-text {
    float: left;
    width: 100%;
	border-bottom: 1px solid;
	padding-left:8px;
}
.City-text .field-group {
    float: left;
}
.City-text label {
    width: 100%;
}
.City-text input {
    border: none;
}
.field-group.City {
    width: 40%;
	 border-right:1px solid;
}
input.city {
    margin-left: 16px;
    width: 90%;
}
.field-group.state {
    width: 20%;
    padding-left: 10px;
	    border-right: 1px solid;
}
input.state {
    width: 60%;
}
.field-group.zip {
    width: 40%;
    padding-left: 10px;
}
input.zip-c {
    margin-left: 16px;
    width: 42%;
}
input.state.s {
    background: #f1f4ff;
    width: 85%;
	outline:none;
}
input.city.f {
    width: 94%;
}
input.zip-c.t {
    background: no-repeat;
}
h6.inform {
    float: left;
    margin: 10px 0px;
}
.Signature.singn {
    border: none;
	    margin: 0px;
   
}
.authr-border {
    float: left;
    width: 100%;
    border: 1px solid;
}
.As-the {
    float: left;
    padding: 10px;
}
.As-the p {
    margin-top: 20px;
}
.Representativ {
    float: left;
    width: 100%;
    border: 1px solid;
}
.Represen-text {
    float: left;
    width: 100%;
    border-bottom: 1px solid;
   
}
.Represen-text input[type="text"],input[type="number"] {
    border: none;
    width: 100%;
	    background: #f1f4ff;
		outline:none;
}
.Represen-text label {
    width: 100%;
    padding-left: 8px;
}
.field-group.rt-texts {
    width:20%;
	border-right:1px solid;
}
.Represen-text .field-group {
    float: left;
}
.field-group.rt-text {
    width: 40%;
	    border-right: 1px solid;
}
.field-group.rt-textt {
    width: 40%;
}
.As-applicabl {
    float: left;
    width: 100%;
	
}
.As-applicabl .field {
    float: left;
    border-bottom: 1px solid;
}
.field-group.appcb {
    float: left;
    width: 40%;
    
}
label.prnm {
    text-align: center;
    width: 130%;
}
.field-group.appcb input[type="text"] {
   
    height: 40px;
}
.field-group.appcb {
    float: left;
    width: 31%;
}
label.pro {
    float: right;
}
.field-group.appcbf input.volum {
    height: 40px;
}
input.volum {
    width:32%;
}
.field-group.appcbf {
    float: left;
    width: 69%;
}
.As-applicabl .field {
    padding: 0px 8px 0px 15px;
}
h6.certified {
    float: left;
    width: 100%;
    padding: 20px 8px;
}
.As-applicabl.aspll .field {
    border-bottom: 0px;
}
.Application-start {
    float: left;
    width: 100%;
}
.Application-start .field {
    padding: 0px 8px;
	    border-bottom: 1px solid;
}
.Application-start label {
    width: 100%;
}
.Application-start input[type="text"] {
    border: none;
        background: none;
    width: 100%;
}
.Application-start.fms .field-group.First-app-f {
    float: left;
    width: 15%;
}
.Application-start-border {
    float: left;
    width: 100%;
    border: 1px solid;
}
.slide-btn {
    float: right;
    width: 100%;
}
a.page-link {
    background: #f1f4ff;
	outline:none !important;
}
.page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow:0px !important;
}
button.btn.btn-primary {
    padding: 5px 10px;
    border: 1px solid #007bff;
    margin-left: 0px;
}
ul.pagination{ float: right; }
ul.pagination li.page-item {
    display: inline;
}