<div class="col-lg-10 col-md-10 col-sm-10 no-padding">
    <div class="row">
        <div class="col-md-12 text-align-center" style="padding-bottom:20px !important">
            <span>APPENDIX W</span><br />
            <div style="padding-bottom: 20px;"><b>MIF</b></div>
            <span><b>SOURCE Member Information Form</b></span>
        </div>
    </div>
    <div class="row mt-radio-inline">
        <div class="col-md-6 text-align-center">
            <label class="mt-radio mt-radio-outline">
                <input type="radio" name="P_T_CM" class="uniformControls" /> Provider to Case Manager
            </label>
        </div>
        <div class="col-md-6 text-align-center">
            <label class="mt-radio mt-radio-outline">
                <input type="radio" name="P_T_CM" class="uniformControls" /> Case Manager to Provider
            </label>
        </div>
    </div>
    <div class="row mt-radio-inline">
        <div class="col-md-7 text-align-center" style="margin-top:10px !important">
            <label class="mt-radio mt-radio-outline" style="margin-left: -7px !important;">
                <input type="radio" name="MIFFormType" class="uniformControls" /> Initial
            </label>
            <label class="mt-radio mt-radio-outline">
                <input type="radio" name="MIFFormType" class="uniformControls" /> Change
            </label>
            <label class="mt-radio mt-radio-outline">
                <input type="radio" name="MIFFormType" class="uniformControls" /> Discharge
            </label>
            <label class="mt-radio mt-radio-outline">
                <input type="radio" name="MIFFormType" class="uniformControls" /> FYI
            </label>
        </div>
        <div class="col-md-5 text-align-center" style="margin-top:10px !important;margin-left: -21px !important;">
            <span>Response required?</span>
            <label class="mt-radio mt-radio-outline">
                <input type="radio" name="Response_Required" class="uniformControls" /> YES
            </label>
            <label class="mt-radio mt-radio-outline">
                <input type="radio" name="Response_Required" class="uniformControls" /> NO
            </label>
        </div>
    </div>
    <div class="row">
        <strong class="col-sm-3" style="text-align: right;margin-left: 27px;margin-top: 20px;">Provider Name</strong>
        <div class="col-sm-7 form-group form-md-line-input" style="margin-top: 20px;">
            <input type="text" class="form-control input-sm height-19px" />
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <strong class="col-sm-3" style="text-align: right;margin-left: 27px;">Member Name</strong>
        <div class="col-sm-4 form-group form-md-line-input">
            <input type="text" class="form-control input-sm height-19px" />
        </div>
        <strong style="float: left;">Medicaid No</strong>
        <div class="col-sm-2 form-group form-md-line-input">
            <input type="text" class="form-control input-sm height-19px" style="width:165px !important" />
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-3" style="text-align: right;margin-left: 9px;"><strong>Service type</strong></div>
        <div class="col-sm-8 mt-check-inline" style="padding-left: 28px;">
            <label class="mt-check mt-check-outline" style="padding-right:10px">
                <input type="checkbox" class="uniformControls" checked /> AHD
            </label>
            <label class="mt-check mt-check-outline" style="padding-right:10px">
                <input type="checkbox" class="uniformControls" /> ALS
            </label>
            <label class="mt-check mt-check-outline" style="padding-right:10px">
                <input type="checkbox" class="uniformControls" /> ERS
            </label>
            <label class="mt-check mt-check-outline" style="padding-right:10px">
                <input type="checkbox" class="uniformControls" /> HDM
            </label>
            <label class="mt-check mt-check-outline" style="padding-right:10px">
                <input type="checkbox" class="uniformControls" /> HDS
            </label>
            <label class="mt-check mt-check-outline" style="padding-right:10px">
                <input type="checkbox" class="uniformControls" /> PSS
            </label>
            <label class="mt-check mt-check-outline" style="padding-right:10px">
                <input type="checkbox" class="uniformControls" /> EPS
            </label>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-4" style="text-align:right;margin-left: -17px !important;">
            <strong>Initial Service offered?</strong>
        </div>
        <div class="col-sm-2" style="padding-left: 0px;">
            <select class="form-control input-xs" data-ng-model="InitialServiceOffered">
                <option value="">Select</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
        </div>
        <strong style="float: left;" data-ng-if="InitialServiceOffered == 'No'">No – Reason</strong>
        <div class="col-sm-4 form-group form-md-line-input" data-ng-if="InitialServiceOffered == 'No'">
            <input type="text" class="form-control input-sm height-19px" style="width:303px !important" />
        </div>
    </div>
    <div class="row" style="margin-top: 20px;" data-ng-if="InitialServiceOffered == 'Yes'">
        <div class="col-sm-4" style="text-align:right;margin-left: 10px !important;">
            <strong>YES, Date services initiated</strong>
        </div>
        <div class="col-sm-3 form-group form-md-line-input">
            <div class="col-sm-12 input-group date  pull-left"
                 datepicker="Dateservicesinitiated"
                 data-ng-dateval="Dateservicesinitiated">
                <input type="text" class="form-control input-sm height-19px dateInputMask" placeholder="@Constants.GlobalDateFormat" />
                <span class="input-group-addon no-padding"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;" data-ng-if="InitialServiceOffered == 'Yes'">
        <div class="col-sm-3" style="text-align:right;margin-left: 34px !important">
            <strong>Frequency/Units</strong>
        </div>
        <div class="col-sm-7 form-group form-md-line-input">
            <input type="text" class="form-control input-sm height-19px"/>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-6 text-align-center">
            
        </div>
        <div class="col-md-6 text-align-center">
            <strong>Change/FYI</strong>
        </div>
    </div>
    <div class="row mt-check-inline">
        <div class="col-sm-5" style="margin-left: 170px;">
            <label class="mt-check mt-check-outline">
                <input type="checkbox" class="uniformControls" /> Recommendation for change in service
            </label>
        </div>
        <div class="col-sm-5">
            <label class="mt-check mt-check-outline">
                <input type="checkbox" class="uniformControls" /> Change in frequency/units by case manager
            </label>
        </div>
    </div>
    <div class="row mt-check-inline">
        <div class="col-sm-5" style="margin-left: 170px;">
            <label class="mt-check mt-check-outline">
                <input type="checkbox" class="uniformControls" /> Change in mbr’s. Health/functional status
            </label>
        </div>
        <div class="col-sm-5">
            <label class="mt-check mt-check-outline">
                <input type="checkbox" class="uniformControls" /> Change of physician/CM
            </label>
        </div>
    </div>
    <div class="row mt-check-inline">
        <div class="col-sm-5" style="margin-left: 170px;">
            <label class="mt-check mt-check-outline">
                <input type="checkbox" class="uniformControls" /> Hospitalization
            </label>
        </div>
        <div class="col-sm-5">
            <label class="mt-check mt-check-outline">
                <input type="checkbox" class="uniformControls" /> Other
            </label>
        </div>
    </div>
    <div class="row mt-check-inline">
        <div class="col-sm-5" style="margin-left: 170px;">
            <label class="mt-check mt-check-outline">
                <input type="checkbox" class="uniformControls" /> Service not delivered
            </label>
        </div>
        <div class="col-sm-5">
            <label class="mt-check mt-check-outline">
                <input type="checkbox" class="uniformControls" /> FYI
            </label>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-3" style="text-align: right;padding-right: 8px;">
            <strong>Explanation</strong>
        </div>
        <div class="col-sm-7 form-group form-md-line-input">
            <div class="form-md-line-input form-row-seperated">
                <textarea class="form-control input-sm" rows="3"></textarea>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-4" style="text-align:right;margin-left: -6px !important;">
            <strong>Effective date of change</strong>
        </div>
        <div class="col-sm-3 form-group form-md-line-input">
            <div class="col-sm-12 input-group date  pull-left"
                 datepicker="Effectivedateofchange"
                 data-ng-dateval="Effectivedateofchange">
                <input type="text" class="form-control input-sm height-19px dateInputMask" placeholder="@Constants.GlobalDateFormat" />
                <span class="input-group-addon no-padding"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-align-center" style="padding-top:20px !important">
            <span><strong>Discharge</strong></span>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-4" style="text-align: right;padding-right: 62px;">
            <strong>Discharge Reason</strong>
        </div>
        <div class="col-sm-6 form-group form-md-line-input">
            <div class="form-md-line-input form-row-seperated">
                <textarea class="form-control input-sm" rows="3" disabled></textarea>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-4" style="text-align: right;padding-right: 61px;">
            <strong>Date of Discharge</strong>
        </div>
        <div class="col-sm-3 form-group form-md-line-input">
            <input type="text" class="form-control input-sm height-19px" disabled />
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-3" style="text-align: right;padding-right: 12px;">
            <strong>COMMENTS</strong>
        </div>
        <div class="col-sm-7 form-group form-md-line-input">
            <div class="form-md-line-input form-row-seperated">
                <textarea class="form-control input-sm" rows="3"></textarea>
            </div>
        </div>
    </div>
    <div class="row text-align-center" style="margin-top: 20px;">
        <div class="col-sm-12">
            <div class="col-sm-6" style="margin-left: -14px;">
                <strong>Prior Authorization Dates</strong>
            </div>
            <div class="col-sm-2 form-group form-md-line-input" style="margin-left: -169px;">
                <input type="text" class="form-control input-sm height-19px" disabled />
            </div>
            <div class="col-sm-1 text-align-center" style="padding-left: 0px;padding-right: 0px;width:1%">To</div>
            <div class="col-sm-2 form-group form-md-line-input">
                <input type="text" class="form-control input-sm height-19px" disabled />
            </div>
            <div class="col-sm-1"><strong>PA #</strong></div>
            <div class="col-sm-2 form-group form-md-line-input">
                <input type="text" class="form-control input-sm height-19px" disabled />
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-12 text-align-center" style="margin-left: 150px;">
            <div class="col-sm-1"><strong>Signature</strong></div>
            <div class="col-sm-5 form-group form-md-line-input">
                <input type="text" class="form-control input-sm height-19px" disabled />
            </div>
            <div class="col-sm-1"><strong>Date</strong></div>
            <div class="col-sm-2 form-group form-md-line-input">
                <input type="text" class="form-control input-sm height-19px" disabled />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-align-center" style="margin-left: 150px;">
            <div class="col-sm-1" style="text-align: left;"><strong>Title</strong></div>
            <div class="col-sm-5 form-group form-md-line-input">
                <input type="text" class="form-control input-sm height-19px" disabled />
            </div>
            <div class="col-sm-1"><strong>Phone</strong></div>
            <div class="col-sm-2 form-group form-md-line-input">
                <input type="text" class="form-control input-sm height-19px" disabled />
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-12 text-align-center" style="margin-left: 150px;">
            <div class="col-sm-1"><strong>Signature</strong></div>
            <div class="col-sm-5 form-group form-md-line-input">
                <input type="text" class="form-control input-sm height-19px" disabled />
            </div>
            <div class="col-sm-1"><strong>Date</strong></div>
            <div class="col-sm-2 form-group form-md-line-input">
                <input type="text" class="form-control input-sm height-19px" disabled />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-align-center" style="margin-left: 150px;">
            <div class="col-sm-1" style="text-align: left;"><strong>Title</strong></div>
            <div class="col-sm-5 form-group form-md-line-input">
                <input type="text" class="form-control input-sm height-19px" disabled />
            </div>
            <div class="col-sm-1"><strong>Phone</strong></div>
            <div class="col-sm-2 form-group form-md-line-input">
                <input type="text" class="form-control input-sm height-19px" disabled />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            Service Options Using Resources In Community Environments
            <br />
            Rev. 10/2015 04/10
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="pull-right">
            <button class="btn btn-sm red">
                <i class="fa fa-remove">&nbsp;&nbsp;</i>Cancel
            </button>
            <button type="submit" class="btn btn-sm green-jungle">
                <i class="fa fa-save ">&nbsp;&nbsp;</i>Save
            </button>
        </div>
    </div>
</div>