

           
<div class="btn-group padding-left-15 pull-right">
	<a ng-click="" class="btn btn-sm green-jungle letter-space pull-right">
		<i class="fa fa-plus">&nbsp;&nbsp;</i>New Form
	</a>
</div>

<div class="">
<table class="table table-bordered table-striped table-condensed flip-content">
            <thead class="flip-content">
                <tr>
                   
                    <th class="">
                        <a class="anchor_color" href="javascript:void(0);">Report Id</a>
                        <span class="sortorder"></span>
                    </th>
                    <th class="">
                        <a class="anchor_color" href="javascript:void(0);">Name</a>
                        <span class="sortorder"></span>
                    </th>
                   
                    <th width="125" class="actionTh">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr class="compact-search-tr">
                    
                    <td>
                        <input class="form-control input-sm" maxlength="50" name="SearchEmployeeModel.EmployeeUniqueID" placeholder="Employee ID" type="text" value="">
                    </td>
                   
                    <td>
                        <input class="form-control input-sm" id="MobileNumber" maxlength="10" name="Mobile Number" placeholder="Mobile Number" type="text" value="">
                    </td>
                   
                    <td>
                        <input type="submit" value="Search" class="btn btn-default grey btn-xs float-left">
                        <a href="javascript:void(0);" class="btn btn-default grey btn-xs">Reset</a>
                    </td>
                </tr>

                <tr>
                  
                    <td>EM001</td><td>DAMS</td>
                    <td class="text-align-center actions">
                        <button class="btn btn-xs blue"><i class="fa fa-edit"></i></button>
                        <a href="javascript:void(0);" class="btn btn-xs green ng-hide">Active</a>
                        <a href="javascript:void(0);" class="btn btn-xs red"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
</div>