@model HC_DayCare_ScheduleAssignmentModel
<div id="emprefschmodal" class="modal fade" role="dialog" data-ng-controller="EmpRefSchController">
    <div class="modal-dialog modal-md emprefschmod-width" style="width: 40%;">
        <!-- Modal content-->
        <div class="modal-content emprefschmod" style="min-height: 300px !important;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                @*<button type="button" class="close" data-ng-click="CloseEmpRefSchModal()">&times;</button>*@
                <h4 class="caption margin-bottom-0 margin-top-5">
                    <a class="text-decoration-none sbold uppercase ng-binding" target="_blank" href="@Constants.HC_AddReferral{{PatientDetail.EncryptedReferralID}}">{{PatientDetail.ReferralName}}</a>


                    @*<a target="_blank"
                       data-ng-if="PatientDetail.ReferralTSDateID > 0 && PatientDetail.ScheduleID == 0"
                        href="@Constants.HC_BroadcastNotificationURL@Convert.ToString(Mobile_Notification.NotificationTypes.ScheduleNotification).ToLower()/{{PatientDetail.EncryptedReferralTSDateID}}"
                        class="btn btn-xs purple" style="float: right; margin-right: 30px; margin-top: -5px;">
                        <i class="fa fa-send-o"></i>&nbsp;&nbsp;
                        @Resource.SendScheduleNotification
                    </a>*@


                    @*<div class="pull-right top pagination-sm padding-right-20px" >
                        
                        <img src="~/Assets/images/lazyload.gif" />
                    </div>*@

                </h4>


            </div>
            <div class="modal-body">
                @*@Html.Partial("Partial/01/_EmpRefSchScreen")*@
                @Html.Partial("/Areas/HomeCare/Views/Schedule/Partial/CaseManagement/_EmpRefSchScreen.cshtml", Model)
            </div>
        </div>

    </div>
</div>
